Repository habitat-sh/habitat, pull requests merged in 2018-07, with the labels that each got.

#5288 0.58.0 follow up
  CHANGELOG.md
  VERSION
  www/source/blog/2018-07-02-Habitat-0.58.0-Released.html.md
Labels: Expeditor: Exclude from Changelog

#5293 Miscellaneous Changelog Tweaks
  CHANGELOG.md
Labels: Expeditor: Exclude from Changelog

#5294 Loosen Rust build dependency pin
  .travis.yml
  components/eventsrv/habitat/plan.sh
  components/launcher/habitat/plan.sh
  components/sup/plan.sh
Labels: C-chore

#5081 Add success and failure callbacks for plan builds
  components/plan-build/bin/hab-plan-build.sh
  www/source/partials/docs/_reference-callbacks.html.md.erb
Labels: A-plan-build, C-feature, E-less-easy, L-shell, V-devx

#5311 [common] Updates due to PackageTarget changes in habitat-sh/core#37.
  Cargo.lock
  components/common/src/command/package/install.rs
  components/hab/src/command/pkg/binlink.rs
  components/pkg-export-docker/src/build.rs
Labels: A-builder, A-cli, A-exporter, A-supervisor, C-chore, E-easy, I-linux, I-macOS, I-windows, L-rust

#5321 Release 0.59.0
  CHANGELOG.md
  VERSION
Labels: Expeditor: Exclude from Changelog

#5348 Make sup-run launch the supervisor in its own session, detached from the TTY
  components/rootless_studio/default/profile
  components/studio/libexec/hab-studio-type-default.sh
Labels: X-fix

#5350 [plan-build] Set `$pkg_target` at build time for build programs.
  components/hab/plan.ps1
  components/hab/plan.sh
  components/pkg-export-docker/plan.ps1
  components/pkg-export-docker/plan.sh
  components/pkg-export-helm/plan.sh
  components/pkg-export-kubernetes/plan.sh
  components/pkg-export-tar/plan.ps1
  components/pkg-export-tar/plan.sh
  components/plan-build-ps1/bin/hab-plan-build.ps1
  components/plan-build-ps1/plan.ps1
  components/plan-build/bin/hab-plan-build.sh
  components/plan-build/plan.sh
  components/sup/plan.ps1
  components/sup/plan.sh
Labels: A-cli, A-exporter, A-plan-build, A-supervisor, C-feature, E-less-easy, I-linux, I-windows, L-shell, V-core-plans, V-devx, V-sup, X-feature

#5355 [core] Add new PackageTarget from habitat-sh/core#42.
  Cargo.lock
Labels: A-cli, A-exporter, A-supervisor, C-feature, E-easy, I-linux, I-macOS, I-windows, L-rust, V-core-plans, V-devx, V-sup, X-feature

#5356 [ci,rustfmt] Formatting due to rustfmt 0.6.1 release in Rust 1.27.1.
  .travis.yml
  components/butterfly/src/member.rs
  components/butterfly/src/rumor/dat_file.rs
  components/butterfly/src/rumor/departure.rs
  components/butterfly/src/rumor/election.rs
  components/butterfly/src/rumor/service_config.rs
  components/butterfly/src/rumor/service_file.rs
  components/butterfly/src/server/mod.rs
  components/hab/src/scaffolding.rs
  components/launcher-client/src/lib.rs
  components/pkg-export-kubernetes/src/error.rs
  components/pkg-export-kubernetes/src/storage.rs
  components/sup/src/main.rs
  components/sup/src/manager/events.rs
  components/sup/src/manager/mod.rs
  components/sup/src/manager/service/config.rs
  components/sup/src/manager/service/spec.rs
  components/sup/src/manager/user_config_watcher.rs
Labels: C-chore, E-easy, I-linux, I-macOS, I-windows

#5359 Initial draft of "bastion ring" documentation
  www/data/docs_sidebar.yml
  www/source/docs/best-practices.html.md.erb
  www/source/partials/docs/_bp-robust-supervisor-networks.md.erb
Labels: A-documentation

#5365 Remove rust-ipc-socket files when appropriate
  Cargo.lock
  components/launcher-client/Cargo.toml
  components/launcher-client/src/client.rs
  components/launcher-client/src/lib.rs
  components/launcher/src/server/mod.rs
  test/end-to-end/test_socket_file_cleanup.sh
Labels: X-fix

#5371 Make butterfly output tunable with env_logger
  components/butterfly/src/rumor/election.rs
  components/butterfly/src/server/mod.rs
  components/butterfly/src/server/push.rs
Labels: X-change

#5179 Switch to `prost` from `protobuf` crate in Butterfly
  Cargo.lock
  components/butterfly-test/src/lib.rs
  components/butterfly/Cargo.toml
  components/butterfly/build.rs
  components/butterfly/protocols/common.proto
  components/butterfly/protocols/newscast.proto
  components/butterfly/protocols/swim.proto
  components/butterfly/src/client.rs
  components/butterfly/src/error.rs
  components/butterfly/src/generated/butterfly.common.rs
  components/butterfly/src/generated/butterfly.newscast.rs
  components/butterfly/src/generated/butterfly.swim.rs
  components/butterfly/src/lib.rs
  components/butterfly/src/main.rs
  components/butterfly/src/member.rs
  components/butterfly/src/message.rs
  components/butterfly/src/message/mod.rs
  components/butterfly/src/message/swim.rs
  components/butterfly/src/protocol/mod.rs
  components/butterfly/src/protocol/newscast.rs
  components/butterfly/src/protocol/swim.rs
  components/butterfly/src/rumor/dat_file.rs
  components/butterfly/src/rumor/departure.rs
  components/butterfly/src/rumor/election.rs
  components/butterfly/src/rumor/heat.rs
  components/butterfly/src/rumor/mod.rs
  components/butterfly/src/rumor/service.rs
  components/butterfly/src/rumor/service_config.rs
  components/butterfly/src/rumor/service_file.rs
  components/butterfly/src/server/expire.rs
  components/butterfly/src/server/inbound.rs
  components/butterfly/src/server/mod.rs
  components/butterfly/src/server/outbound.rs
  components/butterfly/src/server/pull.rs
  components/butterfly/src/server/push.rs
  components/butterfly/src/swim.rs
  components/butterfly/src/trace.rs
  components/butterfly/tests/integration.rs
  components/butterfly/tests/rumor/election.rs
  components/sup-protocol/src/generated/sup.ctl.rs
  components/sup-protocol/src/generated/sup.net.rs
  components/sup/plan.sh
  components/sup/src/census.rs
  components/sup/src/manager/events.rs
  components/sup/src/manager/mod.rs
  components/sup/src/manager/peer_watcher.rs
  components/sup/src/manager/service/hooks.rs
  components/sup/src/manager/service/mod.rs
  components/sup/src/manager/sys.rs
  components/sup/src/templating/context.rs
  support/ci/lint.sh
Labels: A-supervisor, C-chore, E-hard, I-linux, I-windows, L-rust, V-sup

#5373 Expose pkg_target in post-build environment files
  components/plan-build-ps1/bin/hab-plan-build.ps1
  components/plan-build/bin/hab-plan-build.sh
Labels: A-plan-build, C-feature, E-easy, I-linux, I-windows, L-shell, V-devx, X-feature

#5375 Enable feature flags with any value except the empty string
  components/hab/src/main.rs
  components/sup/src/main.rs
Labels: A-cli, E-easy, I-linux, I-macOS, I-windows, L-rust, X-fix

#5345 Add variants support to plan-build
  components/plan-build-ps1/bin/hab-plan-build.ps1
  components/plan-build/bin/hab-plan-build.sh
Labels: A-plan-build, C-feature, X-feature

#5384 Allow a crashed supervisor to be restarted by the launcher
  components/sup/src/lib.rs
  components/sup/src/main.rs
  components/sup/src/manager/mod.rs
  test/end-to-end/test_launcher_restarts_supervisor.sh
Labels: X-fix

#5387 If the supervisor terminates with an error result, don't restart it
  components/sup/src/main.rs
  test/end-to-end/test_launcher_exits_on_supervisor_startup_failure.sh
Labels: X-fix

#5391 Release from Buildkite
  .buildkite/Brewfile
  .buildkite/abort_release_pipeline.yaml
  .buildkite/env
  .buildkite/finish_release_pipeline.yaml
  .buildkite/hooks/pre-command
  .buildkite/pipeline.sh
  .buildkite/release_pipeline.yaml
  .buildkite/scripts/bintray_publish.sh
  .buildkite/scripts/bintray_upload.sh
  .buildkite/scripts/bintray_upload_macos.sh
  .buildkite/scripts/build_component.sh
  .buildkite/scripts/build_mac_release.sh
  .buildkite/scripts/destroy_release_channel.sh
  .buildkite/scripts/finish_release.sh
  .buildkite/scripts/promote_launchers.sh
  .buildkite/scripts/promote_release_channel.sh
  .buildkite/scripts/shared.sh
  .travis.yml
  Makefile
  RELEASE.md
  components/bintray-publish/bin/publish-hab.sh
  components/bintray-publish/bin/publish-studio.sh
  components/hab/mac/README.md
  components/hab/mac/homebrew/hab-libarchive.rb
  components/hab/mac/homebrew/hab-libiconv.rb
  components/hab/mac/homebrew/hab-rq.rb
  components/hab/mac/mac-build.sh
  components/hab/mac/plan.sh
  support/ci/deploy_mac.sh
  support/ci/deploy_mac_launcher.sh
  support/ci/only_master.sh
  support/ci/promote_rc.sh
Labels: C-chore, V-infra

#5395 [ci] Add a `.buildkite` entry to `CODEOWNERS`.
  CODEOWNERS
Labels: A-cli, A-exporter, A-launcher, A-plan-build, A-studio, A-supervisor, C-chore, E-easy, I-linux, I-macOS, I-windows, L-shell, V-infra

#5398 Release 0.60.0.
  VERSION
Labels: C-release, Expeditor: Exclude from Changelog

#5399 Don't fail if FAKE_RELEASE_TAG isn't present
  .buildkite/pipeline.sh
  .buildkite/scripts/bintray_publish.sh
  .buildkite/scripts/promote_release_channel.sh
Labels: Expeditor: Exclude from Changelog
