Repository habitat-sh/habitat, pull requests merged in 2018-05, with the labels that each got.

#5030 adds status link to footer
  www/source/layouts/_footer.slim
Labels: A-habitat.sh, V-front-end

#5031 Update to current master of habitat-sh/core repository
  Cargo.lock
  components/hab/src/command/pkg/env.rs
  components/hab/src/command/pkg/exec.rs
  components/sup/src/manager/service/package.rs
Labels: C-chore

#4962 Firmly establish role of PATH, RUNTIME_ENVIRONMENT, & RUNTIME_PATH metadata files
  components/hab/src/command/pkg/exec.rs
  components/plan-build-ps1/bin/hab-plan-build.ps1
  components/plan-build/bin/environment.bash
  components/plan-build/bin/hab-plan-build.sh
  components/plan-build/bin/shared.bash
  www/source/partials/docs/_reference-package-contents.html.md.erb
Labels: A-cli, A-plan-build, A-supervisor, C-bug, E-less-easy, I-linux, I-macOS, I-windows, L-rust, L-shell, V-devx, V-sup

#5059 [ci] Pin rustfmt by pinning to Rust 1.25.0.
  .travis.yml
Labels: C-chore

#5058 [hab] Ignore subdir entries when binlinking all programs in package.
  components/hab/src/command/pkg/binlink.rs
Labels: A-cli, C-bug, E-easy, I-linux, I-macOS, L-rust, V-devx, V-infra

#5060 Remove access token warning
  components/hab/src/main.rs
Labels: A-cli, C-chore

#5064 Fix some command aliases
  components/hab/src/cli.rs
  components/hab/src/main.rs
Labels: A-cli, C-bug, E-easy, I-linux, I-macOS, I-windows, L-rust, V-devx, V-sup

#5066 Release 0.56.0 (take 2).
  CHANGELOG.md
Labels: C-release

#5062 Add blog post on forthcoming major 0.56.0 Supervisor changes
  www/source/blog/2018-05-11-changes-in-the-0.56.0-supervisor.html.md
Labels: T-DO-NOT-MERGE

#5068 [ci] Update auth token now that GitHub tokens are fully deprecated.
  appveyor.yml
Labels: C-chore, I-windows, V-infra

#5070 [plan-build.ps1] Use `RUNTIME_ENVIRONMENT` if necessary for run path.
  components/plan-build-ps1/bin/hab-plan-build.ps1
Labels: A-plan-build, C-bug, E-easy, I-windows, L-shell, V-devx, V-infra

#5071 Release 0.56.0 (take 3).
  CHANGELOG.md
Labels: C-release

#5072 [studio] Fix building the Windows Docker image when installing pkgs.
  components/studio/build-docker-image.ps1
Labels: A-studio, C-bug, E-easy, I-windows, L-shell, V-devx, V-infra

#5075 Release 0.56.0 (take 4).
  CHANGELOG.md
Labels: C-release

#5078 [hab] Fix {apply, start, stop} aliases.
  components/hab/src/cli.rs
Labels: A-cli, C-bug, E-less-easy, I-linux, I-macOS, I-windows, L-rust, V-devx, V-sup

#5080 Release 0.56.0 (take 5),
  CHANGELOG.md
Labels: C-release

#5082 [hab] Fix missing invocation matches for {apply,start,stop}.
  components/hab/src/main.rs
Labels: A-cli, C-bug, E-easy, I-linux, I-macOS, I-windows, L-rust, V-devx, V-infra, V-sup

#5083 Release 0.56.0 (take 6).
  CHANGELOG.md
Labels: C-release

#5086 [hab] Fix the subcommand delegation to `hab-sup`.
  components/hab/src/main.rs
Labels: A-cli, A-exporter, A-supervisor, C-bug, E-less-easy, I-linux, I-windows, L-rust, V-devx, V-sup

#5087 Run the best local candidate of a service first
  components/sup/src/manager/mod.rs
Labels: A-supervisor, C-bug, E-easy, L-rust, V-sup

#5088 Release 0.56.0 (take 7),
  CHANGELOG.md
Labels: C-release

#5090 Disable validation of config/files
  components/sup/src/manager/mod.rs
Labels: A-supervisor, C-bug, I-linux, I-macOS, I-windows, L-rust, V-sup

#5091 Disable interface validation when applying config
  components/sup/src/manager/mod.rs
Labels: A-supervisor, C-bug, V-sup

#5094 Witness my shame
  components/sup/src/manager/mod.rs
Labels: A-supervisor, C-bug, E-less-easy, I-linux, I-macOS, I-windows, L-ruby, V-devx, V-sup

#5097 Fix reading configuration from stdin when applying
  components/hab/src/main.rs
Labels: A-supervisor, C-bug, V-sup

#5096 Fix panic when an initial service fails to loaded
  components/sup/src/error.rs
  components/sup/src/main.rs
  components/sup/src/manager/debug.rs
  components/sup/src/manager/events.rs
  components/sup/src/manager/file_watcher.rs
  components/sup/src/manager/mod.rs
  components/sup/src/manager/peer_watcher.rs
  components/sup/src/manager/service/composite_spec.rs
  components/sup/src/manager/service/config.rs
  components/sup/src/manager/service/dir.rs
  components/sup/src/manager/service/hooks.rs
  components/sup/src/manager/service/mod.rs
  components/sup/src/manager/service/spec.rs
  components/sup/src/manager/service/supervisor.rs
Labels: A-supervisor, C-bug, V-sup

#5105 Remove generic io
  components/builder-depot-client/src/error.rs
  components/builder-depot-client/src/lib.rs
  components/common/src/command/package/install.rs
  components/common/src/error.rs
  components/hab/src/command/origin/key/download.rs
Labels: A-supervisor, C-chore, V-sup

#5110 Fix default configuration serialization bug
  CHANGELOG.md
  components/sup/src/manager/mod.rs
Labels: A-supervisor, C-bug, E-easy, L-rust, V-sup

#5118 Allow `--remote-sup` to take a DNS name as an argument
  components/hab/src/cli.rs
  components/hab/src/error.rs
  components/hab/src/main.rs
Labels: A-cli, A-supervisor, E-easy, L-rust, V-sup

#5129 Use octal for permissions of CTL_SECRET!
  components/sup/src/ctl_gateway/mod.rs
Labels: A-supervisor, C-bug, E-easy, L-rust, V-sup

#5126 Switch to `prost` from `protobuf` crate
  Cargo.lock
  components/hab/src/cli.rs
  components/hab/src/main.rs
  components/sup-client/Cargo.toml
  components/sup-client/src/lib.rs
  components/sup-protocol/Cargo.toml
  components/sup-protocol/build.rs
  components/sup-protocol/protocols/ctl.proto
  components/sup-protocol/protocols/net.proto
  components/sup-protocol/protocols/types.proto
  components/sup-protocol/src/codec.rs
  components/sup-protocol/src/ctl.rs
  components/sup-protocol/src/generated/ctl.rs
  components/sup-protocol/src/generated/net.rs
  components/sup-protocol/src/generated/sup.ctl.impl.rs
  components/sup-protocol/src/generated/sup.ctl.rs
  components/sup-protocol/src/generated/sup.net.impl.rs
  components/sup-protocol/src/generated/sup.net.rs
  components/sup-protocol/src/generated/sup.types.impl.rs
  components/sup-protocol/src/generated/sup.types.rs
  components/sup-protocol/src/generated/types.rs
  components/sup-protocol/src/lib.rs
  components/sup-protocol/src/message.rs
  components/sup-protocol/src/net.rs
  components/sup-protocol/src/types.rs
  components/sup/Cargo.toml
  components/sup/src/ctl_gateway/mod.rs
  components/sup/src/ctl_gateway/server.rs
  components/sup/src/lib.rs
  components/sup/src/main.rs
  components/sup/src/manager/events.rs
  components/sup/src/manager/mod.rs
  components/sup/src/manager/peer_watcher.rs
  components/sup/src/manager/service/composite_spec.rs
  components/sup/src/manager/service/hooks.rs
  components/sup/src/manager/service/mod.rs
  components/sup/src/manager/service/package.rs
  components/sup/src/manager/service/spec.rs
  components/sup/src/manager/service/supervisor.rs
  components/sup/src/manager/spec_watcher.rs
  components/sup/src/manager/sys.rs
Labels: A-supervisor, C-chore, V-sup

#5114 Update Supervisor Documentation and Tutorials for 0.56.0
  www/data/docs_sidebar.yml
  www/source/blog/2018-05-29-0560-Release.html.md
  www/source/demo/process-supervisor/steps/10.html.slim
  www/source/demo/process-supervisor/steps/11.html.slim
  www/source/docs/best-practices.html.md.erb
  www/source/docs/habitat-cli.html.md
  www/source/images/demo/sup-step-10.png
  www/source/images/demo/sup-step-11.png
  www/source/images/docs/service-groups/supervisor_a_after.png
  www/source/images/docs/service-groups/supervisor_a_before.png
  www/source/images/docs/service-groups/supervisor_b_after.png
  www/source/images/docs/service-groups/supervisor_b_before.png
  www/source/javascripts/demo.js
  www/source/partials/docs/_bp-running-habitat-servers.md.erb
  www/source/partials/docs/_dev-pkgs-binding.html.md.erb
  www/source/partials/docs/_reference-template-data.html.md.erb
  www/source/partials/docs/_using-hab-binding.html.md.erb
  www/source/partials/docs/_using-hab-config-updates.html.md.erb
  www/source/partials/docs/_using-hab-config-workstation.html.md.erb
  www/source/partials/docs/_using-hab-continuous-deployment.html.md.erb
  www/source/partials/docs/_using-hab-file-uploads.html.md.erb
  www/source/partials/docs/_using-hab-install-faq.html.md.erb
  www/source/partials/docs/_using-hab-overview.html.md.erb
  www/source/partials/docs/_using-hab-packages.html.md.erb
  www/source/partials/docs/_using-hab-remote-control.html.md.erb
  www/source/partials/docs/_using-hab-service-groups.html.md.erb
  www/source/stylesheets/_demo.scss
  www/source/tutorials/get-started/demo/add-services-to-group.html.slim
  www/source/tutorials/get-started/demo/check-service-health.html.slim
  www/source/tutorials/get-started/demo/configure-services.html.slim
  www/source/tutorials/get-started/demo/index.html.slim
  www/source/tutorials/get-started/demo/join-services.html.slim
  www/source/tutorials/get-started/demo/responses/hab-bind.txt
  www/source/tutorials/get-started/demo/responses/hab-config-apply.txt
  www/source/tutorials/get-started/demo/responses/hab-help.txt
  www/source/tutorials/get-started/demo/responses/hab-load-additional-node.txt
  www/source/tutorials/get-started/demo/responses/hab-load-first-node.txt
  www/source/tutorials/get-started/demo/responses/hab-load-help.txt
  www/source/tutorials/get-started/demo/responses/hab-load-service.txt
  www/source/tutorials/get-started/demo/responses/hab-monitor-myrubyapp.txt
  www/source/tutorials/get-started/demo/responses/hab-monitor-postgres.txt
  www/source/tutorials/get-started/demo/responses/hab-start-first-node.txt
  www/source/tutorials/get-started/demo/responses/hab-start-help.txt
  www/source/tutorials/get-started/demo/responses/hab-start-service.txt
  www/source/tutorials/get-started/demo/responses/hab-sup-config-help.txt
  www/source/tutorials/get-started/demo/set-up-topology.html.slim
  www/source/tutorials/get-started/demo/start-services.html.slim
Labels: A-documentation, A-habitat.sh
