Repository habitat-sh/habitat, pull requests merged in 2018-06, with the labels that each got.

#4803 Initial Expeditor configuration for updating CHANGELOG.md
  .expeditor/config.yml
  CHANGELOG.md
Labels: C-chore, V-infra

#5130 Bump to Rust 1.26.1
  .travis.yml
  components/sup/src/census.rs
  components/sup/src/http_gateway.rs
  components/sup/src/main.rs
  components/sup/src/manager/events.rs
  components/sup/src/manager/mod.rs
  components/sup/src/manager/peer_watcher.rs
  components/sup/src/manager/service/composite_spec.rs
  components/sup/src/manager/service/hooks.rs
  components/sup/src/manager/service/mod.rs
  components/sup/src/manager/service/package.rs
  components/sup/src/manager/service/spec.rs
  components/sup/src/manager/service/supervisor.rs
  components/sup/src/manager/spec_watcher.rs
  components/sup/src/manager/sys.rs
  components/sup/src/templating/context.rs
  components/sup/src/util/path.rs
  components/sup/src/util/pkg.rs
Labels: C-chore

#5138 Switch from the `protobuf` crate to the `prost` crate
  Cargo.lock
  Makefile
  components/hab/src/main.rs
  components/sup-client/Cargo.toml
  components/sup-client/src/lib.rs
  components/sup-protocol/Cargo.toml
  components/sup-protocol/build.rs
  components/sup-protocol/protocols/ctl.proto
  components/sup-protocol/protocols/net.proto
  components/sup-protocol/protocols/types.proto
  components/sup-protocol/src/codec.rs
  components/sup-protocol/src/ctl.rs
  components/sup-protocol/src/generated/ctl.rs
  components/sup-protocol/src/generated/net.rs
  components/sup-protocol/src/generated/sup.ctl.impl.rs
  components/sup-protocol/src/generated/sup.ctl.rs
  components/sup-protocol/src/generated/sup.net.impl.rs
  components/sup-protocol/src/generated/sup.net.rs
  components/sup-protocol/src/generated/sup.types.impl.rs
  components/sup-protocol/src/generated/sup.types.rs
  components/sup-protocol/src/generated/types.rs
  components/sup-protocol/src/lib.rs
  components/sup-protocol/src/message.rs
  components/sup-protocol/src/net.rs
  components/sup-protocol/src/types.rs
  components/sup/Cargo.toml
  components/sup/src/ctl_gateway/mod.rs
  components/sup/src/ctl_gateway/server.rs
  components/sup/src/lib.rs
  components/sup/src/main.rs
  components/sup/src/manager/mod.rs
  components/sup/src/manager/service/mod.rs
  components/sup/src/manager/service/spec.rs
  components/sup/src/manager/service/supervisor.rs
Labels: A-supervisor, C-chore, V-sup

#5147 Improve error message when acting on a service that isn't loaded
  components/sup/src/manager/mod.rs
Labels: A-supervisor, C-chore, V-sup

#5177 Fix serialization problem where defaults were injected
  components/sup-protocol/protocols/types.proto
  components/sup-protocol/src/generated/sup.types.rs
Labels: A-supervisor, C-bug, V-sup

#5187 Make querying an unloaded service status always exit nonzero
  components/sup/src/manager/mod.rs
Labels: A-supervisor, C-bug, I-linux, I-macOS, I-windows, L-rust, V-sup

#5186 Allow installing core/hab from channels other than stable with installer
  components/hab/install.sh
Labels: A-cli, C-bug, E-easy, I-linux, L-shell, V-devx, V-infra

#5189 Base package refresh post
  www/source/blog/2018-06-13-base-plans-refresh.html.md
Labels: A-documentation, C-release, V-core-plans, V-devx

#5208 updates version for new release
  VERSION
Labels: C-release

#5237 Fix an erroneous shellcheck fix
  components/studio/build-docker-image.sh
Labels: A-studio, C-bug, E-easy, I-linux, L-shell, V-devx

#5238 Pin everything to use pre-refresh core plans
  components/backline/plan.sh
  components/bintray-publish/plan.sh
  components/eventsrv/habitat/plan.sh
  components/hab/plan.sh
  components/launcher/habitat/plan.sh
  components/pkg-aci/plan.sh
  components/pkg-cfize/plan.sh
  components/pkg-export-docker/plan.sh
  components/pkg-export-helm/plan.sh
  components/pkg-export-kubernetes/plan.sh
  components/pkg-export-tar/plan.sh
  components/pkg-mesosize/plan.sh
  components/plan-build/plan.sh
  components/studio/plan.sh
  components/sup/plan.sh
Labels: C-chore, C-emergent, E-easy, V-devx, V-infra, V-sup

#5220 Make launcher exit status indicate if supervisor exited with a fatal error
  components/butterfly/src/server/mod.rs
  components/launcher/src/main.rs
  components/launcher/src/server/mod.rs
  components/sup/src/main.rs
Labels: S-needs-discussion, T-DO-NOT-MERGE

#5249 Loosen up pins on Docker exporter.
  components/pkg-export-docker/plan.sh
Labels: A-exporter, C-chore

#5254 Simplify tar exporter dependencies
  components/pkg-export-tar/plan.sh
Labels: A-exporter, C-chore

#5159 Rootless studio in a container
  components/hab/src/command/studio/docker.rs
  components/hab/src/lib.rs
  components/hab/src/main.rs
  components/rootless_studio/Dockerfile
  components/rootless_studio/README.md
  components/rootless_studio/build-docker-image.sh
  components/rootless_studio/default/Dockerfile
  components/rootless_studio/default/build
  components/rootless_studio/default/entrypoint.sh
  components/rootless_studio/default/etc/group
  components/rootless_studio/default/etc/habitat-studio/environment.sh
  components/rootless_studio/default/etc/habitat-studio/import_keys.sh
  components/rootless_studio/default/etc/habitat-studio/logging.sh
  components/rootless_studio/default/etc/nsswitch.conf
  components/rootless_studio/default/etc/passwd
  components/rootless_studio/default/profile
  components/rootless_studio/default/profile.enter
  components/rootless_studio/publish-to-dockerhub.sh
Labels: A-studio, C-feature, E-less-easy, I-linux, L-shell, V-devx

#5265 Relax a few explicit dependency pins
  components/hab/plan.sh
  components/pkg-cfize/plan.sh
  components/pkg-export-helm/plan.sh
  components/pkg-export-kubernetes/plan.sh
  components/studio/plan.sh
Labels: C-chore

#5261 Add a feature-flagged `--ignore-local` flag to `hab pkg install`
  components/common/src/command/package/install.rs
  components/hab/src/cli.rs
  components/hab/src/exec.rs
  components/hab/src/lib.rs
  components/hab/src/main.rs
  components/pkg-export-docker/src/build.rs
  components/pkg-export-tar/src/build.rs
  components/plan-build-ps1/bin/hab-plan-build.ps1
  components/plan-build/bin/hab-plan-build.sh
  components/sup/src/util/pkg.rs
Labels: A-cli, A-plan-build, C-feature, V-devx

#5280 Fix changelog
  .expeditor/config.yml
  CHANGELOG.md
Labels: C-chore, Expeditor: Exclude from Changelog

#5283 Set version to 0.58.0
  VERSION
Labels: Expeditor: Exclude from Changelog
