Repository habitat-sh/habitat, pull requests merged in 2018-04, with the labels that each got.

#4843 prefix pkgPathFor with FS_ROOT
  components/sup/src/templating/helpers/pkg_path_for.rs
Labels: A-builder, A-supervisor, C-bug, E-easy, I-windows, L-rust

#4864 [common] Fix artifact install canonicalizing when dst doesn't exist.
  components/common/src/command/package/install.rs
Labels: A-cli, A-exporter, A-supervisor, C-bug, E-less-easy, I-linux, I-windows, L-rust

#4862 Homepage revamp!
  www/config.rb
  www/source/community.html.slim
  www/source/enterprise/index.html.slim
  www/source/get-started/cloudfoundry/index.html.slim
  www/source/images/bg-circles-cropped.svg
  www/source/images/bg-circles.svg
  www/source/images/carousel-arrows-vertical.svg
  www/source/images/carousel-arrows.svg
  www/source/images/habicat-video.svg
  www/source/images/icons/icon-bullet.svg
  www/source/images/icons/icon-chevron-left.svg
  www/source/images/icons/icon-chevron-right.svg
  www/source/images/icons/icon-cloud-done.svg
  www/source/images/icons/icon-cloud-download.svg
  www/source/images/icons/icon-github-gray-trim.svg
  www/source/images/icons/icon-github-gray.svg
  www/source/images/icons/icon-github-white.svg
  www/source/images/icons/icon-github.svg
  www/source/images/icons/icon-group.svg
  www/source/images/icons/icon-layers.svg
  www/source/images/icons/icon-message.svg
  www/source/images/icons/icon-touch-app.svg
  www/source/images/icons/icon-videoconference.svg
  www/source/images/icons/icon-view.svg
  www/source/images/icons/logo-chef-monotone.svg
  www/source/images/infographic-deploy-logos.svg
  www/source/images/infographic-run-logos.svg
  www/source/images/solutions-logos/icon-cloudfoundry-contrast.svg
  www/source/index.html.slim
  www/source/javascripts/carousel.js
  www/source/javascripts/home.js
  www/source/javascripts/nav.js
  www/source/layouts/_nav.slim
  www/source/layouts/enterprise.slim
  www/source/partials/_enterprise.html.slim
  www/source/pricing/index.html.slim
  www/source/pricing/partials/faq.html.slim
  www/source/stylesheets/_carousel.scss
  www/source/stylesheets/_community.scss
  www/source/stylesheets/_components.scss
  www/source/stylesheets/_enterprise.scss
  www/source/stylesheets/_getstarted.scss
  www/source/stylesheets/_global.scss
  www/source/stylesheets/_home.scss
  www/source/stylesheets/_layout.scss
  www/source/stylesheets/_mixins.scss
  www/source/stylesheets/_nav.scss
  www/source/stylesheets/_pricing.scss
  www/source/stylesheets/_settings.scss
  www/source/stylesheets/partials/_callout-enterprise.scss
  www/source/stylesheets/site.css.scss
  www/source/stylesheets/vendor/foundation/components/_button.scss
Labels: T-DO-NOT-MERGE

#4867 add builder link and many other touchups
  www/source/community.html.slim
  www/source/enterprise/index.html.slim
  www/source/images/infographic-deploy-logos.svg
  www/source/images/infographic-run-logos.svg
  www/source/index.html.slim
  www/source/layouts/_nav.slim
  www/source/learn/index.html.slim
  www/source/stylesheets/_community.scss
  www/source/stylesheets/_demo.scss
  www/source/stylesheets/_enterprise.scss
  www/source/stylesheets/_global.scss
  www/source/stylesheets/_home.scss
  www/source/stylesheets/_mixins.scss
  www/source/stylesheets/_nav.scss
  www/source/stylesheets/vendor/foundation/components/_button.scss
Labels: A-habitat.sh, L-html-css, V-front-end

#4875 [pkg-export-docker] Only require a registry url with amazon/azure types
  components/pkg-export-docker/src/cli.rs
  components/pkg-export-docker/src/error.rs
  components/pkg-export-docker/src/lib.rs
Labels: A-builder, A-exporter, C-bug, E-less-easy, I-linux, I-windows, L-rust, V-bldr, V-devx

#4873 Expose health-check status in HTTP gateway response
  components/sup/src/http_gateway.rs
Labels: A-supervisor

#4879 fix pkg_path_for test on windows
  components/sup/src/templating/mod.rs
Labels: A-supervisor, C-chore, E-easy

#4886 Update content on Learn page based on user feedback
  www/source/learn/index.html.slim
  www/source/stylesheets/_demo.scss
Labels: A-habitat.sh, L-html-css, V-front-end

#4895 [plan-build-ps1] Restore generation of package `PATH` metafile.
  components/plan-build-ps1/bin/hab-plan-build.ps1
Labels: A-plan-build, C-bug, E-easy, I-windows, L-shell, V-core-plans, V-infra

#4888 [core] Update git repo to consume habitat-sh/core#22.
  Cargo.lock
Labels: A-cli, A-exporter, A-supervisor, C-chore, E-easy, I-linux, I-macOS, I-windows, V-bldr, V-devx, V-infra, V-sup

#4914 Expose only "active" members in RenderContext
  components/sup/doc/render_context_schema.json
  components/sup/src/census.rs
  components/sup/src/templating/context.rs
Labels: A-supervisor, C-feature, E-less-easy, I-linux, I-windows, L-rust, T-breaking, V-sup

#4915 [common] Restore UI begin/end coloring and debugging capability.
  components/common/src/ui.rs
  components/sup/src/ctl_gateway/mod.rs
Labels: A-cli, A-exporter, A-supervisor, C-bug, E-less-easy, I-linux, I-macOS, I-windows, L-rust, V-bldr, V-devx, V-infra, V-sup

#4916 Remove exporter dependencies on Supervisor in `.bldr.toml`.
  .bldr.toml
Labels: A-exporter, C-bug, E-easy, I-linux, V-bldr, V-devx

#4929 Finish remote supervisor command and control & move commands into hab binary
  .bldr.toml
  .travis.yml
  Cargo.lock
  Cargo.toml
  Makefile
  appveyor.yml
  components/hab-butterfly/Cargo.toml
  components/hab-butterfly/plan.ps1
  components/hab-butterfly/plan.sh
  components/hab-butterfly/src/cli.rs
  components/hab-butterfly/src/command/depart.rs
  components/hab-butterfly/src/command/file.rs
  components/hab-butterfly/src/lib.rs
  components/hab-butterfly/src/main.rs
  components/hab/Cargo.toml
  components/hab/src/cli.rs
  components/hab/src/command/butterfly.rs
  components/hab/src/command/config/mod.rs
  components/hab/src/command/file/mod.rs
  components/hab/src/command/mod.rs
  components/hab/src/error.rs
  components/hab/src/lib.rs
  components/hab/src/main.rs
  components/sup-client/Cargo.toml
  components/sup-client/src/lib.rs
  components/sup-protocol/Cargo.toml
  components/sup-protocol/build.rs
  components/sup-protocol/protocols/ctl.proto
  components/sup-protocol/protocols/net.proto
  components/sup-protocol/protocols/types.proto
  components/sup-protocol/src/butterfly.rs
  components/sup-protocol/src/codec.rs
  components/sup-protocol/src/ctl.rs
  components/sup-protocol/src/generated/ctl.rs
  components/sup-protocol/src/generated/mod.rs
  components/sup-protocol/src/generated/net.rs
  components/sup-protocol/src/generated/types.rs
  components/sup-protocol/src/lib.rs
  components/sup-protocol/src/net.rs
  components/sup-protocol/src/types.rs
  components/sup/Cargo.toml
  components/sup/build.rs
  components/sup/src/ctl_gateway/mod.rs
  components/sup/src/ctl_gateway/server.rs
  components/sup/src/error.rs
  components/sup/src/lib.rs
  components/sup/src/main.rs
  components/sup/src/manager/mod.rs
  components/sup/src/manager/service/hooks.rs
  components/sup/src/manager/service/mod.rs
  components/sup/src/manager/service/spec.rs
  components/sup/src/protocols/butterfly.rs
  components/sup/src/protocols/ctl.rs
  components/sup/src/protocols/mod.rs
  www/Makefile
Labels: A-supervisor, C-chore, E-easy, L-rust, V-sup

#4967 Reuse recv buffer in SrvCodec
  components/sup-protocol/src/codec.rs
Labels: C-chore, E-easy, L-rust, V-sup

#4969 Fix handling of environment-level configuration
  Cargo.lock
  components/sup/Cargo.toml
  components/sup/src/lib.rs
  components/sup/src/manager/service/config.rs
Labels: A-supervisor, C-bug, E-easy, L-rust, V-sup

#4994 Update .bldr.toml paths to reflect current reality
  .bldr.toml
Labels: C-chore, V-infra

#4996 Notify of TravisCI failures on master in HabiSlack #notifications
  .travis.yml
Labels: C-chore, V-infra

#4999 Properly honor the `--force` flag
  components/hab/src/main.rs
  components/sup/src/main.rs
  components/sup/tests/utils/test_sup.rs
Labels: A-supervisor, C-bug, E-easy, L-rust, V-sup
