Repository habitat-sh/habitat, pull requests merged in 2018-03, with the labels that each got.

#4701 www updates - add forums link, diagrams link, docs title links
  www/source/community.html.slim
  www/source/images/infographics/habitat-diagrams-thumb.png
  www/source/layouts/_footer.slim
  www/source/layouts/blog_post.slim
  www/source/layouts/sidebar.slim
  www/source/learn/index.html.slim
  www/source/stylesheets/_blog.scss
  www/source/stylesheets/_community.scss
  www/source/stylesheets/_demo.scss
  www/source/stylesheets/_global.scss
  www/source/stylesheets/_layout.scss
  www/source/stylesheets/_settings.scss
Labels: A-habitat.sh, L-html-css

#4713 use join for x-plat friendly root paths
  components/sup/src/fs.rs
Labels: A-supervisor, C-bug, E-easy, I-windows, L-rust

#4722 Set PATH metadata file to only contain my bin dirs
  components/plan-build/bin/shared.bash
Labels: A-plan-build, C-bug, E-easy

#4740 CF: adding redirect, further links on get started page
  www/config.rb
  www/source/get-started/cloudfoundry/index.html.slim
Labels: A-habitat.sh

#4758 Don't use Helm's dependencies feature
  components/pkg-export-helm/src/deps.rs
Labels: A-exporter

#4767 add note to release doc about killing non release builds after tag push
  RELEASE.md
Labels: A-cli, A-documentation, A-exporter, A-launcher, A-plan-build, A-studio, A-supervisor, C-chore, E-easy, V-devx, V-infra, V-sup

#4768 Document how to evaluate a release candidate
  RELEASE.md
Labels: A-cli, A-documentation, A-exporter, A-launcher, A-plan-build, A-studio, A-supervisor, C-chore, E-easy, V-devx, V-infra, V-sup

#4766 [studio] Update stage1 tarball.
  components/studio/libexec/hab-studio-type-stage1.sh
Labels: A-studio, C-feature, E-easy, I-linux, L-shell, V-bldr, V-devx

#4760 Complete documentation coverage of all templating variables
  components/sup/src/census.rs
  components/sup/src/manager/service/package.rs
  components/sup/src/manager/sys.rs
  components/sup/src/templating/context.rs
  www/source/partials/docs/_reference-template-data.html.md.erb
Labels: A-documentation, A-plan-build, A-supervisor

#4777 Updated default.toml files are seen on package update
  components/sup/src/manager/service/config.rs
  components/sup/src/manager/service/mod.rs
Labels: A-supervisor, C-bug, E-easy, L-rust, V-sup

#4802 [ci] Update `compile_libsodium.sh` to 1.0.13.
  support/ci/compile_libsodium.sh
  support/ci/rust_env.sh
Labels: A-cli, A-exporter, A-supervisor, C-chore, E-easy, I-linux, L-shell, V-infra

#4771 [common] Add offline mode support for install logic.
  Cargo.lock
  components/common/Cargo.toml
  components/common/src/command/package/binds.rs
  components/common/src/command/package/install.rs
  components/common/src/error.rs
  components/common/src/lib.rs
  components/common/src/ui.rs
  components/hab/Cargo.toml
  components/hab/src/cli.rs
  components/hab/src/exec.rs
  components/hab/src/lib.rs
  components/hab/src/main.rs
  components/pkg-export-docker/src/build.rs
  components/pkg-export-tar/src/build.rs
  components/sup/src/util/pkg.rs
Labels: A-cli, C-feature, E-less-easy, I-linux, I-macOS, I-windows, L-rust, V-bldr, V-devx, V-sup

#4837 [studio] Fix `chroot_env` regression in #4661.
  components/studio/bin/hab-studio.sh
Labels: A-studio, C-bug, E-less-easy, I-linux, I-macOS, L-shell, V-devx, V-infra

#4840 Add notes on testing habitat package
  BUILDING.md
Labels: A-documentation

#4831 [studio] Implement `run` subcommand for `stage1` Studio types.
  components/studio/libexec/hab-studio-type-stage1.sh
Labels: A-studio, C-feature, E-easy, I-linux, L-shell, V-devx, V-infra

#4830 [studio] Ensure that cleanup is performed on `studio new`.
  components/studio/bin/hab-studio.sh
Labels: A-studio, C-bug, E-easy, I-linux, L-shell, V-devx, V-infra
