Repository habitat-sh/habitat, pull requests merged in 2018-11, with the labels that each got.

#5804 Reduce excessive disk I/O when persisting rumors
  components/butterfly/src/server/mod.rs
  components/sup/src/manager/mod.rs
Labels: X-fix

#5807 Add validation for all CLI args which accept package identifiers
  components/hab/src/cli.rs
Labels: X-fix

#5810 Simplify elections code by replacing ServiceGroup structs with strings
  components/butterfly-test/src/lib.rs
  components/butterfly/src/main.rs
  components/butterfly/src/rumor/election.rs
  components/butterfly/src/server/mod.rs
  components/sup/src/census.rs
  components/sup/src/http_gateway.rs
  components/sup/src/manager/mod.rs
  components/sup/src/manager/service/hooks.rs
  components/sup/src/manager/service_updater.rs
Labels: Expeditor: Exclude from Changelog

#5823 Release version 0.68.0.
  CHANGELOG.md
  VERSION
Labels: Expeditor: Exclude from Changelog

#5825 Fix bug where having no excludes for uninstall would trigger a panic
  components/hab/src/main.rs
Labels: X-fix

#5826 Add logging for elections
  components/butterfly/src/rumor/election.rs
  components/butterfly/src/server/mod.rs
Labels: X-fix

#5830 Add a blog post for the 0.68.0 release announcement
  www/source/blog/2018-11-07-0.68.0-release.html.md
Labels: Expeditor: Exclude from Changelog

#5831 Update the generated CLI docs for the 0.68.0 release
  www/source/docs/habitat-cli.html.md
Labels: Expeditor: Exclude from Changelog

#5832 Update version from 0.68.0 -> 0.69.0-dev
  CHANGELOG.md
  VERSION
Labels: Expeditor: Exclude from Changelog

#5833 Make sure we don't have an existing checkout before cloning homebrew-habitat
  .buildkite/scripts/bump_homebrew_release.sh
Labels: Expeditor: Exclude from Changelog, X-fix

#5837 Update Cargo.lock
  .travis.yml
  Cargo.lock
Labels: Expeditor: Exclude from Changelog

#5813 Add Windows-friendly behavior to `hab pkg env`
  Cargo.lock
  components/hab/src/command/pkg/env.rs
  components/hab/src/command/pkg/exec.rs
  components/sup/src/manager/service/package.rs
Labels: A-cli, C-feature, E-easy, I-windows, L-rust, X-feature

#5828 Clean up a variety of leaks
  appveyor.yml
  components/sup/src/http_gateway.rs
  components/sup/src/manager/file_watcher.rs
  components/sup/src/manager/mod.rs
  components/sup/src/manager/service_updater.rs
  components/sup/src/manager/user_config_watcher.rs
  support/ci/appveyor.bat
  support/ci/appveyor.ps1
Labels: X-fix

#5770 Add -t to support installing alternate PackageTarget cli
  components/hab/install.sh
Labels: X-feature

#5805 Add target to Docker image names for studio
  .buildkite/scripts/dockerhub_upload.sh
  components/hab/src/command/pkg/binlink.rs
  components/hab/src/command/studio/docker.rs
  components/rootless_studio/Dockerfile
  components/rootless_studio/default/Dockerfile
  components/studio/build-docker-image.ps1
Labels: X-change

#5844 Update release process
  Makefile
  RELEASE.md
  update-hab-backline.sh
Labels: Expeditor: Exclude from Changelog

#5848 Add habitat_http_client to example core crate override
  Cargo.toml
Labels: Expeditor: Exclude from Changelog

#5849 Enable UserConfigWatcher to be shared across threads
  components/sup/src/manager/user_config_watcher.rs
Labels: V-sup

#5845 Create release checklist PR template
  .github/PULL_REQUEST_TEMPLATE/release_checklist.md
Labels: Expeditor: Exclude from Changelog

#5855 Fix release issue template link
  RELEASE.md
Labels: Expeditor: Exclude from Changelog

#5856 Fix up and clarify issue templates made confusing by adding release template
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/ISSUE_TEMPLATE/release-checklist.md
Labels: Expeditor: Exclude from Changelog

#5857 Miscellaneous code cleanup
  components/sup/src/manager/mod.rs
  components/sup/src/manager/service/mod.rs
Labels: X-fix

#5863 Make the integration tests work with current supervisor
  run-bats.sh
  test/integration/-
  test/integration/composites.bats
  test/integration/helpers.bash
  test/integration/service-upgrade.bats
  test/integration/sup-hup.bats
  test/integration/svc-load.bats
  test/integration/svc-start.bats
  test/integration/svc-status.bats
Labels: Expeditor: Exclude from Changelog, X-fix

#5875 Release version 0.69.0
  VERSION
Labels: Expeditor: Exclude from Changelog

#5864 Election code cleanup
  components/butterfly/src/rumor/election.rs
  components/butterfly/src/server/mod.rs
  components/sup/src/census.rs
  components/sup/src/manager/service/hooks.rs
Labels: Expeditor: Exclude from Changelog

#5876 Increase wait timeout for UserConfigWatcher tests
  components/sup/src/manager/user_config_watcher.rs
Labels: Expeditor: Exclude from Changelog

#5882 Correct 0.69.0 blog release date
  www/source/blog/2018-11-27-0.69.0-release.html.md
Labels: Expeditor: Exclude from Changelog

#5879 Update cli documentation
  www/source/docs/habitat-cli.html.md
Labels: Expeditor: Exclude from Changelog
