Repository habitat-sh/habitat, pull requests merged in 2018-08, with the labels that each got.

#5408 Bump version to 0.60.1-dev
  VERSION
Labels: Expeditor: Exclude from Changelog

#5393 Add timeout for launcher waiting for IPC connection to supervisor
  components/launcher-client/src/lib.rs
  components/launcher/src/server/mod.rs
  components/sup/src/error.rs
  components/sup/src/lib.rs
  components/sup/src/main.rs
  test/end-to-end/test_launcher_exits_on_supervisor_connection_failure.sh
Labels: X-change

#5414 [ci] Reimplement lint.sh program for better resilience.
  support/ci/lint.sh
Labels: C-chore, E-less-easy, I-linux, I-macOS, L-shell, V-devx, V-sup

#5417 Add the mac-build.sh script back
  components/hab/mac/mac-build.sh
Labels: C-chore, V-infra

#5412 [ci,rustfmt] Formatting due to rustfmt 0.8.2 in Rust 1.28.0.
  .buildkite/env
  .travis.yml
  components/builder-api-client/src/lib.rs
  components/builder-depot-client/src/lib.rs
  components/butterfly-test/src/lib.rs
  components/butterfly/src/member.rs
  components/butterfly/src/message.rs
  components/butterfly/src/rumor/dat_file.rs
  components/butterfly/src/rumor/heat.rs
  components/butterfly/src/rumor/mod.rs
  components/butterfly/src/rumor/service.rs
  components/butterfly/src/server/inbound.rs
  components/butterfly/src/server/mod.rs
  components/butterfly/src/server/outbound.rs
  components/butterfly/src/server/push.rs
  components/common/src/command/package/install.rs
  components/hab/src/command/bldr/job/promote.rs
  components/hab/src/command/origin/key/download.rs
  components/hab/src/command/origin/key/upload.rs
  components/hab/src/command/studio/docker.rs
  components/hab/src/main.rs
  components/launcher-client/src/client.rs
  components/launcher/src/server/mod.rs
  components/pkg-export-docker/src/build.rs
  components/pkg-export-docker/src/cli.rs
  components/pkg-export-docker/src/docker.rs
  components/pkg-export-helm/src/chart.rs
  components/pkg-export-kubernetes/src/cli.rs
  components/pkg-export-kubernetes/src/hb.rs
  components/pkg-export-tar/src/build.rs
  components/pkg-export-tar/src/cli.rs
  components/sup/src/census.rs
  components/sup/src/ctl_gateway/server.rs
  components/sup/src/http_gateway.rs
  components/sup/src/manager/file_watcher.rs
  components/sup/src/manager/mod.rs
  components/sup/src/manager/service/composite_spec.rs
  components/sup/src/manager/service/config.rs
  components/sup/src/manager/service/mod.rs
  components/sup/src/manager/service/spec.rs
  components/sup/src/manager/spec_watcher.rs
  components/sup/src/templating/helpers/each_alive.rs
  components/sup/src/templating/helpers/pkg_path_for.rs
  components/sup/src/templating/helpers/str_concat.rs
  components/sup/src/templating/helpers/str_join.rs
  components/sup/src/templating/helpers/str_replace.rs
  components/sup/src/templating/helpers/to_json.rs
  components/sup/src/templating/helpers/to_lowercase.rs
  components/sup/src/templating/helpers/to_toml.rs
  components/sup/src/templating/helpers/to_uppercase.rs
  components/sup/src/templating/helpers/to_yaml.rs
Labels: A-cli, A-exporter, A-launcher, A-supervisor, C-chore, E-easy, I-linux, I-macOS, I-windows, L-rust, V-devx, V-sup

#5407 Adds force upload flag to cli
  components/builder-depot-client/src/lib.rs
  components/hab/src/cli.rs
  components/hab/src/command/pkg/upload.rs
  components/hab/src/main.rs
Labels: A-builder, A-cli, C-emergent, C-feature, E-easy, L-rust, P-3, V-bldr, V-devx, X-feature

#5418 Resurrect enough of the old macOS build to work in TravisCI
  components/hab/mac/travis/README.md
  components/hab/mac/travis/homebrew/hab-libarchive.rb
  components/hab/mac/travis/homebrew/hab-libiconv.rb
  components/hab/mac/travis/homebrew/hab-rq.rb
  components/hab/mac/travis/mac-build.sh
  components/hab/mac/travis/plan.sh
  support/ci/deploy_mac.sh
Labels: C-chore, V-infra

#5425 Allow Docker studio image name to be overridden
  components/studio/build-docker-image.ps1
  components/studio/build-docker-image.sh
Labels: A-studio, C-feature, E-easy, V-devx, X-feature

#5420 Miscellaneous Buildkite Tweaks
  .buildkite/Brewfile
  .buildkite/env
  .buildkite/finish_release_pipeline.yaml
  .buildkite/pipeline.sh
  .buildkite/scripts/bintray_publish.sh
  .buildkite/scripts/bintray_upload.sh
  .buildkite/scripts/bintray_upload_macos.sh
  .buildkite/scripts/build_component.sh
  .buildkite/scripts/build_mac_release.sh
  .buildkite/scripts/promote_launchers.sh
  .buildkite/scripts/promote_release_channel.sh
  .buildkite/scripts/shared.sh
  README.md
  RELEASE.md
  components/hab/mac/README.md
  www/source/partials/docs/_reference-environment-vars.html.md.erb
Labels: C-chore, V-infra

#5428 Promote from the release channel for both promotions
  .buildkite/finish_release_pipeline.yaml
  .buildkite/scripts/promote_release_channel.sh
Labels: C-chore, V-infra

#5423 Provide a way to communicate with one's own Butterfly server
  components/sup/src/config.rs
  components/sup/src/manager/mod.rs
Labels: A-supervisor, C-bug, E-easy, L-rust, V-sup, X-fix

#5435 Add fnichol to CODEOWNERS for butterfly component.
  CODEOWNERS
Labels: A-supervisor, C-chore, V-sup

#5404 Launcher simplify reload logic
  components/launcher/src/server/mod.rs
Labels: X-feature

#5379 Provide consistency in supervisor clap cmds, correcting help menu problems
  Cargo.lock
  components/hab/src/cli.rs
  components/hab/src/main.rs
  components/sup/Cargo.toml
  components/sup/src/main.rs
Labels: A-cli, X-fix

#5434 [studio] Fast-fail when unmounting on Studio cleanup.
  components/studio/bin/hab-studio.sh
Labels: A-studio, C-bug, E-less-easy, I-linux, L-shell, V-devx, X-fix

#5431 Merge builder-depot-client and builder-api-client crates into single crate
  Cargo.lock
  Cargo.toml
  Makefile
  appveyor.yml
  components/builder-api-client/Cargo.toml
  components/builder-api-client/src/error.rs
  components/builder-api-client/src/lib.rs
  components/builder-depot-client/Cargo.toml
  components/builder-depot-client/src/error.rs
  components/builder-depot-client/src/lib.rs
  components/common/Cargo.toml
  components/common/src/command/package/install.rs
  components/common/src/error.rs
  components/common/src/lib.rs
  components/common/src/ui.rs
  components/hab/Cargo.toml
  components/hab/src/command/bldr/channel/create.rs
  components/hab/src/command/bldr/channel/destroy.rs
  components/hab/src/command/bldr/channel/list.rs
  components/hab/src/command/bldr/job/promote.rs
  components/hab/src/command/bldr/job/start.rs
  components/hab/src/command/bldr/job/status.rs
  components/hab/src/command/origin/key/download.rs
  components/hab/src/command/origin/key/upload.rs
  components/hab/src/command/origin/key/upload_latest.rs
  components/hab/src/command/origin/secret/delete.rs
  components/hab/src/command/origin/secret/list.rs
  components/hab/src/command/origin/secret/upload.rs
  components/hab/src/command/pkg/binlink.rs
  components/hab/src/command/pkg/channels.rs
  components/hab/src/command/pkg/demote.rs
  components/hab/src/command/pkg/promote.rs
  components/hab/src/command/pkg/search.rs
  components/hab/src/command/pkg/upload.rs
  components/hab/src/error.rs
  components/hab/src/lib.rs
  components/sup/Cargo.toml
  components/sup/src/ctl_gateway/mod.rs
  components/sup/src/error.rs
  components/sup/src/lib.rs
Labels: A-cli, C-chore, E-easy, L-rust, P-3, V-devx, X-change

#5426 Make the rootless studio the default container studio
  components/hab/src/command/studio/docker.rs
  components/hab/src/lib.rs
  components/hab/src/main.rs
Labels: A-studio, V-devx, X-change

#5430 Make docker studio behave like chroot studio
  components/hab/src/command/studio/docker.rs
Labels: A-cli, A-studio, V-devx, X-change

#5440 Release 0.61.0
  VERSION
Labels: Expeditor: Exclude from Changelog

#5451 Don't quote HAB_STUDIO_SUP
  components/rootless_studio/default/profile.enter
  components/studio/libexec/hab-studio-type-default.sh
Labels: A-studio, C-bug, E-easy, L-shell, X-fix

#5455 [common] Remove a now unused dependency in `habitat-sh/builder`.
  Cargo.lock
  components/common/Cargo.toml
  components/common/src/lib.rs
Labels: A-cli, A-exporter, A-launcher, A-supervisor, C-chore, E-easy, I-linux, I-macOS, I-windows, L-rust, V-devx, V-sup

#5445 Shut down the supervisor (but not services) when SIGHUP is received
  Cargo.lock
  components/sup/src/lib.rs
  components/sup/src/manager/mod.rs
Labels: X-feature

#5474 Revert "Make docker studio behave like chroot studio"
  components/hab/src/command/studio/docker.rs
Labels: X-fix

#5478 Change components/sup owners to include all all supervisor components
  CODEOWNERS
Labels: Expeditor: Exclude from Changelog

#5487 Relax the version pin for the `rand` crate
  Cargo.lock
  components/builder-api-client/Cargo.toml
  components/butterfly/Cargo.toml
  components/eventsrv-client/Cargo.toml
  components/sup-protocol/Cargo.toml
  components/sup-protocol/src/lib.rs
  components/sup/Cargo.toml
Labels: X-fix

#5477 Use common configuration values in release pipeline
  .buildkite/scripts/build_component.sh
  .buildkite/scripts/destroy_release_channel.sh
  .buildkite/scripts/promote_launchers.sh
  .buildkite/scripts/promote_release_channel.sh
  .buildkite/scripts/shared.sh
Labels: C-chore, V-infra

#5476 [hab] Support -V (--version) flag on subcommands
  components/hab/src/cli.rs
Labels: X-fix

#5486 fix powershell pkg_svc_run when run outside of a studio
  components/plan-build-ps1/bin/hab-plan-build.ps1
Labels: X-fix

#5490 Move #5488 to the Bug Fixes section of the changelog
  CHANGELOG.md
Labels: Expeditor: Exclude from Changelog

#5484 Add a supervisor version requirement checked by the launcher
  Cargo.lock
  components/launcher/Cargo.toml
  components/launcher/src/error.rs
  components/launcher/src/lib.rs
  components/launcher/src/server/mod.rs
  test/end-to-end/test_launcher_checks_supervisor_version.sh
Labels: X-change

#5492 Relax the version pin for the `uuid` crate
  Cargo.lock
  components/butterfly/Cargo.toml
  components/common/Cargo.toml
  components/hab/Cargo.toml
Labels: X-fix

#5493 Relax rusoto version pins
  Cargo.lock
  components/pkg-export-docker/Cargo.toml
  components/pkg-export-docker/src/lib.rs
Labels: X-fix

#5500 Service group cleanup
  Cargo.lock
  components/hab/Cargo.toml
  components/hab/src/cli.rs
  components/hab/src/lib.rs
Labels: X-fix

#5506 Update sup-protocol protocol generation process
  components/sup-protocol/build.rs
  components/sup-protocol/src/generated/sup.ctl.rs
  components/sup-protocol/src/generated/sup.net.rs
  components/sup-protocol/src/generated/sup.types.rs
Labels: X-fix

#5515 Don't require `protoc` in package builds
  components/sup/Cargo.toml
  components/sup/plan.sh
Labels: X-fix

#5519 Fix invalid desired state when using new hab with < 0.61 sup
  components/hab/src/main.rs
  components/sup-protocol/protocols/types.proto
  components/sup-protocol/src/generated/sup.types.rs
  components/sup-protocol/src/types.rs
Labels: X-fix

#5517 Fix composite bindings
  components/sup/src/manager/mod.rs
  components/sup/src/manager/service/spec.rs
Labels: T-DO-NOT-MERGE, X-fix

#5518 [api-client] Always set package target when making package API calls.
  components/builder-api-client/src/lib.rs
  components/common/src/command/package/install.rs
  components/hab/src/command/pkg/upload.rs
  components/hab/src/exec.rs
  components/sup/src/main.rs
  components/sup/src/manager/mod.rs
  components/sup/src/manager/service_updater.rs
Labels: A-cli, A-exporter, A-supervisor, C-feature, E-less-easy, I-linux, I-macOS, I-windows, L-rust, V-devx, V-sup, X-feature

#5491 Fix attach not working in docker studio
  components/rootless_studio/default/profile
Labels: X-fix
