Repository habitat-sh/habitat, pull requests merged in 2018-12, with the labels that each got.

#5874 Add simple auth and TLS to supervisor HTTP gateway
  Cargo.lock
  components/butterfly/src/member.rs
  components/butterfly/tests/rumor/departure.rs
  components/butterfly/tests/rumor/election.rs
  components/common/src/lib.rs
  components/hab/src/cli.rs
  components/sup-protocol/src/lib.rs
  components/sup/Cargo.toml
  components/sup/src/config.rs
  components/sup/src/error.rs
  components/sup/src/http_gateway.rs
  components/sup/src/lib.rs
  components/sup/src/main.rs
  components/sup/src/manager/mod.rs
  www/source/partials/docs/_using-hab-packages.html.md.erb
Labels: X-feature

#5915 Enable expeditor agents for master and release testing branch
  .expeditor/config.yml
Labels: Expeditor: Exclude from Changelog

#5921 fork term crate to get windows memory leak fix
  Cargo.lock
  components/common/Cargo.toml
Labels: A-supervisor, C-bug, I-windows, L-rust, X-fix

#5911 Replace rust-crypto crate's fixed_time_eq with core's secure_eq
  Cargo.lock
  components/sup/Cargo.toml
  components/sup/src/ctl_gateway/server.rs
  components/sup/src/http_gateway.rs
  components/sup/src/lib.rs
Labels: Expeditor: Exclude from Changelog

#5940 Add --transitive option to hab pkg dependencies
  components/hab/src/cli.rs
  components/hab/src/command/pkg/dependencies.rs
  components/hab/src/command/pkg/mod.rs
  components/hab/src/main.rs
Labels: X-change

#5913 Add testing exclusions for Appveyor
  appveyor.yml
Labels: Expeditor: Exclude from Changelog

#5928 Extract unnecessary code from manager module
  components/sup/src/ctl_gateway/server.rs
  components/sup/src/manager/commands.rs
  components/sup/src/manager/mod.rs
  components/sup/src/manager/service/spec.rs
Labels: C-refactoring, Expeditor: Exclude from Changelog

#5909 Update CODEOWNERS
  CODEOWNERS
Labels: Expeditor: Exclude from Changelog

#5947 Document why we promote the Supervisor last
  .buildkite/scripts/promote_release_channel.sh
Labels: Expeditor: Exclude from Changelog

#5965 Remove minimum 3 member requirement from quorum check
  components/butterfly/src/server/mod.rs
  components/butterfly/tests/rumor/election.rs
Labels: X-fix

#5923 Add --reverse option to hab pkg dependencies
  Cargo.lock
  components/common/Cargo.toml
  components/common/src/lib.rs
  components/common/src/package_graph.rs
  components/hab/src/cli.rs
  components/hab/src/command/pkg/dependencies.rs
  components/hab/src/command/pkg/mod.rs
  components/hab/src/command/pkg/uninstall.rs
  components/hab/src/main.rs
Labels: A-cli, X-feature

#5971 Identify generated files so GitHub can default to collapsing their diffs
  .gitattributes
Labels: Expeditor: Exclude from Changelog

#5964 Improve member health interface
  components/butterfly/src/member.rs
  components/butterfly/src/server/mod.rs
Labels: Expeditor: Exclude from Changelog

#5989 Update travis/buildkite/rustfmt to use Rust 1.31.0
  .buildkite/env
  .travis.yml
  components/builder-api-client/src/lib.rs
  components/butterfly-test/src/lib.rs
  components/butterfly/build.rs
  components/butterfly/src/main.rs
  components/butterfly/src/member.rs
  components/butterfly/src/server/mod.rs
  components/butterfly/tests/rumor/service_config.rs
  components/butterfly/tests/rumor/service_file.rs
  components/common/src/command/package/binds.rs
  components/common/src/command/package/config.rs
  components/common/src/command/package/install.rs
  components/common/src/locked_env_var.rs
  components/common/src/package_graph.rs
  components/eventsrv-protocol/build.rs
  components/hab/src/analytics.rs
  components/hab/src/cli.rs
  components/hab/src/command/bldr/job/status.rs
  components/hab/src/command/pkg/binlink.rs
  components/hab/src/command/pkg/upload.rs
  components/hab/src/command/plan/init.rs
  components/hab/src/main.rs
  components/launcher/src/server/mod.rs
  components/pkg-export-docker/src/build.rs
  components/pkg-export-docker/src/cli.rs
  components/pkg-export-docker/src/docker.rs
  components/pkg-export-docker/src/error.rs
  components/pkg-export-helm/src/main.rs
  components/pkg-export-helm/src/values.rs
  components/pkg-export-kubernetes/src/cli.rs
  components/pkg-export-kubernetes/src/hb.rs
  components/pkg-export-tar/src/cli.rs
  components/sup-protocol/build.rs
  components/sup-protocol/src/types.rs
  components/sup/src/census.rs
  components/sup/src/ctl_gateway/server.rs
  components/sup/src/http_gateway.rs
  components/sup/src/manager/commands.rs
  components/sup/src/manager/events.rs
  components/sup/src/manager/file_watcher.rs
  components/sup/src/manager/mod.rs
  components/sup/src/manager/service/mod.rs
  components/sup/src/manager/service/spec.rs
  components/sup/src/manager/service_updater.rs
  components/sup/src/templating/context.rs
  components/sup/src/templating/helpers/each_alive.rs
  components/sup/src/templating/helpers/pkg_path_for.rs
  components/sup/src/templating/mod.rs
  components/sup/src/util/pkg.rs
  components/sup/tests/utils/mod.rs
  components/sup/tests/utils/test_butterfly.rs
  components/sup/tests/utils/test_sup.rs
Labels: Expeditor: Exclude from Changelog

#5990 Don't panic if CLI parameters for "sup run" are missing from "sup term"
  components/sup/src/main.rs
Labels: X-fix

#5993 bump version for 0.71.0 release
  VERSION
Labels: Expeditor: Exclude from Changelog

#6007 Identify launcher-protocol message files as auto generated
  .gitattributes
Labels: Expeditor: Exclude from Changelog

#6010 Mark eventsrv-protocol generated files as generated so diffs are collapsed
  .gitattributes
Labels: Expeditor: Exclude from Changelog

#6009 cargo update to bring in HealthCheckInterval from core
  Cargo.lock
  components/eventsrv-protocol/src/message/event.rs
Labels: Expeditor: Exclude from Changelog

#6018 Don't panic in the unusual event persisting butterfly data takes over 30 s
  components/butterfly/src/server/mod.rs
Labels: X-fix
