Repository habitat-sh/habitat, pull requests merged in 2018-09, with the labels that each got.

#5554 Bump version for 0.62.1
  VERSION
Labels: Expeditor: Exclude from Changelog

#5539 Reuse build studio on Windows
  components/hab/src/cli.rs
  components/hab/src/command/pkg/build.rs
  components/hab/src/command/studio/mod.rs
  support/ci/appveyor.ps1
Labels: A-cli, A-studio, C-chore, E-easy, I-windows, L-rust, L-shell

#5588 Increase Network Stability across Supervisor Restarts
  components/butterfly/src/member.rs
  components/butterfly/src/protocol/mod.rs
  components/sup/src/manager/mod.rs
  support/ci/compile_libsodium.sh
Labels: A-supervisor, X-fix

#5595 Fix compile warning
  components/sup/src/lib.rs
Labels: X-fix

#5593 studio build and run should check for empty commands
  components/studio/bin/hab-studio.ps1
Labels: A-plan-build, A-studio, C-bug, E-easy, I-windows, L-shell

#5602 Habitat 0.63.0 release
  VERSION
Labels: Expeditor: Exclude from Changelog

#5613 Override SSL_CERT_FILE for macOS Buildkite build
  .buildkite/release_pipeline.yaml
Labels: C-chore, V-infra

#5624 Stop manually manipulating the PATH in bintray-publish package
  components/bintray-publish/bin/publish-hab.sh
  components/bintray-publish/plan.sh
Labels: C-chore, V-infra, X-fix

#5629 Bump version to 0.64.0-dev
  VERSION
Labels: Expeditor: Exclude from Changelog

#5611 Add more detail to error output when supervisor version is too old
  components/launcher/src/server/mod.rs
Labels: X-fix

#5591 Remove/replace set_{permissions,owner} calls which aren't supported on windows
  components/sup/src/ctl_gateway/mod.rs
  components/sup/src/manager/service/config.rs
  components/sup/src/manager/service/dir.rs
  components/sup/src/manager/service/hooks.rs
  components/sup/src/manager/service/mod.rs
Labels: X-change

#5552 clarifies what is available in on premises option and what is not
  www/source/partials/docs/_using-builder-on-prem.html.md.erb
Labels: A-documentation, A-habitat.sh

#5530 Update readme template to match core-plans requirements
  components/hab/static/template_README.md
Labels: A-documentation

#5643 [ci,rustfmt] Formatting due to rustfmt 0.99.1-stable in Rust 1.29.0.
  .buildkite/env
  .travis.yml
  components/builder-api-client/src/lib.rs
  components/butterfly/src/member.rs
  components/butterfly/src/rumor/dat_file.rs
  components/butterfly/src/rumor/service_file.rs
  components/butterfly/tests/rumor/service_config.rs
  components/butterfly/tests/rumor/service_file.rs
  components/hab/src/analytics.rs
  components/hab/src/cli.rs
  components/hab/src/command/pkg/binlink.rs
  components/hab/src/command/plan/init.rs
  components/hab/src/main.rs
  components/launcher/src/server/mod.rs
  components/pkg-export-docker/src/build.rs
  components/pkg-export-docker/src/cli.rs
  components/pkg-export-docker/src/error.rs
  components/pkg-export-helm/src/main.rs
  components/pkg-export-kubernetes/src/cli.rs
  components/pkg-export-kubernetes/src/error.rs
  components/pkg-export-kubernetes/src/hb.rs
  components/pkg-export-tar/src/cli.rs
  components/sup/src/census.rs
  components/sup/src/ctl_gateway/server.rs
  components/sup/src/manager/file_watcher.rs
  components/sup/src/manager/mod.rs
  components/sup/src/manager/service/composite_spec.rs
  components/sup/src/manager/service/mod.rs
  components/sup/src/manager/service/spec.rs
  components/sup/src/manager/service_updater.rs
  components/sup/src/manager/spec_watcher.rs
  components/sup/src/sys/unix/exec.rs
  components/sup/src/templating/context.rs
  components/sup/src/templating/helpers/each_alive.rs
  components/sup/src/templating/helpers/pkg_path_for.rs
  components/sup/src/templating/helpers/str_join.rs
  components/sup/src/templating/helpers/to_lowercase.rs
  components/sup/src/templating/helpers/to_uppercase.rs
  components/sup/src/templating/mod.rs
  components/sup/tests/utils/test_butterfly.rs
Labels: A-cli, A-exporter, A-launcher, A-supervisor, C-chore, E-easy, I-linux, I-macOS, I-windows, L-rust, V-devx, V-sup

#5648 Fail build if CR+LF endings exist in hooks
  components/plan-build/bin/hab-plan-build.sh
Labels: A-plan-build, X-feature

#5656 Update Cargo.lock, replace mktemp with rand and fix deprecations
  Cargo.lock
  components/builder-api-client/Cargo.toml
  components/builder-api-client/src/lib.rs
  components/butterfly/src/member.rs
  components/butterfly/src/rumor/heat.rs
  components/butterfly/src/rumor/mod.rs
  components/hab/src/analytics.rs
Labels: X-fix

#5659 Honor secrets in `hab studio run` and `hab pkg build` in rootless studio image
  components/hab/src/command/studio/docker.rs
  components/rootless_studio/.gitignore
  components/rootless_studio/default/entrypoint.sh
  components/rootless_studio/tests/README.md
  components/rootless_studio/tests/bats/secrets.bats
  components/rootless_studio/tests/dejagnu/studio/secrets_are_passed.exp
  components/rootless_studio/tests/fixtures/plans/test_build_with_secrets/README.md
  components/rootless_studio/tests/fixtures/plans/test_build_with_secrets/plan.sh
Labels: A-studio, V-devx, X-fix

#5655 Replace deprecated gen_ascii_chars() with sample_iter(&Alphanumeric)
  components/sup/src/manager/service/composite_spec.rs
  components/sup/src/manager/service/spec.rs
Labels: X-fix

#5616 Persist Incarnation Numbers
  Cargo.lock
  components/butterfly-test/src/lib.rs
  components/butterfly/Cargo.toml
  components/butterfly/src/error.rs
  components/butterfly/src/lib.rs
  components/butterfly/src/member.rs
  components/butterfly/src/server/incarnation_store.rs
  components/butterfly/src/server/mod.rs
  components/butterfly/src/server/outbound.rs
  components/butterfly/tests/integration.rs
  components/butterfly/tests/rumor/election.rs
  components/sup/src/manager/mod.rs
Labels: A-supervisor, V-sup, X-fix

#5673 Refuting an incarnation immediately increments to one-greater
  components/butterfly/src/member.rs
  components/butterfly/src/server/mod.rs
Labels: V-sup, X-change

#5675 Release 0.64.0
  VERSION
Labels: Expeditor: Exclude from Changelog
