Repository habitat-sh/habitat, pull requests merged in 2018-10, with the labels that each got.

#5707 Fix Changelog
  CHANGELOG.md
Labels: Expeditor: Exclude from Changelog

#5701 patching another recursive member RWLock access
  components/butterfly/src/server/inbound.rs
Labels: A-supervisor, C-bug, E-less-easy

#5697 Don't abandon service processes after a Supervisor restart
  components/launcher/src/server/mod.rs
  test/end-to-end/hup-does-not-abandon-services.exp
Labels: X-fix

#5712 Store services in a HashMap instead of a Vec
  components/sup/src/manager/mod.rs
Labels: A-supervisor, V-sup

#5713 Make logging around user.toml changes more specific
  components/sup/src/manager/mod.rs
Labels: X-change

#5727 Tokio deprecation fixes
  Cargo.lock
  components/sup-client/Cargo.toml
  components/sup-client/src/lib.rs
  components/sup-protocol/Cargo.toml
  components/sup-protocol/src/codec.rs
  components/sup-protocol/src/lib.rs
  components/sup/Cargo.toml
  components/sup/src/ctl_gateway/server.rs
  components/sup/src/lib.rs
Labels: X-fix

#5729 Remove unnecessary crate version pins, fix typo and add comments for hyper pins
  components/builder-api-client/Cargo.toml
  components/butterfly/Cargo.toml
  components/common/Cargo.toml
  components/eventsrv-client/Cargo.toml
  components/eventsrv/Cargo.toml
  components/hab/Cargo.toml
  components/launcher-protocol/Cargo.toml
  components/pkg-export-helm/Cargo.toml
  components/pkg-export-kubernetes/Cargo.toml
  components/pkg-export-tar/Cargo.toml
  components/sup/Cargo.toml
Labels: X-fix

#5720 Don't change svc directory permissions except when the directory is created
  components/sup/src/manager/service/dir.rs
  test/integration/sup-hup.bats
Labels: X-fix

#5733 Replace launcher's Process struct's unsafe implementations with rust stdlib
  components/launcher/src/server/handlers/restart.rs
  components/launcher/src/server/handlers/terminate.rs
  components/launcher/src/server/mod.rs
  components/launcher/src/service.rs
  components/launcher/src/sys/unix/service.rs
  components/launcher/src/sys/windows/service.rs
Labels: X-fix

#5735 [ci] Update Buildkite to Rust 1.29.1
  .buildkite/env
Labels: A-cli, A-exporter, A-launcher, A-supervisor, C-chore, E-easy, I-linux, I-macOS, I-windows, L-rust, V-devx, V-sup

#5724 rework permissions into separate APIs for linux and windows
  Cargo.lock
  components/pkg-export-docker/src/build.rs
  components/pkg-export-docker/src/chmod.rs
  components/pkg-export-docker/src/docker.rs
  components/pkg-export-docker/src/lib.rs
  components/pkg-export-docker/src/rootfs.rs
  components/pkg-export-docker/src/util.rs
  components/pkg-export-tar/src/build.rs
  components/pkg-export-tar/src/rootfs.rs
  components/sup/src/ctl_gateway/mod.rs
  components/sup/src/manager/service/config.rs
  components/sup/src/manager/service/dir.rs
  components/sup/src/manager/service/hooks.rs
  components/sup/src/manager/service/mod.rs
Labels: A-exporter, A-supervisor, C-feature, E-less-easy, I-windows, L-rust

#5738 Launcher creates its own PID file at /hab/launcher/PID
  components/launcher/src/server/mod.rs
Labels: X-feature

#5741 Update Cargo.lock to include https://github.com/habitat-sh/core/pull/75
  Cargo.lock
Labels: X-fix

#5744 Purge "rumor heat" information for departed members
  components/butterfly/src/rumor/heat.rs
  components/butterfly/src/server/expire.rs
  components/butterfly/src/server/mod.rs
Labels: X-fix

#5750 Remove multiple supervisors on single host support (--override-name option)
  components/hab/src/cli.rs
  components/sup-client/src/lib.rs
  components/sup-protocol/src/lib.rs
  components/sup/src/error.rs
  components/sup/src/main.rs
  components/sup/src/manager/mod.rs
  components/sup/tests/utils/test_sup.rs
Labels: X-change

#5725 Optimize the supervisor's HTTP gateway
  Cargo.lock
  components/backline/habitat/plan.sh
  components/backline/habitat/x86_64-linux-kernel2/plan.sh
  components/bintray-publish/habitat/bin/publish-hab.sh
  components/bintray-publish/habitat/bin/publish-studio.bat
  components/bintray-publish/habitat/bin/publish-studio.ps1
  components/bintray-publish/habitat/plan.ps1
  components/bintray-publish/habitat/plan.sh
  components/butterfly/src/server/mod.rs
  components/pkg-aci/habitat/bin/hab-pkg-aci.sh
  components/pkg-aci/habitat/plan.sh
  components/pkg-cfize/habitat/bin/hab-pkg-cfize.sh
  components/pkg-cfize/habitat/plan.sh
  components/pkg-dockerize/habitat/bin/hab-pkg-dockerize.sh
  components/pkg-dockerize/habitat/plan.sh
  components/pkg-export-docker/habitat/plan.ps1
  components/pkg-export-docker/habitat/plan.sh
  components/pkg-export-helm/habitat/plan.sh
  components/pkg-export-kubernetes/habitat/plan.sh
  components/pkg-export-tar/habitat/plan.ps1
  components/pkg-export-tar/habitat/plan.sh
  components/pkg-mesosize/habitat/bin/hab-pkg-mesosize.sh
  components/pkg-mesosize/habitat/plan.sh
  components/plan-build-ps1/habitat/bin/hab-plan-build.ps1
  components/plan-build-ps1/habitat/plan.ps1
  components/studio/habitat/bin/hab-studio.bat
  components/studio/habitat/bin/hab-studio.ps1
  components/studio/habitat/bin/hab-studio.sh
  components/studio/habitat/libexec/hab-studio-profile.sh
  components/studio/habitat/libexec/hab-studio-type-bare.sh
  components/studio/habitat/libexec/hab-studio-type-baseimage.sh
  components/studio/habitat/libexec/hab-studio-type-busybox.sh
  components/studio/habitat/libexec/hab-studio-type-default.sh
  components/studio/habitat/libexec/hab-studio-type-stage1.sh
  components/studio/habitat/plan.ps1
  components/studio/habitat/plan.sh
  components/sup/Cargo.toml
  components/sup/doc/http_gateway_services_schema.json
  components/sup/habitat/plan.ps1
  components/sup/habitat/plan.sh
  components/sup/src/ctl_gateway/mod.rs
  components/sup/src/error.rs
  components/sup/src/http_gateway.rs
  components/sup/src/lib.rs
  components/sup/src/manager/mod.rs
  components/sup/src/manager/service/mod.rs
  components/sup/tests/fixtures/http-gateway/sample-services-with-cfg-output.json
  components/sup/tests/fixtures/http-gateway/sample-services-without-cfg-output.json
  support/ci/appveyor.ps1
Labels: T-breaking

#5758 Fix changelog
  CHANGELOG.md
Labels: Expeditor: Exclude from Changelog

#5767 Trivial change to unstick Appveyor
  RELEASE.md
Labels: Expeditor: Exclude from Changelog

#5768 Temporarily disable skipping commits for documentation changes
  appveyor.yml
Labels: Expeditor: Exclude from Changelog

#5759 Store port values as u16 in Member struct
  Cargo.lock
  components/butterfly-test/Cargo.toml
  components/butterfly-test/src/lib.rs
  components/butterfly/protocols/swim.proto
  components/butterfly/src/generated/butterfly.swim.rs
  components/butterfly/src/main.rs
  components/butterfly/src/member.rs
  components/butterfly/src/server/mod.rs
  components/sup/src/http_gateway.rs
  components/sup/src/manager/mod.rs
  components/sup/src/manager/peer_watcher.rs
Labels: X-fix

#5782 Ensure we have the correct ContentType on our responses
  components/sup/src/http_gateway.rs
Labels: X-fix

#5737 Add 'hab pkg uninstall' command
  Cargo.lock
  components/common/Cargo.toml
  components/common/src/command/package/install.rs
  components/common/src/error.rs
  components/common/src/lib.rs
  components/common/src/package_graph.rs
  components/common/src/ui.rs
  components/hab/src/cli.rs
  components/hab/src/command/pkg/mod.rs
  components/hab/src/command/pkg/uninstall.rs
  components/hab/src/error.rs
  components/hab/src/main.rs
Labels: X-feature

#5695 `hab config show` now shows active service group configuration and individual config layers
  components/hab/src/cli.rs
  components/hab/src/main.rs
  components/sup-client/src/lib.rs
  components/sup-protocol/protocols/ctl.proto
  components/sup-protocol/protocols/types.proto
  components/sup-protocol/src/generated/sup.ctl.impl.rs
  components/sup-protocol/src/generated/sup.ctl.rs
  components/sup-protocol/src/generated/sup.types.rs
  components/sup-protocol/src/types.rs
  components/sup/src/ctl_gateway/server.rs
  components/sup/src/manager/mod.rs
Labels: X-change

#5789 Add the possible values for --topology into the online help
  components/hab/src/cli.rs
Labels: X-fix

#4829 [doc] Update internals/bootstrapping instructions.
  www/source/partials/docs/_internals-bootstrapping.html.md.erb
Labels: A-documentation, A-habitat.sh, C-feature, E-less-easy, I-linux, L-html-css, V-devx, V-infra
