Repository habitat-sh/habitat, pull requests merged in 2018-02, with the labels that each got.

#4617 [pkg-export-docker] Restore latest tag options.
  components/pkg-export-docker/src/cli.rs
  components/pkg-export-docker/src/docker.rs
  components/pkg-export-docker/src/lib.rs
Labels: A-builder, A-exporter, C-bug, C-critical, E-easy, L-rust, P-linux

#4618 Updating privacy policy
  www/config.rb
  www/source/legal/privacy-policy/archived.html.slim
  www/source/legal/privacy-policy/index.html.slim
Labels: A-habitat.sh

#4620 Fix array access regression in template rendering
  Cargo.lock
  components/sup/Cargo.toml
  components/sup/src/templating/mod.rs
  components/sup/tests/fixtures/sample_configs/complex_config.toml
Labels: A-supervisor, C-bug

#4566 ensure appveyor version matches hab cli so bintray releases also havethat version
  support/ci/appveyor.ps1
Labels: A-cli, C-bug, E-easy, P-windows

#4636 Improve Kubernetes documentation
  www/source/partials/docs/_bp-kubernetes.html.md.erb
Labels: A-documentation

#4573 Added ability to pass habitat secrets into the studio
  components/hab/src/command/studio/docker.rs
  components/studio/bin/hab-studio.sh
  www/source/partials/docs/_reference-environment-vars.html.md.erb
Labels: A-studio, C-feature, S-awaiting-review

#4644 Add release notes 0.54.0
  www/source/blog/2018-02-20-0540Release.html.md
Labels: A-documentation

#4648 pkg-export-k8s: Remove redundant newline filtering code
  components/pkg-export-kubernetes/defaults/KubernetesManifest.hbs
  components/pkg-export-kubernetes/src/manifestjson.rs
Labels: A-exporter, C-chore

#4624 Add asp.net core tutorial
  www/config.rb
  www/data/build_web_app_aspnet-core_sidebar.yml
  www/lib/sidebar_helpers.rb
  www/source/partials/global/_exports_examples.html.md.erb
  www/source/partials/global/_hook_definition.html.md.erb
  www/source/partials/global/_studio_definition.html.md.erb
  www/source/partials/tutorials/_scaffolding_switcher.slim
  www/source/partials/tutorials/_web_guide_add_config.slim
  www/source/partials/tutorials/_web_guide_aspnet-core_app_port.slim
  www/source/partials/tutorials/_web_guide_aspnet-core_database.slim
  www/source/partials/tutorials/_web_guide_aspnet-core_detected_dependencies.slim
  www/source/partials/tutorials/_web_guide_aspnet-core_prereqs.slim
  www/source/partials/tutorials/_web_guide_build_logic.slim
  www/source/partials/tutorials/_web_guide_build_test.slim
  www/source/partials/tutorials/_web_guide_connect_database.slim
  www/source/partials/tutorials/_web_guide_create_plan.slim
  www/source/partials/tutorials/_web_guide_define_dependencies.slim
  www/source/partials/tutorials/_web_guide_define_hooks.slim
  www/source/partials/tutorials/_web_guide_define_variables.slim
  www/source/partials/tutorials/_web_guide_intro.slim
  www/source/stylesheets/_tutorials.scss
  www/source/tutorials/build-your-own/aspnet-core/add-config.html.slim
  www/source/tutorials/build-your-own/aspnet-core/build-test.html.slim
  www/source/tutorials/build-your-own/aspnet-core/connect-database.html.slim
  www/source/tutorials/build-your-own/aspnet-core/create-plan.html.slim
  www/source/tutorials/build-your-own/aspnet-core/define-build-logic.html.slim
  www/source/tutorials/build-your-own/aspnet-core/define-dependencies.html.slim
  www/source/tutorials/build-your-own/aspnet-core/define-hooks.html.slim
  www/source/tutorials/build-your-own/aspnet-core/define-variables.html.slim
  www/source/tutorials/build-your-own/aspnet-core/index.html.slim
  www/source/tutorials/build-your-own/aspnet-core/next-steps.html.slim
  www/source/tutorials/build-your-own/index.html.slim
Labels: A-documentation, P-windows

#4668 do not check mounts entering windows container studio
  components/hab/src/command/studio/docker.rs
Labels: A-studio, C-chore, E-easy, L-rust, P-windows

#4681 Fix Helm chart naming
  Cargo.lock
  components/pkg-export-helm/Cargo.toml
  components/pkg-export-helm/src/chart.rs
  components/pkg-export-helm/src/main.rs
  components/pkg-export-kubernetes/src/manifest.rs
  components/pkg-export-kubernetes/src/manifestjson.rs
Labels: A-exporter, C-breaking

#4689 Adds lefthand side nav to demos
  www/config.rb
  www/data/demo_build_system_sidebar.yml
  www/data/demo_packaging_system_sidebar.yml
  www/data/demo_process_supervisor_sidebar.yml
  www/lib/sidebar_helpers.rb
  www/source/demo/build-system/steps/1.html.slim
  www/source/demo/build-system/steps/10.html.slim
  www/source/demo/build-system/steps/2.html.slim
  www/source/demo/build-system/steps/3.html.slim
  www/source/demo/build-system/steps/4.html.slim
  www/source/demo/build-system/steps/5.html.slim
  www/source/demo/build-system/steps/6.html.slim
  www/source/demo/build-system/steps/7.html.slim
  www/source/demo/build-system/steps/8.html.slim
  www/source/demo/build-system/steps/9.html.slim
  www/source/demo/packaging-system/steps/1.html.slim
  www/source/demo/packaging-system/steps/2.html.slim
  www/source/demo/packaging-system/steps/3.html.slim
  www/source/demo/packaging-system/steps/4.html.slim
  www/source/demo/packaging-system/steps/5.html.slim
  www/source/demo/packaging-system/steps/6.html.slim
  www/source/demo/process-supervisor/steps/1.html.slim
  www/source/demo/process-supervisor/steps/10.html.slim
  www/source/demo/process-supervisor/steps/11.html.slim
  www/source/demo/process-supervisor/steps/2.html.slim
  www/source/demo/process-supervisor/steps/3.html.slim
  www/source/demo/process-supervisor/steps/4.html.slim
  www/source/demo/process-supervisor/steps/5.html.slim
  www/source/demo/process-supervisor/steps/6.html.slim
  www/source/demo/process-supervisor/steps/7.html.slim
  www/source/demo/process-supervisor/steps/8.html.slim
  www/source/demo/process-supervisor/steps/9.html.slim
  www/source/layouts/tutorials_sidebar.slim
  www/source/learn/index.html.slim
  www/source/partials/demo/_create_an_origin.html.slim
  www/source/partials/demo/_install_habitat_builder.html.slim
  www/source/partials/demo/_install_the_tools.html.slim
  www/source/partials/demo/_sign_in_to_habitat.html.slim
  www/source/stylesheets/_demo.scss
  www/source/stylesheets/_global.scss
  www/source/stylesheets/_mixins.scss
  www/source/stylesheets/_tutorials.scss
Labels: A-habitat.sh, L-html-css

#4683 Launcher now reaps orphaned zombie processes
  Cargo.lock
  components/launcher/src/server/mod.rs
Labels: S-DO-NOT-MERGE
