Repository habitat-sh/habitat, pull requests merged in 2019-11, with the labels that each got.

#7140 remove IGNORE_SIGNALS feature
  components/common/src/lib.rs
  components/sup/src/http_gateway.rs
  components/sup/src/main.rs
  components/sup/src/manager.rs
  components/windows-service/App.config
  test/end-to-end/test_supervisor_windows_shutdown.ps1
Labels: A-supervisor, X-fix

#7157 [CI] Switch from Acceptance to Production Builder
  .expeditor/config.yml
  .expeditor/end_to_end.pipeline.yml
  .expeditor/finish_release.pipeline.yml
  .expeditor/release_habitat.pipeline.yml
  .expeditor/scripts/buildkite_promote.sh
  .expeditor/scripts/expeditor_promote.sh
  .expeditor/scripts/release_habitat/build_component.ps1
  .expeditor/scripts/release_habitat/build_component.sh
  .expeditor/scripts/release_habitat/build_mac_hab_binary.sh
  .expeditor/scripts/release_habitat/dockerhub_upload.sh
  .expeditor/scripts/release_habitat/expeditor_destroy_build_channel.sh
  .expeditor/scripts/release_habitat/package_and_upload_binary.sh
  .expeditor/scripts/release_habitat/promote_artifacts_to_dev.sh
  .expeditor/scripts/release_habitat/publish_docker_studio.ps1
  .expeditor/scripts/release_habitat/shared.sh
  .expeditor/scripts/shared.sh
  .expeditor/test/utilities.bats
  CHANGELOG.md
  CHANGELOG_FAKE.md
  VERSION
  VERSION_FAKE
  components/backline/habitat/plan.sh
  components/bintray-publish/habitat/plan.sh
  components/hab/habitat/plan.ps1
  components/hab/habitat/plan.sh
  components/hab/mac/travis/plan.sh
  components/pkg-aci/habitat/plan.sh
  components/pkg-cfize/habitat/plan.sh
  components/pkg-dockerize/habitat/plan.sh
  components/pkg-export-docker/habitat/plan.ps1
  components/pkg-export-docker/habitat/plan.sh
  components/pkg-export-helm/habitat/plan.sh
  components/pkg-export-kubernetes/habitat/plan.sh
  components/pkg-export-tar/habitat/plan.ps1
  components/pkg-export-tar/habitat/plan.sh
  components/pkg-mesosize/habitat/plan.sh
  components/plan-build-ps1/habitat/plan.ps1
  components/plan-build/habitat/plan.sh
  components/studio/habitat/plan.ps1
  components/studio/habitat/plan.sh
  components/sup/habitat/plan.ps1
  components/sup/habitat/plan.sh
  e2e_env
  test/end-to-end/test_pkg_bulkupload.sh
Labels: T-DO-NOT-MERGE

#7169 [CI] Remove old CI pipeline code
  .bldr.toml
  .buildkite/abort_release_pipeline.yaml
  .buildkite/env
  .buildkite/finish_release_pipeline.yaml
  .buildkite/hooks/pre-command
  .buildkite/release_pipeline.yaml
  .buildkite/scripts/bintray_publish.sh
  .buildkite/scripts/bintray_upload.sh
  .buildkite/scripts/bintray_upload_macos.sh
  .buildkite/scripts/build_component.ps1
  .buildkite/scripts/build_component.sh
  .buildkite/scripts/build_docker_image.ps1
  .buildkite/scripts/build_mac_release.sh
  .buildkite/scripts/destroy_release_channel.sh
  .buildkite/scripts/dockerhub_upload.sh
  .buildkite/scripts/finish_release.sh
  .buildkite/scripts/promote_release_channel.sh
  .buildkite/scripts/publish_docker_studio.ps1
  .buildkite/scripts/setup_build_metadata.sh
  .buildkite/scripts/shared.ps1
  .buildkite/scripts/shared.sh
  .buildkite/scripts/upload_backline_to_acceptance.sh
  .expeditor/config.yml
  .expeditor/verify.pipeline.yml
  components/bintray-publish/README.md
  components/bintray-publish/bin/publish-hab.sh
  components/bintray-publish/habitat/plan.sh
  support/ci/compile_libarchive.sh
  support/ci/compile_libsodium.sh
  support/ci/compile_zmq.sh
  support/ci/deploy_mac.sh
  support/ci/deploy_mac_launcher.sh
  support/ci/habitat-srv-admin.enc
  support/ci/install-nightly-rustfmt.sh
  support/ci/install_rq.sh
  support/ci/macos-pkg.sh
  support/ci/only_master.sh
  support/ci/publish-builder.sh
  support/ci/rust_env.sh
  support/ci/rust_tests.sh
  support/ci/should_we_build.sh
Labels: Expeditor: Skip Version Bump

#7164 Trigger finish release pipeline as post_commit action of promotion to current
  .expeditor/config.yml
Labels: Expeditor: Exclude from Changelog, Expeditor: Skip Version Bump

#7174 Fix studio tests
  .expeditor/end_to_end.pipeline.yml
  .expeditor/scripts/verify/run_studio_test.ps1
  .expeditor/scripts/verify/run_studio_test.sh
  .expeditor/verify.pipeline.yml
  components/studio/test/fixtures/empty-plan/plan.ps1
  components/studio/test/fixtures/empty-plan/plan.sh
  components/studio/test/shared/README.md
  components/studio/test/shared/studio-enter.exp
  components/studio/test/shared/studio-enter.ps1
  components/studio/test/shared/studio-internals/test-studio-build.ps1
  components/studio/test/shared/studio-internals/test-studio-build.sh
  components/studio/test/shared/studio-internals/test-studio-metadata.sh
  components/studio/test/shared/test-all.ps1
  components/studio/test/shared/test-all.sh
  components/studio/test/studio-from-package/test.ps1
  components/studio/test/studio-from-package/test.sh
  components/studio/test/test.ps1
  components/studio/test/test.sh
  test/end-to-end/test_studio_unmount_with_long_filesystem.sh
  test/fixtures/minimal-package/plan.ps1
Labels: Expeditor: Exclude from Changelog, Expeditor: Skip Version Bump

#7119 Update install scripts to pull from packages.chef.io for new releases
  .expeditor/scripts/verify/test_install_script.ps1
  .expeditor/scripts/verify/test_install_script.sh
  .expeditor/verify.pipeline.yml
  components/hab/install.ps1
  components/hab/install.sh
  components/hab/tests/test_install_script.bats
  components/hab/tests/test_install_script.ps1
Labels: C-chore, I-linux, I-macOS, I-windows, L-shell, T-DO-NOT-MERGE, X-change

#7213 Fix lock when spawning windows processes
  components/core/src/os/process/windows_child.rs
Labels: A-supervisor, C-bug, I-windows, L-rust, X-fix

#7214 Add PIDS_FROM_LAUNCHER feature to eliminate service PID files
  .expeditor/end_to_end.pipeline.yml
  components/common/src/lib.rs
  components/launcher-client/src/client.rs
  components/launcher-client/src/error.rs
  components/launcher-protocol/protocols/error.proto
  components/launcher-protocol/protocols/launcher.proto
  components/launcher-protocol/src/types.rs
  components/launcher/src/server.rs
  components/launcher/src/server/handlers.rs
  components/launcher/src/server/handlers/pid.rs
  components/sup/src/manager.rs
  components/sup/src/manager/service.rs
  components/sup/src/manager/service/supervisor.rs
  components/sup/src/manager/service/terminator.rs
  test/end-to-end/shared.sh
  test/end-to-end/test_PIDS_FROM_LAUNCHER_feature.sh
  test/end-to-end/test_PIDS_FROM_LAUNCHER_feature_disabled.sh
  test/end-to-end/test_PIDS_FROM_LAUNCHER_feature_old_launcher.sh
Labels: X-feature

#7171 Kg/frontmatter
  www/source/data/example.yaml
  www/source/docs/best-practices.html.md.erb
  www/source/docs/developing-packages.html.md.erb
  www/source/docs/diagrams.html.md.erb
  www/source/docs/glossary.html.md.erb
  www/source/docs/habitat-and-other-software.html.md.erb
  www/source/docs/install-habitat.html.md.erb
  www/source/docs/internals.html.md.erb
  www/source/docs/reference.html.md.erb
  www/source/docs/using-builder.html.md.erb
  www/source/docs/using-habitat.html.md.erb
Labels: A-documentation

#7218 Adds docs people to www
  CODEOWNERS
Labels: A-documentation

#7223 Smaller margins on code element
  www/source/stylesheets/_global.scss
Labels: A-documentation

#7222 Fixes formatting for hooks section
  www/source/docs/reference.html.md.erb
Labels: A-documentation

#7212 H2 anchors stay in view
  www/source/stylesheets/_code.scss
  www/source/stylesheets/_global.scss
Labels: A-documentation

#7075 restores Swiftype
  www/source/layouts/blog_index.slim
  www/source/layouts/layout.slim
  www/source/layouts/sidebar.slim
  www/source/stylesheets/_layout.scss
  www/source/stylesheets/_search.scss
Labels: A-documentation
