Repository habitat-sh/habitat, pull requests merged in 2019-07, with the labels that each got.

#6696 Document logging configuration for the Supervisor
  www/data/docs_sidebar.yml
  www/source/docs/reference.html.md.erb
  www/source/partials/docs/_reference-supervisor-log-configuration.html.md.erb
Labels: Expeditor: Exclude from Changelog

#6699 Convert foo/mod.rs -> foo.rs
  components/butterfly/src/protocol.rs
  components/butterfly/src/rumor.rs
  components/butterfly/src/server.rs
  components/common/src/command.rs
  components/common/src/command/package.rs
  components/common/src/templating.rs
  components/common/src/templating/helpers.rs
  components/common/src/types.rs
  components/common/src/util.rs
  components/core/src/crypto.rs
  components/core/src/crypto/keys.rs
  components/core/src/os.rs
  components/core/src/os/ffi.rs
  components/core/src/os/filesystem.rs
  components/core/src/os/net.rs
  components/core/src/os/process.rs
  components/core/src/os/signals.rs
  components/core/src/os/system.rs
  components/core/src/os/users.rs
  components/core/src/package.rs
  components/core/src/util.rs
  components/hab/src/command.rs
  components/hab/src/command/bldr.rs
  components/hab/src/command/bldr/channel.rs
  components/hab/src/command/bldr/job.rs
  components/hab/src/command/cli.rs
  components/hab/src/command/config.rs
  components/hab/src/command/file.rs
  components/hab/src/command/origin.rs
  components/hab/src/command/origin/key.rs
  components/hab/src/command/origin/secret.rs
  components/hab/src/command/pkg.rs
  components/hab/src/command/pkg/export.rs
  components/hab/src/command/plan.rs
  components/hab/src/command/ring.rs
  components/hab/src/command/ring/key.rs
  components/hab/src/command/service.rs
  components/hab/src/command/service/key.rs
  components/hab/src/command/studio.rs
  components/hab/src/command/user.rs
  components/hab/src/command/user/key.rs
  components/launcher/src/server.rs
  components/launcher/src/server/handlers.rs
  components/launcher/src/sys.rs
  components/launcher/src/sys/mod.rs
  components/launcher/src/sys/unix/mod.rs
  components/launcher/src/sys/windows/mod.rs
  components/sup/src/command.rs
  components/sup/src/ctl_gateway.rs
  components/sup/src/manager.rs
  components/sup/src/manager/service.rs
  components/sup/src/util.rs
Labels: C-refactoring, Expeditor: Exclude from Changelog

#6694 Bump version to 0.83.0
  CHANGELOG.md
  VERSION
Labels: Expeditor: Exclude from Changelog

#6707 Add test for error writing DatFile on Windows
  components/butterfly/src/rumor/dat_file.rs
  components/butterfly/src/server.rs
Labels: C-refactoring, Expeditor: Exclude from Changelog

#6717 Stop health check futures when upgrading the Supervisor
  components/sup/src/manager.rs
  components/sup/src/manager/service.rs
  test/end-to-end/hup-does-not-abandon-services.exp
Labels: V-sup, X-fix

#6714 Improve liveliness checker
  components/butterfly/src/server.rs
  components/butterfly/src/server/expire.rs
  components/butterfly/src/server/inbound.rs
  components/butterfly/src/server/outbound.rs
  components/butterfly/src/server/pull.rs
  components/butterfly/src/server/push.rs
  components/common/src/lib.rs
  components/common/src/liveliness_checker.rs
  components/launcher/src/server.rs
  components/sup/src/ctl_gateway/server.rs
  components/sup/src/main.rs
  components/sup/src/manager.rs
  components/sup/src/manager/file_watcher.rs
  components/sup/src/manager/peer_watcher.rs
  components/sup/src/manager/self_updater.rs
  components/sup/src/manager/service_updater.rs
  components/sup/src/manager/user_config_watcher.rs
Labels: X-fix

#6724 Fix scope of lock
  components/common/src/liveliness_checker.rs
Labels: Expeditor: Exclude from Changelog

#6736 Prepare for 0.84.0 development
  CHANGELOG.md
  VERSION
Labels: Expeditor: Exclude from Changelog

#6734 Add christophermaier as habitat_common code owner
  CODEOWNERS
Labels: Expeditor: Exclude from Changelog

#6731 Add liveliness checker regression test
  components/common/src/liveliness_checker.rs
Labels: Expeditor: Exclude from Changelog

#6668 Cleanup lifecycle restarts and remove reload hook
  components/common/src/templating/hooks.rs
  components/sup/doc/http_gateway_services_schema.json
  components/sup/src/manager.rs
  components/sup/src/manager/service.rs
  components/sup/src/manager/service/hooks.rs
  components/sup/src/manager/service/supervisor.rs
  components/sup/tests/fixtures/http-gateway/sample-services-with-cfg-output.json
  components/sup/tests/fixtures/http-gateway/sample-services-without-cfg-output.json
  www/source/partials/docs/_reference-hooks.html.md.erb
Labels: A-supervisor, X-change

#6721 Cleans up a missed conflict
  www/source/docs/using-builder.html.md.erb
Labels: Expeditor: Exclude from Changelog

#6755 Be more explicit about connection refused errors.
  components/sup-client/src/lib.rs
Labels: X-fix

#6700 redux: cross platform binstubs with package environment
  components/hab/src/command/pkg/binlink.rs
  components/hab/src/error.rs
  components/hab/src/lib.rs
  components/hab/static/template_binstub.bat
  components/hab/static/template_binstub.sh
  components/pkg-export-docker/src/build.rs
  test/shellcheck.sh
Labels: X-change

#6766 Fix up changelog for 0.83.0 release
  CHANGELOG.md
Labels: Expeditor: Exclude from Changelog, Expeditor: Skip All, Expeditor: Skip Version Bump
