Repository habitat-sh/habitat, pull requests merged in 2019-05, with the labels that each got.

#6510 Add instructions for running a "fake" release
  RELEASE.md
Labels: Expeditor: Exclude from Changelog

#6505 Remove the catch-all code owners
  CODEOWNERS
Labels: Expeditor: Exclude from Changelog

#6506 Remove unused import
  components/core/src/fs.rs
Labels: Expeditor: Exclude from Changelog

#6518 0.81.0
  .expeditor/verify.pipeline.yml
  CHANGELOG.md
  VERSION
Labels: Expeditor: Exclude from Changelog

#6527 Bump to 0.82.0-dev
  VERSION
Labels: Expeditor: Exclude from Changelog

#6436 Add habitat_common::sync::Lock type for recursive read locking
  .expeditor/verify.pipeline.yml
  Cargo.lock
  components/butterfly/Cargo.toml
  components/butterfly/src/error.rs
  components/butterfly/src/member.rs
  components/butterfly/tests/common/mod.rs
  components/common/Cargo.toml
  components/common/src/lib.rs
  components/common/src/ui.rs
  components/core/Cargo.toml
  components/core/build.rs
  components/core/src/os/signals/mod.rs
  components/core/src/os/users/linux.rs
  components/sup/Cargo.toml
  components/sup/src/lib.rs
  components/sup/src/main.rs
  components/win-users/Cargo.toml
  components/win-users/build.rs
  test/run_cargo_test.ps1
  test/run_cargo_test.sh
Labels: X-fix

#6540 remove trailing space from env vars set in export docker build
  components/pkg-export-docker/defaults/Dockerfile_win.hbs
Labels: A-exporter, C-bug, E-easy, I-windows, X-fix

#6478 Update to install for Windows
  www/Gemfile
  www/Gemfile.lock
  www/source/partials/global/_download-and-install.slim
Labels: A-documentation

#6482 Run health checks asynchronously
  Cargo.lock
  components/sup/Cargo.toml
  components/sup/src/http_gateway.rs
  components/sup/src/lib.rs
  components/sup/src/manager/mod.rs
  components/sup/src/manager/service/health.rs
  components/sup/src/manager/service/hooks.rs
  components/sup/src/manager/service/mod.rs
  components/sup/src/sup_futures.rs
Labels: X-feature

#6565 Add thread heartbeats to log errors for likely deadlocks
  components/butterfly/src/server/expire.rs
  components/butterfly/src/server/inbound.rs
  components/butterfly/src/server/mod.rs
  components/butterfly/src/server/outbound.rs
  components/butterfly/src/server/pull.rs
  components/butterfly/src/server/push.rs
  components/common/src/lib.rs
  components/core/src/env.rs
  components/launcher/src/server/mod.rs
  components/sup/src/ctl_gateway/server.rs
  components/sup/src/main.rs
  components/sup/src/manager/file_watcher.rs
  components/sup/src/manager/mod.rs
  components/sup/src/manager/peer_watcher.rs
  components/sup/src/manager/self_updater.rs
  components/sup/src/manager/service_updater.rs
  components/sup/src/manager/user_config_watcher.rs
Labels: Expeditor: Exclude from Changelog

#6575 Add guidance on how to yank a failed release
  RELEASE.md
Labels: Expeditor: Exclude from Changelog

#6600 Downgrade clippy::cyclomatic_complexity from error to warning
  components/butterfly/src/server/push.rs
  components/butterfly/tests/rumor/election.rs
  components/core/src/fs.rs
  components/core/src/package/install.rs
  components/hab/src/scaffolding.rs
  components/sup/src/manager/mod.rs
  components/sup/src/manager/service_updater.rs
  test/denied_lints.txt
  test/lints_to_fix.txt
Labels: Expeditor: Exclude from Changelog
