Repository habitat-sh/habitat, pull requests merged in 2019-02, with the labels that each got.

#6111 [sup] Add `core/make` as a build dependency.
  components/sup/habitat/plan.sh
Labels: A-supervisor, C-bug, E-less-easy, I-linux, L-shell, X-fix

#6112 Updates to CHANGELOG for 0.74.0 release.
  CHANGELOG.md
Labels: C-release, Expeditor: Exclude from Changelog

#6119 Move metadata setup into a build step, assume all builds are real
  .buildkite/release_pipeline.yaml
  .buildkite/scripts/setup_build_metadata.sh
Labels: C-chore

#6124 Release 0.74.0 blog post!
  CHANGELOG.md
  www/source/blog/2019-02-06-0.74.0-release.html.md
  www/source/blog/2019-02-06-introducing-the-install-hook.html.md
Labels: A-documentation

#6126 Bump VERSION to 0.75.0-dev.
  VERSION
Labels: C-chore, C-release

#6105 Convert all of the launcher crates to use prost.
  Cargo.lock
  Makefile
  components/launcher-client/Cargo.toml
  components/launcher-client/src/client.rs
  components/launcher-client/src/error.rs
  components/launcher-client/src/lib.rs
  components/launcher-protocol/Cargo.toml
  components/launcher-protocol/build.rs
  components/launcher-protocol/protocols/error.proto
  components/launcher-protocol/protocols/launcher.proto
  components/launcher-protocol/protocols/net.proto
  components/launcher-protocol/protocols/supervisor.proto
  components/launcher-protocol/src/error.rs
  components/launcher-protocol/src/generated.rs
  components/launcher-protocol/src/lib.rs
  components/launcher-protocol/src/message/error.rs
  components/launcher-protocol/src/message/launcher.rs
  components/launcher-protocol/src/message/mod.rs
  components/launcher-protocol/src/message/net.rs
  components/launcher-protocol/src/message/supervisor.rs
  components/launcher-protocol/src/types.rs
  components/launcher/Cargo.toml
  components/launcher/src/error.rs
  components/launcher/src/server/handlers/mod.rs
  components/launcher/src/server/handlers/restart.rs
  components/launcher/src/server/handlers/spawn.rs
  components/launcher/src/server/handlers/terminate.rs
  components/launcher/src/server/mod.rs
  components/launcher/src/service.rs
  components/launcher/src/sys/unix/service.rs
  components/launcher/src/sys/windows/service.rs
Labels: C-chore, Expeditor: Exclude from Changelog

#6066 Support for recursive subdirectories for config.
  components/common/src/templating/config.rs
Labels: X-feature

#6098 generate api docs for windows http gateway
  components/sup/build.rs
  components/sup/habitat/plan.ps1
Labels: A-supervisor, C-bug, E-easy, I-windows, L-rust, L-shell, X-fix

#6106 use temp dir scoped to current build to avoid failures when building multiple builds
  components/plan-build-ps1/bin/hab-plan-build.ps1
Labels: A-plan-build, C-bug, E-easy, I-windows, L-shell, X-fix

#6102 if the studio is rooted immediately under the system drive, do not try to delete it
  components/studio/bin/hab-studio.ps1
Labels: A-studio, C-bug, E-easy, I-windows, L-shell, X-fix

#6127 [docs] Update CLI reference for 0.74.0 release.
  www/source/docs/habitat-cli.html.md
Labels: A-documentation, C-chore, C-release

#6101 Add MemberList::get_cloned and refactor create_member_rumor accordingly
  components/butterfly/src/member.rs
  components/butterfly/src/server/push.rs
Labels: C-refactoring, Expeditor: Exclude from Changelog

#6097 Don't copy the entire member list when choosing PingReq values
  components/butterfly/src/member.rs
  components/butterfly/src/server/outbound.rs
Labels: X-fix

#6104 Only execute the RumorStore::with_rumor closure if there's actually a rumor
  components/butterfly-test/src/lib.rs
  components/butterfly/src/rumor/mod.rs
  components/butterfly/src/server/mod.rs
  components/butterfly/tests/encryption/mod.rs
  components/butterfly/tests/rumor/departure.rs
  components/butterfly/tests/rumor/election.rs
  components/butterfly/tests/rumor/service.rs
  components/butterfly/tests/rumor/service_config.rs
  components/butterfly/tests/rumor/service_file.rs
Labels: C-refactoring, Expeditor: Exclude from Changelog

#6100 Classify the remaining unfixed clippy lints as ones to fix versus ignore
  Makefile
Labels: Expeditor: Exclude from Changelog

#6132 cargo update
  Cargo.lock
  components/hab/src/main.rs
Labels: Expeditor: Exclude from Changelog

#6074 Replace Strings and &strs with type-safe habitat_core::ChannelIdent type
  Cargo.lock
  components/builder-api-client/src/lib.rs
  components/common/src/command/package/install.rs
  components/common/src/util/path.rs
  components/hab/src/command/bldr/channel/create.rs
  components/hab/src/command/bldr/channel/destroy.rs
  components/hab/src/command/bldr/job/promote.rs
  components/hab/src/command/pkg/demote.rs
  components/hab/src/command/pkg/export/mod.rs
  components/hab/src/command/pkg/promote.rs
  components/hab/src/command/pkg/upload.rs
  components/hab/src/exec.rs
  components/hab/src/main.rs
  components/pkg-export-docker/src/build.rs
  components/pkg-export-docker/src/docker.rs
  components/pkg-export-docker/src/lib.rs
  components/pkg-export-tar/src/build.rs
  components/pkg-export-tar/src/lib.rs
  components/sup-protocol/src/lib.rs
  components/sup/src/main.rs
  components/sup/src/manager/commands.rs
  components/sup/src/manager/mod.rs
  components/sup/src/manager/self_updater.rs
  components/sup/src/manager/service/mod.rs
  components/sup/src/manager/service/spec.rs
  components/sup/src/manager/service_updater.rs
  components/sup/src/util/pkg.rs
Labels: Expeditor: Exclude from Changelog

#6138 include HAB_FEAT_INSTALL_HOOK in docker studio env_vars
  components/hab/src/command/studio/docker.rs
Labels: A-studio, C-bug, E-easy, L-rust, X-fix

#6140 Cargo update for core 118
  Cargo.lock
Labels: Expeditor: Exclude from Changelog

#6116 Fix BoxKeyPair::encrypt return type
  Cargo.lock
  Makefile
  components/builder-api-client/src/lib.rs
  components/butterfly/src/rumor/service_config.rs
  components/butterfly/src/rumor/service_file.rs
  components/hab/src/command/origin/secret/upload.rs
  components/hab/src/main.rs
  components/sup-protocol/protocols/ctl.proto
  components/sup-protocol/src/generated/sup.ctl.rs
Labels: X-fix

#6145 Move finish release to regular queue
  .buildkite/release_pipeline.yaml
Labels: Expeditor: Exclude from Changelog

#6142 ensure install hooks do not run from cli if feature is not enabled
  components/hab/src/main.rs
Labels: A-cli, C-bug, E-easy, L-rust, X-fix

#6147 Release 0.75.0
  CHANGELOG.md
  VERSION
Labels: Expeditor: Exclude from Changelog

#6149 Fix root rust path
  .buildkite/scripts/build_mac_release.sh
Labels: Expeditor: Exclude from Changelog

#6153 Generate protobuf code in Supervisor and Launcher package builds
  components/launcher/habitat/plan.sh
  components/sup/habitat/plan.sh
Labels: C-chore, Expeditor: Exclude from Changelog

#6156 Remove txn_id from Launcher protocol
  components/launcher-protocol/protocols/net.proto
  components/launcher-protocol/src/lib.rs
  components/launcher-protocol/src/types.rs
  components/launcher/src/server/handlers/mod.rs
  components/launcher/src/server/mod.rs
Labels: A-launcher

#6166 adding HAB_CRYPTO_KEY to hab build
  .buildkite/release_pipeline.yaml
Labels: A-cli, C-bug, X-fix

#6163 Add Launcher build stages to the release pipeline
  .buildkite/launcher_build_steps.yaml
  .buildkite/release_pipeline.yaml
  .buildkite/scripts/build_component.ps1
  .buildkite/scripts/promote_launchers.sh
  .buildkite/scripts/resolve_launcher_actions.sh
Labels: C-chore, Expeditor: Exclude from Changelog, V-infra

#6137 Remove the hard-coded hab user in the tests
  components/common/src/templating/config.rs
Labels: Expeditor: Exclude from Changelog

#6182 Remove unterminated quote from pipeline command
  .buildkite/launcher_build_steps.yaml
Labels: Expeditor: Exclude from Changelog

#6185 Update cli documentation
  www/source/docs/habitat-cli.html.md
Labels: Expeditor: Exclude from Changelog

#6141 Move ServiceBind to core
  components/pkg-export-helm/src/chart.rs
  components/pkg-export-kubernetes/src/cli.rs
  components/pkg-export-kubernetes/src/lib.rs
  components/pkg-export-kubernetes/src/manifest.rs
  components/pkg-export-kubernetes/src/manifestjson.rs
  components/sup-protocol/src/types.rs
  components/sup/src/error.rs
  components/sup/src/manager/service/context.rs
  components/sup/src/manager/service/hooks.rs
  components/sup/src/manager/service/mod.rs
  components/sup/src/manager/service/spec.rs
  components/sup/tests/fixtures/pkgs/hab/pkgs/test-bind/test-bind-win/0.1.0/20190219231616/BINDS
  components/sup/tests/fixtures/pkgs/hab/pkgs/test-bind/test-bind-win/0.1.0/20190219231616/BINDS_OPTIONAL
  components/sup/tests/fixtures/pkgs/hab/pkgs/test-bind/test-bind-win/0.1.0/20190219231616/IDENT
  components/sup/tests/fixtures/pkgs/hab/pkgs/test-bind/test-bind-win/0.1.0/20190219231616/MANIFEST
  components/sup/tests/fixtures/pkgs/hab/pkgs/test-bind/test-bind-win/0.1.0/20190219231616/SVC_GROUP
  components/sup/tests/fixtures/pkgs/hab/pkgs/test-bind/test-bind-win/0.1.0/20190219231616/SVC_USER
  components/sup/tests/fixtures/pkgs/hab/pkgs/test-bind/test-bind-win/0.1.0/20190219231616/TARGET
  components/sup/tests/fixtures/pkgs/hab/pkgs/test-bind/test-bind-win/0.1.0/20190219231616/default.toml
  components/sup/tests/fixtures/pkgs/hab/pkgs/test-bind/test-bind/0.1.0/20190219230309/BINDS
  components/sup/tests/fixtures/pkgs/hab/pkgs/test-bind/test-bind/0.1.0/20190219230309/BINDS_OPTIONAL
  components/sup/tests/fixtures/pkgs/hab/pkgs/test-bind/test-bind/0.1.0/20190219230309/FILES
  components/sup/tests/fixtures/pkgs/hab/pkgs/test-bind/test-bind/0.1.0/20190219230309/IDENT
  components/sup/tests/fixtures/pkgs/hab/pkgs/test-bind/test-bind/0.1.0/20190219230309/MANIFEST
  components/sup/tests/fixtures/pkgs/hab/pkgs/test-bind/test-bind/0.1.0/20190219230309/TARGET
  components/sup/tests/fixtures/pkgs/hab/pkgs/test-bind/test-bind/0.1.0/20190219230309/TYPE
  components/sup/tests/fixtures/pkgs/hab/pkgs/test-bind/test-bind/0.1.0/20190219230309/default.toml
Labels: C-refactoring, Expeditor: Exclude from Changelog

#6177 Set Cargo.toml authors = ["The Habitat Maintainers <humans@habitat.sh>"]
  components/builder-api-client/Cargo.toml
  components/butterfly-test/Cargo.toml
  components/butterfly/Cargo.toml
  components/common/Cargo.toml
  components/hab/Cargo.toml
  components/launcher-client/Cargo.toml
  components/launcher-protocol/Cargo.toml
  components/launcher/Cargo.toml
  components/pkg-export-docker/Cargo.toml
  components/pkg-export-helm/Cargo.toml
  components/pkg-export-tar/Cargo.toml
  components/sup-client/Cargo.toml
  components/sup-protocol/Cargo.toml
  components/sup/Cargo.toml
Labels: Expeditor: Exclude from Changelog

#6198 Fix clippy::len_without_is_empty lint and add to DENIED_LINTS
  Makefile
  components/butterfly/src/member.rs
  components/butterfly/src/rumor/mod.rs
  components/butterfly/src/server/mod.rs
  components/hab/src/command/pkg/export/mod.rs
  components/sup-protocol/src/lib.rs
Labels: C-refactoring, Expeditor: Exclude from Changelog

#6199 Add website pipeline
  .expeditor/config.yml
  .expeditor/website.pipeline.yml
Labels: Expeditor: Exclude from Changelog

#6202 Fix clippy::question_mark and add to DENIED_LINTS
  Makefile
  components/hab/src/main.rs
Labels: Expeditor: Exclude from Changelog

#6200 Fix pipeline trigger
  .expeditor/config.yml
Labels: Expeditor: Exclude from Changelog

#6210 Fix clippy::redundant_field_names needless_update and add to DENIED_LINTS
  Makefile
  components/launcher-client/src/client.rs
Labels: Expeditor: Exclude from Changelog

#6160 Enable clippy and shellcheck linting
  .buildkite/scripts/build_mac_release.sh
  .buildkite/scripts/promote_release_channel.sh
  .buildkite/scripts/resolve_launcher_actions.sh
  .buildkite/scripts/shared.sh
  .expeditor/verify.pipeline.yml
  Makefile
  components/bintray-publish/bin/publish-hab.sh
  components/hab/install.sh
  components/pkg-cfize/bin/hab-pkg-cfize.sh
  components/pkg-cfize/habitat/plan.sh
  components/pkg-export-docker/habitat/plan.sh
  components/pkg-export-helm/habitat/plan.sh
  components/pkg-export-kubernetes/habitat/plan.sh
  components/pkg-export-tar/habitat/plan.sh
  components/plan-build-ps1/bin/hab-plan-build.ps1
  components/plan-build/bin/environment.bash
  components/plan-build/bin/hab-plan-build.sh
  components/plan-build/bin/shared.bash
  components/studio/libexec/hab-studio-type-default.sh
  support/ci/builder-base-plan.sh
  support/ci/fast_pass.sh
  test/run_cargo_test.ps1
  test/run_cargo_test.sh
  test/run_clippy.sh
Labels: S-awaiting-review

#6215 Release 0.76.0
  CHANGELOG.md
  VERSION
Labels: Expeditor: Exclude from Changelog

#6219 Fix a buglet in stable launcher promotion during a release
  .buildkite/scripts/resolve_launcher_actions.sh
Labels: C-bug, Expeditor: Exclude from Changelog, V-infra

#6214 Update the list of clippy lints in run_clippy.sh
  test/run_clippy.sh
Labels: Expeditor: Exclude from Changelog

#6229 update CHANGELOG for release 0.76.0
  CHANGELOG.md
Labels: Expeditor: Exclude from Changelog

#6203 use console api instead of ansi codes on windows
  Cargo.lock
  components/common/Cargo.toml
  components/common/src/ui.rs
  components/hab/Cargo.toml
  components/hab/src/command/bldr/job/promote.rs
  components/hab/src/command/pkg/binlink.rs
  components/hab/src/main.rs
  components/launcher/Cargo.toml
  components/pkg-export-docker/Cargo.toml
  components/pkg-export-docker/src/build.rs
  components/sup-client/Cargo.toml
  components/sup-client/src/lib.rs
  components/sup-protocol/protocols/ctl.proto
  components/sup-protocol/src/generated/sup.ctl.rs
  components/sup/Cargo.toml
  components/sup/src/ctl_gateway/mod.rs
  components/sup/src/main.rs
Labels: A-cli, A-supervisor, C-bug, E-hard, I-windows, L-rust, X-fix

#6236 update docs for 0.76.0
  www/source/docs/habitat-cli.html.md
Labels: Expeditor: Exclude from Changelog
