Repository habitat-sh/habitat, pull requests merged in 2019-08, with the labels that each got.

#6782 Add scheduled expeditor task to run cargo update
  .expeditor/config.yml
  .expeditor/scripts/cargo_update.sh
Labels: Expeditor: Exclude from Changelog

#6779 Miscellaneous Expeditor tweaks
  .expeditor/config.yml
  .expeditor/release_habitat.pipeline.yml
  .expeditor/scripts/promote_packages.sh
Labels: Expeditor: Exclude from Changelog

#6811 Bump dependency versions
  Cargo.lock
  components/builder-api-client/Cargo.toml
  components/http-client/Cargo.toml
  components/rst-reader/src/main.rs
  components/sup-client/Cargo.toml
Labels: Expeditor: Exclude from Changelog

#6674 Audit RumorStore locking
  components/butterfly/src/main.rs
  components/butterfly/src/member.rs
  components/butterfly/src/rumor.rs
  components/butterfly/src/rumor/dat_file.rs
  components/butterfly/src/rumor/departure.rs
  components/butterfly/src/rumor/election.rs
  components/butterfly/src/rumor/service_config.rs
  components/butterfly/src/server.rs
  components/butterfly/src/server/inbound.rs
  components/butterfly/src/server/outbound.rs
  components/butterfly/src/server/pull.rs
  components/butterfly/src/server/push.rs
  components/butterfly/tests/common/mod.rs
  components/butterfly/tests/encryption/mod.rs
  components/butterfly/tests/rumor/departure.rs
  components/butterfly/tests/rumor/election.rs
  components/butterfly/tests/rumor/service.rs
  components/butterfly/tests/rumor/service_config.rs
  components/butterfly/tests/rumor/service_file.rs
  components/common/src/lib.rs
  components/sup/src/census.rs
  components/sup/src/main.rs
  components/sup/src/manager.rs
  components/sup/src/manager/service/hooks.rs
  components/sup/src/manager/service_updater.rs
  docs/dev/README.md
  docs/dev/design_documents/locking.md
Labels: X-fix

#6822 Normalize use of retry to use retry crate in a standard way
  components/common/src/command/package/install.rs
  components/core/src/util.rs
  components/hab/src/command/origin/key/download.rs
  components/hab/src/command/origin/key/upload.rs
  components/hab/src/command/pkg/upload.rs
  components/hab/src/exec.rs
Labels: C-refactoring, Expeditor: Exclude from Changelog

#6831 Fix some deprecations; no functionality changes
  .expeditor/verify.pipeline.yml
  components/core/src/os/signals/unix.rs
  components/launcher/src/sys/unix/service.rs
Labels: Expeditor: Exclude from Changelog

#6842 publish both 2016 and 2019 studio images in release
  .buildkite/release_pipeline.yaml
Labels: C-feature, E-easy, I-windows

#6851 Pin to reqwest 0.9.17
  Cargo.lock
  components/builder-api-client/Cargo.toml
  components/common/Cargo.toml
  components/hab/Cargo.toml
  components/http-client/Cargo.toml
Labels: Expeditor: Exclude from Changelog

#6845 Add job to run all `#[ignore]`d tests
  .expeditor/verify.pipeline.yml
  components/core/src/env.rs
  components/sup-client/src/lib.rs
  test/run_cargo_test.ps1
  test/run_cargo_test.sh
Labels: Expeditor: Exclude from Changelog

#6854 Link our reqwest pins to the issue that would allow us to relax them
  components/builder-api-client/Cargo.toml
  components/common/Cargo.toml
  components/hab/Cargo.toml
  components/http-client/Cargo.toml
Labels: Expeditor: Exclude from Changelog, Expeditor: Skip All

#6849 End to end tests: hab-svc-load and hup-does-not-abandon-services
  .expeditor/end_to_end.pipeline.yml
  .expeditor/scripts/setup_environment.sh
  test/end-to-end/hab-svc-load.exp
  test/end-to-end/hup-does-not-abandon-services.exp
Labels: Expeditor: Exclude from Changelog

#6861 Upgrade to rust 1.37.0
  components/butterfly/Cargo.toml
  components/butterfly/src/server.rs
  components/butterfly/src/server/outbound.rs
  components/common/src/output.rs
  components/common/src/templating/config.rs
  components/common/src/templating/hooks.rs
  components/core/src/crypto.rs
  components/core/src/crypto/keys.rs
  components/core/src/crypto/keys/box_key_pair.rs
  components/core/src/crypto/keys/sig_key_pair.rs
  components/core/src/crypto/keys/sym_key.rs
  components/core/src/util/sys.rs
  components/launcher/src/server.rs
  components/sup/src/census.rs
  components/sup/src/command/shell.rs
  components/sup/src/ctl_gateway.rs
  components/sup/src/main.rs
  components/sup/src/manager.rs
  components/sup/src/manager/commands.rs
  components/sup/src/manager/peer_watcher.rs
  components/sup/src/manager/service.rs
  components/sup/src/manager/service/hooks.rs
  components/sup/src/manager/service/supervisor.rs
  components/sup/src/manager/service_updater.rs
  components/sup/src/manager/sys.rs
  components/sup/src/manager/user_config_watcher.rs
  components/sup/src/util/pkg.rs
  rust-toolchain
  test/denied_lints.txt
Labels: Expeditor: Exclude from Changelog

#6884 0.85.0 release bump
  CHANGELOG.md
  VERSION
Labels: Expeditor: Exclude from Changelog

#6911 Adds channel-to-channel promotion to bldr subcommand
  components/builder-api-client/src/artifactory.rs
  components/builder-api-client/src/builder.rs
  components/builder-api-client/src/lib.rs
  components/hab/src/cli.rs
  components/hab/src/command/bldr/channel.rs
  components/hab/src/command/bldr/channel/demote.rs
  components/hab/src/command/bldr/channel/promote.rs
  components/hab/src/main.rs
Labels: X-feature
