Repository habitat-sh/habitat, pull requests merged in 2019-03, with the labels that each got.

#6231 Fix clippy::wrong_self_convention and add to DENIED_LINTS
  components/common/src/command/package/install.rs
  components/pkg-export-helm/src/chart.rs
  components/pkg-export-helm/src/chartfile.rs
  components/pkg-export-helm/src/deps.rs
  test/run_clippy.sh
Labels: Expeditor: Exclude from Changelog

#6221 Remove habitat's EnvConfig in favor of habitat_core::env::Config
  components/butterfly/src/lib.rs
  components/butterfly/src/rumor/heat.rs
  components/common/src/types/env_config.rs
  components/common/src/types/listen_ctl_addr.rs
  components/common/src/types/mod.rs
  components/hab/src/cli.rs
  components/sup/src/config.rs
  components/sup/src/http_gateway.rs
  components/sup/src/manager/mod.rs
  components/sup/src/manager/service_updater.rs
  components/sup/src/manager/spec_watcher.rs
Labels: C-refactoring, Expeditor: Exclude from Changelog

#6242 Run `make lint` with sudo
  .expeditor/verify.pipeline.yml
Labels: Expeditor: Exclude from Changelog

#6144 Prevent a crash in Supervisor protocol processing
  components/sup-protocol/src/codec.rs
Labels: A-supervisor, C-bug, V-sup, X-fix

#6220 add blog post for release 0.76
  www/source/blog/2019-02-28-0.76.0-release.html.md
Labels: Expeditor: Exclude from Changelog

#6246 Fix CHANGELOG, post-0.76.0, and add instructions for how to do so
  .github/ISSUE_TEMPLATE/release-checklist.md
  CHANGELOG.md
  RELEASE.md
Labels: Expeditor: Exclude from Changelog

#6251 Release 0.77.0
  CHANGELOG.md
  VERSION
Labels: Expeditor: Exclude from Changelog

#6257 Fix plan build regression in 0.76.0 release
  components/hab/src/command/origin/delete.rs
  components/plan-build/bin/hab-plan-build.sh
Labels: X-fix

#6107 Asynchronous service shutdown
  components/common/src/templating/hooks.rs
  components/hab/src/command/pkg/export/mod.rs
  components/launcher/src/server/mod.rs
  components/sup-client/src/lib.rs
  components/sup/Cargo.toml
  components/sup/src/ctl_gateway/server.rs
  components/sup/src/error.rs
  components/sup/src/http_gateway.rs
  components/sup/src/lib.rs
  components/sup/src/main.rs
  components/sup/src/manager/commands.rs
  components/sup/src/manager/mod.rs
  components/sup/src/manager/service/hook_runner.rs
  components/sup/src/manager/service/hooks.rs
  components/sup/src/manager/service/mod.rs
  components/sup/src/manager/service/spawned_future.rs
  components/sup/src/manager/service/supervisor.rs
  components/sup/src/manager/service/terminator.rs
  components/sup/src/manager/service_updater.rs
  components/sup/src/manager/spec_dir.rs
  components/sup/src/manager/user_config_watcher.rs
  components/sup/src/sys.rs
  components/sup/src/sys/unix.rs
  components/sup/src/sys/unix/service.rs
  components/sup/src/sys/windows.rs
  components/sup/src/sys/windows/service.rs
Labels: X-feature

#6261 Add update rustfmt to release docs
  .github/ISSUE_TEMPLATE/release-checklist.md
  RELEASE.md
Labels: A-documentation, Expeditor: Exclude from Changelog

#6139 Update docs for running as non-root in a container
  www/source/partials/docs/_bp-running-habitat-linux-containers.md.erb
Labels: A-documentation, Expeditor: Exclude from Changelog

#6232 Fix clippy::trivially_copy_pass_by_ref and add to DENIED_LINTS
  components/builder-api-client/src/lib.rs
  components/butterfly/src/member.rs
  components/common/src/command/package/install.rs
  components/common/src/templating/hooks.rs
  components/hab/src/command/bldr/job/start.rs
  components/hab/src/command/pkg/upload.rs
  components/hab/src/command/studio/docker.rs
  components/hab/src/main.rs
  components/sup-protocol/src/codec.rs
  components/sup/src/manager/service/hooks.rs
  test/run_clippy.sh
Labels: Expeditor: Exclude from Changelog

#5814 Adds dependent plans build documentation
  www/source/partials/docs/_dev-pkgs-plan-builds.html.md.erb
Labels: A-documentation

#6262 Remove Travis, Appveyor badges; add Buildkite badge
  README.md
Labels: Expeditor: Exclude from Changelog

#6253 [pipeline] Ensure user is root when `curl`ing Windows artifact.
  .buildkite/scripts/bintray_upload.sh
Labels: C-chore

#6244 update Cargo.lock
  Cargo.lock
Labels: Expeditor: Exclude from Changelog

#6241 Fix clippy::needless_pass_by_value and add to DENIED_LINTS
  components/butterfly-test/src/lib.rs
  components/butterfly/src/client.rs
  components/butterfly/src/main.rs
  components/butterfly/src/rumor/departure.rs
  components/butterfly/src/rumor/mod.rs
  components/butterfly/src/server/expire.rs
  components/butterfly/src/server/mod.rs
  components/butterfly/src/server/outbound.rs
  components/butterfly/src/server/push.rs
  components/butterfly/src/trace.rs
  components/butterfly/tests/encryption/mod.rs
  components/butterfly/tests/rumor/departure.rs
  components/butterfly/tests/rumor/service_config.rs
  components/butterfly/tests/rumor/service_file.rs
  components/common/src/package_graph.rs
  components/common/src/templating/config.rs
  components/common/src/templating/hooks.rs
  components/common/src/templating/mod.rs
  components/common/src/templating/test_helpers.rs
  components/common/src/types/listen_ctl_addr.rs
  components/common/src/ui.rs
  components/hab/src/analytics.rs
  components/hab/src/cli.rs
  components/hab/src/command/cli/setup.rs
  components/hab/src/command/origin/key/export.rs
  components/hab/src/command/pkg/dependencies.rs
  components/hab/src/command/pkg/mod.rs
  components/hab/src/command/pkg/uninstall.rs
  components/hab/src/command/studio/docker.rs
  components/hab/src/main.rs
  components/pkg-export-docker/src/accounts.rs
  components/pkg-export-docker/src/build.rs
  components/pkg-export-docker/src/chmod.rs
  components/pkg-export-docker/src/cli.rs
  components/pkg-export-docker/src/lib.rs
  components/pkg-export-helm/src/chart.rs
  components/pkg-export-helm/src/main.rs
  components/pkg-export-kubernetes/src/cli.rs
  components/pkg-export-tar/src/cli.rs
  components/pkg-export-tar/src/lib.rs
  components/sup-client/src/lib.rs
  components/sup-protocol/src/lib.rs
  components/sup/src/config.rs
  components/sup/src/ctl_gateway/server.rs
  components/sup/src/http_gateway.rs
  components/sup/src/manager/commands.rs
  components/sup/src/manager/file_watcher.rs
  components/sup/src/manager/mod.rs
  components/sup/src/manager/self_updater.rs
  components/sup/src/manager/service/hooks.rs
  components/sup/src/manager/service/mod.rs
  components/sup/src/manager/service_updater.rs
  components/sup/tests/utils/fixture_root.rs
  components/sup/tests/utils/hab_root.rs
  components/sup/tests/utils/mod.rs
  components/sup/tests/utils/test_butterfly.rs
  components/sup/tests/utils/test_sup.rs
  test/run_clippy.sh
Labels: Expeditor: Exclude from Changelog, T-DO-NOT-MERGE

#6273 Update check_quorum comment to remove 3-member requirement
  components/butterfly/src/server/mod.rs
Labels: A-documentation, Expeditor: Exclude from Changelog, X-fix

#6256 refactor ctl_gateway and launcher to leverage windows color friendly StructuredOutput
  Cargo.lock
  components/common/src/lib.rs
  components/common/src/output.rs
  components/common/src/templating/config.rs
  components/common/src/templating/hooks.rs
  components/common/src/util/path.rs
  components/hab/src/main.rs
  components/launcher/Cargo.toml
  components/launcher/src/lib.rs
  components/launcher/src/main.rs
  components/launcher/src/server/mod.rs
  components/launcher/src/service.rs
  components/pkg-export-docker/src/build.rs
  components/pkg-export-docker/src/lib.rs
  components/pkg-export-helm/src/main.rs
  components/pkg-export-kubernetes/src/main.rs
  components/pkg-export-tar/src/build.rs
  components/pkg-export-tar/src/main.rs
  components/sup/src/census.rs
  components/sup/src/command/shell.rs
  components/sup/src/config.rs
  components/sup/src/ctl_gateway/mod.rs
  components/sup/src/error.rs
  components/sup/src/lib.rs
  components/sup/src/main.rs
  components/sup/src/manager/commands.rs
  components/sup/src/manager/mod.rs
  components/sup/src/manager/peer_watcher.rs
  components/sup/src/manager/self_updater.rs
  components/sup/src/manager/service/context.rs
  components/sup/src/manager/service/hooks.rs
  components/sup/src/manager/service/mod.rs
  components/sup/src/manager/service/spec.rs
  components/sup/src/manager/service/supervisor.rs
  components/sup/src/manager/service/terminator.rs
  components/sup/src/manager/service_updater.rs
  components/sup/src/manager/spec_dir.rs
  components/sup/src/manager/sys.rs
  components/sup/src/manager/user_config_watcher.rs
  components/sup/src/util/pkg.rs
Labels: A-launcher, A-supervisor, C-bug, E-less-easy, L-rust, X-fix

#6278 Make CLI channel args use CLAP env and default_values
  components/hab/src/cli.rs
  components/launcher/src/server/mod.rs
Labels: Expeditor: Exclude from Changelog

#6281 Update `type_` to `r#type` for prost 2018 edition update
  Cargo.lock
  components/butterfly/src/generated/butterfly.common.rs
  components/butterfly/src/generated/butterfly.newscast.rs
  components/butterfly/src/generated/butterfly.swim.rs
  components/butterfly/src/protocol/newscast.rs
  components/butterfly/src/rumor/mod.rs
  components/butterfly/src/server/pull.rs
  components/butterfly/src/server/push.rs
  components/butterfly/src/swim.rs
  components/sup-protocol/src/generated/sup.ctl.rs
  components/sup-protocol/src/generated/sup.net.rs
  components/sup-protocol/src/generated/sup.types.rs
Labels: Expeditor: Exclude from Changelog

#6282 Bump verify pipeline timeouts for single-use Windows queue
  .expeditor/verify.pipeline.yml
Labels: Expeditor: Exclude from Changelog, V-infra

#6269 Remove old templated content when adding a service
  components/sup/src/manager/service/mod.rs
Labels: A-supervisor, V-sup, X-fix

#6285 Prepare for 0.78.0 release
  CHANGELOG.md
  VERSION
Labels: Expeditor: Exclude from Changelog

#6287 Rename windows queue for launcher steps
  .buildkite/launcher_build_steps.yaml
Labels: Expeditor: Exclude from Changelog

#6289 Don't strip macos hab cli release
  components/hab/habitat/x86_64-darwin/plan.sh
Labels: Expeditor: Exclude from Changelog

#6293 Bump version to 0.79.0-dev
  CHANGELOG.md
  VERSION
Labels: Expeditor: Exclude from Changelog

#6114 Attempt to implement template debugging tool
  .gitignore
  components/hab/src/cli.rs
  components/hab/src/command/plan/mod.rs
  components/hab/src/command/plan/render.rs
  components/hab/src/error.rs
  components/hab/src/lib.rs
  components/hab/src/main.rs
  test/fixtures/render/README.md
  test/fixtures/render/consul/config/consul_config.json
  test/fixtures/render/consul/consul-config.inspec.rb
  test/fixtures/render/consul/default.toml
  test/fixtures/render/consul/hooks/run
  test/fixtures/render/consul/override.json
  test/fixtures/render/consul/user.toml
  test/fixtures/render/error/consul_config.json
  test/fixtures/render/error/default.toml
  test/fixtures/render/error/override.json
  test/shellcheck.sh
Labels: X-feature

#6294 Docs bump
  www/source/docs/habitat-cli.html.md
  www/source/partials/docs/_reference-template-data.html.md.erb
Labels: Expeditor: Exclude from Changelog

#6272 Fix clippy::large_enum_variant and add to DENIED_LINTS
  components/butterfly/build.rs
  components/butterfly/src/generated/butterfly.newscast.rs
  components/butterfly/src/rumor/mod.rs
  components/butterfly/src/server/pull.rs
  components/common/src/error.rs
  components/common/src/templating/config.rs
  components/hab/src/error.rs
  components/launcher/src/server/mod.rs
  components/sup/src/cli.rs
  components/sup/src/error.rs
  components/sup/src/manager/mod.rs
  components/sup/src/manager/spec_watcher.rs
  test/run_clippy.sh
Labels: C-refactoring, Expeditor: Exclude from Changelog

#6304 Cargo update following release 0.78.0
  Cargo.lock
  components/butterfly/src/rumor/service.rs
  components/common/src/templating/mod.rs
  components/sup/src/census.rs
  components/sup/src/manager/service/context.rs
Labels: Expeditor: Exclude from Changelog

#6295 macOS still needs --interactive and --tty set
  components/hab/src/command/studio/docker.rs
  components/hab/src/command/studio/enter.rs
  components/studio/bin/hab-studio.sh
Labels: X-change

#6290 implement platform specific UI symbols
  components/common/src/error.rs
  components/common/src/ui.rs
  components/pkg-export-docker/src/build.rs
  components/pkg-export-kubernetes/src/lib.rs
  components/studio/bin/hab-studio.ps1
  components/windows-service/HabService.cs
  www/source/partials/docs/_reference-environment-vars.html.md.erb
Labels: A-cli, A-studio, C-bug, I-windows, L-rust, L-shell, X-fix

#6309 Ensure backline upload to acceptance can happen.
  .buildkite/scripts/upload_backline_to_acceptance.sh
Labels: Expeditor: Exclude from Changelog, V-infra

#6297 Make Linux Kernel 2 validation just a little bit easier
  RELEASE.md
  support/validation/x86_64-linux-kernel2/Vagrantfile
Labels: C-chore, V-infra

#6307 Update release checklist, post 0.78.0
  .github/ISSUE_TEMPLATE/release-checklist.md
  Makefile
  RELEASE.md
Labels: Expeditor: Exclude from Changelog

#6310 Update `rustfmt` nightly version to 2019-03-18
  support/ci/shared.sh
Labels: Expeditor: Exclude from Changelog

#6311 Bump verify pipeline timeouts for single-use Windows queue again
  .expeditor/verify.pipeline.yml
Labels: Expeditor: Exclude from Changelog

#6288 Changes for clippy lint fixes from core
  Cargo.lock
  components/common/src/command/package/install.rs
  components/common/src/util/path.rs
  components/hab/src/command/launcher.rs
  components/hab/src/command/origin/key/export.rs
  components/hab/src/command/pkg/binlink.rs
  components/hab/src/command/pkg/build.rs
  components/hab/src/command/pkg/exec.rs
  components/hab/src/command/pkg/export/cf.rs
  components/hab/src/command/pkg/export/docker.rs
  components/hab/src/command/pkg/export/export_common.rs
  components/hab/src/command/pkg/export/helm.rs
  components/hab/src/command/pkg/export/kubernetes.rs
  components/hab/src/command/pkg/export/mod.rs
  components/hab/src/command/pkg/export/tar.rs
  components/hab/src/command/pkg/upload.rs
  components/hab/src/command/studio/docker.rs
  components/hab/src/command/studio/enter.rs
  components/hab/src/command/sup.rs
  components/hab/src/exec.rs
  components/hab/src/main.rs
  components/pkg-export-docker/src/build.rs
  components/sup/src/manager/commands.rs
  components/sup/src/manager/service_updater.rs
Labels: Expeditor: Exclude from Changelog

#6296 Use subshells and unset to actually unset environment variables
  components/studio/libexec/hab-studio-type-bare.sh
  components/studio/libexec/hab-studio-type-baseimage.sh
  components/studio/libexec/hab-studio-type-default.sh
  components/studio/libexec/hab-studio-type-stage1.sh
Labels: A-studio, X-fix

#5658 Copies /etc/inputrc in studio if available
  components/studio/bin/hab-studio.sh
Labels: X-feature

#6316 Fix broken forums link in README
  README.md
Labels: Expeditor: Exclude from Changelog

#6218 Introduce NATS Streaming eventing to the Supervisor
  Cargo.lock
  components/sup/Cargo.toml
  components/sup/src/error.rs
  components/sup/src/event.rs
  components/sup/src/event/types.rs
  components/sup/src/lib.rs
  components/sup/src/main.rs
  components/sup/src/manager/mod.rs
  components/sup/src/subscriber.rs
Labels: A-supervisor, V-sup, X-feature

#6313 eliminate false error noise from windows launcher
  components/launcher-client/src/client.rs
  components/launcher/src/main.rs
  components/launcher/src/server/mod.rs
Labels: A-launcher, C-bug, E-easy, I-windows, L-rust, X-fix

#6305 Fix clippy::too_many_arguments and add to denied lints
  Cargo.lock
  components/butterfly-test/src/lib.rs
  components/butterfly/src/lib.rs
  components/butterfly/src/server/mod.rs
  components/common/src/command/package/install.rs
  components/common/src/output.rs
  components/common/src/types/mod.rs
  components/hab/src/command/bldr/job/promote.rs
  components/hab/src/command/origin/key/download.rs
  components/hab/src/command/pkg/build.rs
  components/hab/src/command/pkg/upload.rs
  components/hab/src/command/plan/init.rs
  components/hab/src/command/plan/render.rs
  components/hab/src/main.rs
  components/launcher-client/Cargo.toml
  components/launcher-client/src/client.rs
  components/launcher-protocol/src/lib.rs
  components/launcher/src/service.rs
  components/pkg-export-docker/src/build.rs
  components/pkg-export-tar/src/build.rs
  components/sup-protocol/src/lib.rs
  components/sup/src/ctl_gateway/mod.rs
  components/sup/src/error.rs
  components/sup/src/http_gateway.rs
  components/sup/src/main.rs
  components/sup/src/manager/service/mod.rs
  components/sup/src/manager/service/supervisor.rs
  test/run_clippy.sh
Labels: Expeditor: Exclude from Changelog

#6315 Remove usage of habitat_core::binlink::default_binlink_dir
  components/common/src/cli_defaults.rs
  components/hab/src/cli.rs
  components/hab/src/command/cli/setup.rs
  components/hab/src/command/pkg/binlink.rs
  components/hab/src/main.rs
Labels: X-change

#6318 Use POSIX `unset` rather than Busybox `env -u` for HAB_STUDIO_BINARY
  components/studio/bin/hab-studio.sh
Labels: A-studio

#6324 Bump some dependencies
  Cargo.lock
Labels: Expeditor: Exclude from Changelog

#6312 windows docker studio should output sup log in color and without timestamp
  .buildkite/scripts/build_docker_image.ps1
Labels: A-studio, C-bug, E-easy, I-windows, L-shell, X-fix

#6325 Move clippy lint categorization to separate files
  Makefile
  test/allowed_lints.txt
  test/denied_lints.txt
  test/lints_to_fix.txt
  test/run_clippy.sh
  test/unexamined_lints.txt
Labels: Expeditor: Exclude from Changelog

#6320 Remove `env -u` in favor of POSIX-safe unsetting
  support/linux/install_dev_9_linux.sh
Labels: Expeditor: Exclude from Changelog

#6322 uninstall should not rename to existing directory on windows
  components/hab/src/command/pkg/uninstall.rs
Labels: A-cli, C-bug, E-easy, I-windows, L-rust, X-fix

#6326 Remove uses of core's default_cache_key_path
  components/hab/src/cli.rs
  components/hab/src/command/origin/key/download.rs
  components/hab/src/main.rs
Labels: X-change

#6330 adding windows clippy support
  .expeditor/verify.pipeline.yml
  components/hab/src/command/pkg/binlink.rs
  components/hab/src/command/pkg/export/mod.rs
  components/hab/src/command/studio/enter.rs
  components/launcher/src/sys/windows/service.rs
  components/sup/src/sys/windows/service.rs
  test/run_clippy.ps1
Labels: Expeditor: Exclude from Changelog

#6321 Fix clippy::cyclomatic_complexity and add to DENIED_LINTS
  components/butterfly/src/server/push.rs
  components/butterfly/tests/rumor/election.rs
  components/sup/src/manager/mod.rs
  components/sup/src/manager/service_updater.rs
  test/denied_lints.txt
  test/lints_to_fix.txt
Labels: Expeditor: Exclude from Changelog

#6329 Remove default_cache_key_path calls around command_from_min_pkg
  components/hab/src/command/launcher.rs
  components/hab/src/command/pkg/export/export_common.rs
  components/hab/src/command/pkg/export/mod.rs
  components/hab/src/command/pkg/export/tar.rs
  components/hab/src/command/studio/enter.rs
  components/hab/src/command/sup.rs
  components/hab/src/exec.rs
Labels: Expeditor: Exclude from Changelog

#6334 Add clippy::needless_return to denied lints
  components/common/src/command/package/install.rs
  components/common/src/templating/config.rs
  components/hab/src/command/studio/enter.rs
  components/hab/src/main.rs
  components/sup/src/manager/commands.rs
  components/sup/src/manager/file_watcher.rs
  components/sup/tests/utils/test_sup.rs
  test/denied_lints.txt
  test/lints_to_fix.txt
Labels: Expeditor: Exclude from Changelog

#6327 Simplify CLI definition for `hab svc load` command
  components/hab/src/cli.rs
Labels: A-cli, C-refactoring, E-easy, I-linux, I-macOS, I-windows, L-rust, V-devx

#6336 Remove uses of default_cache_key_path
  components/butterfly/src/rumor/service_config.rs
  components/butterfly/src/rumor/service_file.rs
  components/common/Cargo.toml
  components/common/src/cli.rs
  components/common/src/lib.rs
  components/hab/src/cli.rs
  components/hab/src/command/cli/setup.rs
  components/hab/src/main.rs
  components/sup/src/census.rs
  components/sup/src/config.rs
  components/sup/src/http_gateway.rs
  components/sup/src/main.rs
  components/sup/src/manager/mod.rs
  components/sup/src/manager/peer_watcher.rs
  components/sup/src/manager/service/hooks.rs
Labels: X-change

#6343 Remove offensively-named command in favor of updated version
  www/source/partials/docs/_built-in-helpers.html.md.erb
  www/source/partials/docs/_using-hab-topologies.html.md.erb
Labels: A-documentation, X-fix

#6342 Remove some cruft
  components/launcher-protocol/src/types.rs
Labels: Expeditor: Exclude from Changelog

#6348 Revert "remove old content" feature
  components/sup/src/manager/service/mod.rs
Labels: X-fix
