Repository habitat-sh/habitat, pull requests merged in 2019-04, with the labels that each got.

#6358 Release 0.79.0
  CHANGELOG.md
  VERSION
Labels: C-release, Expeditor: Exclude from Changelog

#6363 Properly pass CLI args to `hab origin key import`
  components/common/src/cli.rs
  components/hab/src/main.rs
Labels: X-fix

#6376 Update VERSION and fix up CHANGELOG.md
  CHANGELOG.md
  VERSION
Labels: Expeditor: Exclude from Changelog

#6378 Fix up the `curl`-based package upload override
  .buildkite/scripts/build_component.ps1
  .buildkite/scripts/build_component.sh
  .buildkite/scripts/promote_release_channel.sh
  .buildkite/scripts/resolve_launcher_actions.sh
  .buildkite/scripts/shared.sh
Labels: Expeditor: Exclude from Changelog

#6393 Update generated documentation for 0.79.0 release
  www/source/docs/habitat-cli.html.md
  www/source/partials/docs/_reference-template-data.html.md.erb
Labels: A-documentation, Expeditor: Exclude from Changelog

#6359 Add a blog post for the 0.79.0 release announcement
  www/source/blog/2019-04-09-0.79.0-release.html.md
Labels: Expeditor: Exclude from Changelog

#6225 Adds blog redirect at top-level and links to each post
  www/Gemfile.lock
  www/config.rb
  www/source/blog/2017-04-11-Hello-World.html.md
  www/source/blog/2017-05-16-brupal-twice.html.md
  www/source/blog/2017-05-22-use-shield-to-backup-and-restore-redis.html.md
  www/source/blog/2017-06-02-ChefConf.html.md
  www/source/blog/2017-06-07-Triage-and-Contributions.html.md
  www/source/blog/2017-06-16-Habitat-Issue-Tracker.html.md
  www/source/blog/2017-07-07-Habitat-on-Windows.html.md
  www/source/blog/2017-07-25-Habitat-mysql-cluster.html.md
  www/source/blog/2017-07-28-Hab-Studio-Artifact-Caching.html.md
  www/source/blog/2017-08-09-Habitat-plans-for-net-full-iis-apps.html.md
  www/source/blog/2017-08-15-Packaging-a-Website-with-Nginx-and-Habitat.html.md
  www/source/blog/2017-08-18-habitat-rails-postgres-3-different-ways.html.md
  www/source/blog/2017-09-09-a-journey-with-habitat-on-amazon-ecs-part1.html.md
  www/source/blog/2017-09-12-a-journey-with-habitat-on-amazon-ecs-part2.html.md
  www/source/blog/2017-10-09-Habitat-Builder-for-the-People.html.md
  www/source/blog/2017-10-18-Introducing-Composites.html.md
  www/source/blog/2017-10-26-node-scaffolding-scripts.html.md
  www/source/blog/2017-10-27-distributed-java-application.html.md
  www/source/blog/2017-10-30-node-with-db.html.md
  www/source/blog/2017-10-31-windows-service.html.md
  www/source/blog/2017-11-16-Windows-Container-Studio.html.md
  www/source/blog/2017-11-30-runtime-environment-variables.html.md
  www/source/blog/2017-12-01-Windows-Docker-Export.html.md
  www/source/blog/2017-12-21-Packaging-Windows-Services.html.md
  www/source/blog/2018-01-03-a-plan-for-sql-server.html.md
  www/source/blog/2018-01-16-Getting-Started-Node.html.md
  www/source/blog/2018-02-07-openshift-support.html.md
  www/source/blog/2018-02-21-Habitat-Helm.html.md
  www/source/blog/2018-03-06-Personal-Access-Tokens.html.md
  www/source/blog/2018-03-09-habitat-cloudfoundry.html.md
  www/source/blog/2018-05-01-Auto-App-Updates-k8s.html.md
  www/source/blog/2018-05-01-Hab-OSB.html.md
  www/source/blog/2018-05-01-Hab-and-k8s.html.md
  www/source/blog/2018-05-04-tracking-application-health-with-splunk.html.md
  www/source/blog/2018-05-07-aks-and-acr-walkthrough.html.md
  www/source/blog/2018-05-11-changes-in-the-0.56.0-supervisor.html.md
  www/source/blog/2018-05-21-On-Prem-Builder.html.md
  www/source/blog/2018-06-13-base-plans-refresh.html.md
  www/source/blog/2018-06-22-core-plans-and-certain-linux-kernels.html.md
  www/source/blog/2018-07-25-Packaging-COTS-for-Windows.html.md
  www/source/blog/2018-08-18-lift-and-shift-hab.html.md
  www/source/blog/2018-08-30-Introducing-Cacher.html.md
  www/source/blog/2018-10-29-shelving-composites.html.md
Labels: A-habitat.sh, C-chore, E-easy, L-html-css, P-3, T-DO-NOT-MERGE, V-front-end

#6394 cargo update post 0.79.0 release
  Cargo.lock
Labels: Expeditor: Exclude from Changelog

#6395 rustfmt update post 0.79.0 release
  support/ci/shared.sh
Labels: Expeditor: Exclude from Changelog

#6400 add studio powershell directory to path on studio creation so it is propogated to supervisor
  components/studio/bin/hab-studio.ps1
Labels: A-studio, A-supervisor, C-bug, E-easy, I-windows, X-fix

#6402 bump version and fix changelog for 0.79.1 release
  CHANGELOG.md
  VERSION
Labels: Expeditor: Exclude from Changelog

#6399 Indicate which docs files are generated
  .gitattributes
  www/scripts/generate-cli-docs.js
  www/scripts/generate-template-reference.js
  www/source/docs/habitat-cli.html.md
  www/source/partials/docs/_reference-template-data.html.md.erb
Labels: Expeditor: Exclude from Changelog

#6398 Update release instructions post 0.79.0 release
  .github/ISSUE_TEMPLATE/release-checklist.md
  RELEASE.md
Labels: Expeditor: Exclude from Changelog

#6407 Fix website deploy
  .github/ISSUE_TEMPLATE/release-checklist.md
  RELEASE.md
  www/.ruby-version
  www/source/docs/habitat-cli.html.md
Labels: Expeditor: Exclude from Changelog

#6408 Update to bundler 2 to fix website deploy
  www/Makefile
  www/README.md
Labels: Expeditor: Exclude from Changelog

#6411 Use ruby 2.3.3 in travis, required for website deploy
  .travis.yml
Labels: Expeditor: Exclude from Changelog

#6413 Force redeploy of the website to see if it's fixed
  www/source/docs/habitat-cli.html.md
Labels: Expeditor: Exclude from Changelog

#6416 Change windows agents from single-use-windows-privileged -> default-windows-privileged
  .expeditor/verify.pipeline.yml
Labels: Expeditor: Exclude from Changelog

#6419 bump dev version
  VERSION
Labels: Expeditor: Exclude from Changelog

#6417 Fix clippy lints
  Cargo.lock
  components/butterfly-test/src/lib.rs
  components/butterfly/src/rumor/mod.rs
  components/common/src/command/package/install.rs
  components/common/src/lib.rs
  components/common/src/output.rs
  components/common/src/templating/config.rs
  components/common/src/templating/helpers/str_concat.rs
  components/common/src/templating/package.rs
  components/common/src/templating/test_helpers.rs
  components/hab/src/command/origin/key/download.rs
  components/hab/src/command/origin/key/upload.rs
  components/hab/src/command/pkg/provides.rs
  components/hab/src/main.rs
  components/pkg-export-docker/src/accounts.rs
  components/pkg-export-docker/src/build.rs
  components/pkg-export-helm/src/chartfile.rs
  components/pkg-export-kubernetes/src/manifest.rs
  components/pkg-export-kubernetes/src/manifestjson.rs
  components/sup/Cargo.toml
  components/sup/src/cli_test_helpers.rs
  components/sup/src/lib.rs
  components/sup/src/main.rs
  components/sup/src/manager/mod.rs
  components/sup/src/manager/service/spec.rs
  components/sup/src/test_helpers.rs
Labels: Expeditor: Exclude from Changelog

#6421 Bump to Rust 1.34.0
  .buildkite/env
  Cargo.lock
Labels: Expeditor: Exclude from Changelog

#6422 Have Expeditor delete branches after merge
  .expeditor/config.yml
Labels: Expeditor: Exclude from Changelog

#6425 Add a release postmortem to the release process
  .github/ISSUE_TEMPLATE/release-checklist.md
  RELEASE.md
Labels: Expeditor: Exclude from Changelog

#6423 Make --binlink take an value (or env var) for `hab pkg install`
  components/hab/src/cli.rs
  components/hab/src/main.rs
Labels: X-change

#6430 Make clippy use single-use queues and no retries
  .expeditor/verify.pipeline.yml
Labels: Expeditor: Exclude from Changelog

#6389 Switch to parking_lot's RwLock and add CI deadlock detection
  .expeditor/verify.pipeline.yml
  Cargo.lock
  RELEASE.md
  components/butterfly-test/Cargo.toml
  components/butterfly-test/src/lib.rs
  components/butterfly/Cargo.toml
  components/butterfly/src/error.rs
  components/butterfly/src/member.rs
  components/butterfly/tests/integration.rs
  components/butterfly/tests/rumor/election.rs
  components/sup/Cargo.toml
  support/ci/install-nightly-rustfmt.sh
  support/ci/rustfmt.sh
  support/ci/shared.sh
  test/run_cargo_test.ps1
  test/run_cargo_test.sh
Labels: Expeditor: Exclude from Changelog

#6439 remove some dead appveyor and bintray-publish code
  .buildkite/release_pipeline.yaml
  .buildkite/scripts/bintray_upload.ps1
  .expeditor/verify.pipeline.yml
  components/bintray-publish/bin/publish-studio.bat
  components/bintray-publish/bin/publish-studio.ps1
  components/bintray-publish/habitat/plan.ps1
  support/ci/appveyor.bat
  support/ci/appveyor.ps1
  support/ci/deploy.sh
Labels: C-chore, I-windows, L-shell

#6390 Fix detection of emacs in studio
  components/rootless_studio/default/profile
  components/studio/libexec/hab-studio-type-default.sh
Labels: A-studio, C-bug, X-fix

#6452 Move habitat_butterfly_test into habitat_butterfly
  Cargo.lock
  Cargo.toml
  components/butterfly-test/Cargo.toml
  components/butterfly-test/README.md
  components/butterfly/Cargo.toml
  components/butterfly/src/server/mod.rs
  components/butterfly/tests/common/mod.rs
  components/butterfly/tests/integration.rs
Labels: C-refactoring, Expeditor: Exclude from Changelog

#6319 Use "default files" rather than embedded strings
  components/studio/bin/hab-studio.sh
  components/studio/defaults/etc/group
  components/studio/defaults/etc/inputrc
  components/studio/defaults/etc/nsswitch.conf
  components/studio/defaults/etc/passwd
  components/studio/habitat/plan.sh
Labels: A-studio

#6424 Update maintenance files according to new Chef OSS principles
  MAINTAINERS.md
  maintenance-policy.md
Labels: Expeditor: Exclude from Changelog

#6444 Use our forks of source code repository dependencies
  Cargo.lock
  components/butterfly/Cargo.toml
  components/sup/Cargo.toml
Labels: Expeditor: Exclude from Changelog

#6464 Streamline GatewayState struct
  components/sup/src/http_gateway.rs
  components/sup/src/manager/mod.rs
Labels: C-refactoring, Expeditor: Exclude from Changelog

#6468 Add `cargo test` runs on Linux for core repository crates
  .expeditor/verify.pipeline.yml
Labels: Expeditor: Exclude from Changelog

#6470 add ltsc2016 tag for windowsservercore base images
  .buildkite/scripts/build_docker_image.ps1
  components/pkg-export-docker/defaults/Dockerfile_win.hbs
  components/studio/build-docker-image.ps1
Labels: A-exporter, A-studio, C-bug, E-easy, I-windows, L-shell, X-fix

#6466 modernize build.ps1
  .expeditor/verify.pipeline.yml
  RELEASE.md
  RUSTFMT_VERSION
  build.ps1
  components/core/src/fs.rs
  components/core/src/package/list.rs
  support/ci/shared.ps1
  support/ci/shared.sh
  test/run_cargo_test.ps1
  test/run_clippy.ps1
Labels: C-chore, I-windows

#6453 Small health check interval refactoring
  components/core/src/service.rs
  components/sup-protocol/src/types.rs
  components/sup/src/manager/service/mod.rs
  components/sup/src/manager/service/spec.rs
Labels: C-refactoring, Expeditor: Exclude from Changelog

#6364 Add a license agreement prompt to hab
  .expeditor/verify.pipeline.yml
  Cargo.lock
  components/hab/Cargo.toml
  components/hab/src/cli.rs
  components/hab/src/command/studio/docker.rs
  components/hab/src/error.rs
  components/hab/src/lib.rs
  components/hab/src/license.rs
  components/hab/src/main.rs
  components/plan-build/bin/hab-plan-build.sh
  components/plan-build/bin/shared.bash
  components/rootless_studio/default/etc/habitat-studio/environment.sh
  components/studio/bin/hab-studio.ps1
  components/studio/bin/hab-studio.sh
Labels: T-DO-NOT-MERGE

#6450 Configurable Shutdown, Part 1
  components/common/src/cli.rs
  components/common/src/lib.rs
  components/core/src/error.rs
  components/core/src/os/process/mod.rs
  components/core/src/os/process/unix.rs
  components/hab/src/cli.rs
  components/hab/src/main.rs
  components/sup-protocol/protocols/ctl.proto
  components/sup-protocol/src/generated/sup.ctl.rs
  components/sup/src/ctl_gateway/acceptor.rs
  components/sup/src/ctl_gateway/handler.rs
  components/sup/src/ctl_gateway/mod.rs
  components/sup/src/ctl_gateway/server.rs
  components/sup/src/manager/action.rs
  components/sup/src/manager/commands.rs
  components/sup/src/manager/mod.rs
  components/sup/src/manager/service/mod.rs
  components/sup/src/manager/service/supervisor.rs
  components/sup/src/manager/service/terminator.rs
  components/sup/src/sys/unix/service.rs
  components/sup/src/sys/windows/service.rs
Labels: X-feature

#6486 Release 0.80.0
  CHANGELOG.md
  VERSION
Labels: Expeditor: Exclude from Changelog

#6490 set licensing environment variable before installing supervisor windows service in windows docker studio
  .buildkite/scripts/build_docker_image.ps1
Labels: Expeditor: Exclude from Changelog

#6494 Add license acceptance in one more spot
  .buildkite/scripts/bintray_upload.sh
Labels: Expeditor: Exclude from Changelog
