Repository habitat-sh/habitat, pull requests merged in 2019-10, with the labels that each got.

#6985 use -file instead of -command when forwarding args to hab-studio.ps1 so that args are passed as individual args and not as a single string
  components/studio/bin/hab-studio.bat
  components/studio/test/shared/test-all.ps1
  components/studio/test/studio-from-source/test.ps1
Labels: A-studio, C-bug, E-less-easy, I-windows, X-fix

#6988 do not inject studio environment with ctl_secret from cli.toml
  components/hab/src/command/studio/enter.rs
Labels: A-cli, C-bug

#6993 set connection header to close on all ApiClient requests
  components/http-client/src/api_client.rs
Labels: A-cli, A-supervisor, C-bug, X-fix

#6997 Remove baumanj from CODEOWNERS
  CODEOWNERS
Labels: Expeditor: Exclude from Changelog

#6998 pass supervisor pid to named pipe server instead of querying it from server to fix win7
  components/sup/src/manager/service/pipe_hook_client.rs
  components/sup/static/named_pipe_service.ps1
Labels: A-supervisor, C-bug, I-windows, X-fix

#6960 Allow user to specify `sys.ip` address
  Cargo.lock
  components/common/src/templating/hooks.rs
  components/hab/src/cli.rs
  components/sup/src/error.rs
  components/sup/src/main.rs
  components/sup/src/manager.rs
  components/sup/src/manager/service.rs
  components/sup/src/manager/service/hooks.rs
  components/sup/src/manager/sys.rs
  tools/one-off-release/src/main.rs
  www/source/docs/habitat-cli.html.md
Labels: A-documentation, A-supervisor, C-feature, L-rust, X-feature

#7052 Auto assign prs if opened by a Habitat team member
  .expeditor/config.yml
Labels: Expeditor: Exclude from Changelog

#7049 fixes using a svc_user on windows
  .buildkite/release_pipeline.yaml
  components/common/src/command/package/install.rs
  components/sup/src/manager/service/spec.rs
Labels: A-cli, A-supervisor, C-bug, I-windows, X-fix

#7031 Order objects used for template data
  components/common/src/templating.rs
  components/common/src/templating/context.rs
  components/common/src/templating/helpers.rs
  components/common/src/templating/helpers/each_alive.rs
  components/common/src/templating/hooks.rs
  components/common/src/templating/package.rs
  components/core/src/package/install.rs
  components/core/src/package/metadata.rs
  components/hab/src/command/pkg/binlink.rs
  components/hab/src/command/pkg/env.rs
  components/launcher-client/src/client.rs
  components/launcher-protocol/src/types.rs
  components/launcher/src/sys/windows/service.rs
  components/sup/src/manager/service/context.rs
  components/sup/src/manager/service/pipe_hook_client.rs
  components/sup/src/test_helpers.rs
Labels: C-bug

#7083 Correct a Buildkite emoji I missed earlier
  .expeditor/release_habitat.pipeline.yml
Labels: Expeditor: Skip All

#7073 add windows system paths to environment PATH variable if included
  components/core/src/fs.rs
  components/core/src/package/install.rs
  components/hab/src/command/pkg/binlink.rs
Labels: A-cli, I-windows, X-fix

#7092 Add TLS to event stream
  Cargo.lock
  components/common/Cargo.toml
  components/common/src/error.rs
  components/common/src/types.rs
  components/hab/src/cli.rs
  components/sup/Cargo.toml
  components/sup/src/event.rs
  components/sup/src/event/error.rs
  components/sup/src/event/stream.rs
Labels: A-cli, A-habitat.sh, A-supervisor, C-feature, X-feature

#7116 fix tar exporter on windows
  .expeditor/end_to_end.pipeline.yml
  components/pkg-export-tar/src/rootfs.rs
  test/end-to-end/test_tar_export.ps1
Labels: A-exporter, I-windows, X-fix

#7120 Allow event stream server TLS connection to use habitat cache/ssl
  Cargo.lock
  components/http-client/Cargo.toml
  components/http-client/src/api_client.rs
  components/http-client/src/error.rs
  components/http-client/src/lib.rs
  components/sup/Cargo.toml
  components/sup/src/event/error.rs
  components/sup/src/event/stream.rs
Labels: A-supervisor, C-feature, X-feature
