Repository habitat-sh/habitat, pull requests merged in 2019-01, with the labels that each got.

#6027 Remove Garrett Amini from CODEOWNERS
  CODEOWNERS
Labels: Expeditor: Exclude from Changelog

#5982 Refactor MemberList
  components/butterfly/Cargo.toml
  components/butterfly/src/member.rs
  components/butterfly/src/rumor/dat_file.rs
  components/butterfly/src/server/inbound.rs
  components/butterfly/src/server/mod.rs
  components/butterfly/src/server/outbound.rs
Labels: C-refactoring, X-fix

#6026 Refactor some misuse of RwLock fields on the butterfly Server struct
  components/butterfly/src/server/mod.rs
Labels: C-refactoring, Expeditor: Exclude from Changelog

#6043 Only start services that are runnable
  components/sup/src/error.rs
  components/sup/src/manager/commands.rs
  components/sup/src/util/pkg.rs
Labels: X-fix

#6047 Refactor CensusGroup::previous_peer
  components/sup/src/census.rs
Labels: C-refactoring, Expeditor: Exclude from Changelog

#6044 Simplify insert_service
  components/butterfly/src/rumor/mod.rs
  components/butterfly/src/server/mod.rs
  components/butterfly/tests/rumor/service.rs
Labels: X-fix

#6054 Bump to 0.73.0 and fix CHANGELOG
  CHANGELOG.md
  VERSION
Labels: Expeditor: Exclude from Changelog

#6053 Improve butterfly Server::insert_service
  components/butterfly/src/server/mod.rs
  components/butterfly/tests/rumor/service.rs
Labels: X-feature

#6083 correct asp.net tutorial to comply with directory perm changes in previous release
  www/source/demo/windows/steps/7.html.slim
Labels: A-documentation, C-bug, E-easy, I-windows

#6087 set results folder in PWD not PLAN_CONTEXT
  components/plan-build-ps1/bin/hab-plan-build.ps1
  support/ci/appveyor.ps1
Labels: A-plan-build, C-bug, E-easy, I-windows, L-shell, X-change, X-fix

#6093 install interpreter if not already installed
  components/common/Cargo.toml
  components/common/src/util/path.rs
Labels: A-cli, C-bug, E-easy, L-rust, X-fix

#6091 Release 0.74.0.
  CHANGELOG.md
  VERSION
Labels: C-release

#6099 [ci/mac] Upgrade to macOS 10.12 for build workers.
  .buildkite/release_pipeline.yaml
Labels: A-cli, C-chore, E-easy, I-macOS

#6095 uses the 2015 CPP redistributable and fixes some HAB_CACHE_SRC_PATH refs
  components/hab/habitat/plan.ps1
  components/launcher/habitat/plan.ps1
  components/pkg-export-docker/habitat/plan.ps1
  components/pkg-export-tar/habitat/plan.ps1
  components/sup/habitat/plan.ps1
Labels: A-cli, A-exporter, A-launcher, A-supervisor, C-bug, E-easy, L-shell, X-fix

#6108 [core] Bump core crates.
  Cargo.lock
Labels: A-cli, A-exporter, A-supervisor, C-chore, E-easy, I-linux, I-macOS, I-windows, L-rust
