Repository habitat-sh/habitat, pull requests merged in 2019-06, with the labels that each got.

#6597 Add `--binlink-dir` argument to `hab pkg install`
  components/hab/src/cli.rs
  components/hab/src/main.rs
Labels: X-change

#6614 Update changelog
  CHANGELOG.md
Labels: Expeditor: Exclude from Changelog

#6616 Revert "Add rst-reader to assist in debugging butterfly."
  Cargo.lock
  Cargo.toml
  components/butterfly/src/member.rs
  components/butterfly/src/rumor/dat_file.rs
  components/butterfly/src/rumor/departure.rs
  components/butterfly/src/rumor/election.rs
  components/butterfly/src/rumor/service.rs
  components/butterfly/src/rumor/service_config.rs
  components/butterfly/src/rumor/service_file.rs
  components/butterfly/src/server/mod.rs
  components/common/src/lib.rs
  components/hab/src/command/origin/delete.rs
  components/rst-reader/Cargo.toml
  components/rst-reader/README.md
  components/rst-reader/src/error.rs
  components/rst-reader/src/main.rs
Labels: Expeditor: Exclude from Changelog

#6618 Remove reverted PR from CHANGELOG
  CHANGELOG.md
Labels: Expeditor: Exclude from Changelog

#6621 Fix release promotion
  .buildkite/finish_release_pipeline.yaml
  .buildkite/release_pipeline.yaml
  .buildkite/scripts/build_component.ps1
  .buildkite/scripts/build_component.sh
  .buildkite/scripts/promote_release_channel.sh
  .buildkite/scripts/resolve_launcher_actions.sh
  .buildkite/scripts/shared.sh
Labels: Expeditor: Exclude from Changelog

#6624 Bump version
  VERSION
Labels: Expeditor: Exclude from Changelog

#6573 update kubernetes and helm exporter docs to include information about license acceptance
  www/source/partials/docs/_dev-pkgs-exports.html.md.erb
Labels: A-documentation

#6593 Add toolchain file and use its version instead of "stable"
  .buildkite/env
  .expeditor/verify.pipeline.yml
  Makefile
  build.ps1
  rust-toolchain
  support/ci/shared.ps1
  support/ci/shared.sh
  test/run_cargo_test.ps1
  test/run_cargo_test.sh
  test/run_clippy.ps1
  test/run_clippy.sh
Labels: Expeditor: Exclude from Changelog

#6640 Undo clippy disparate rust toolchain workaround
  components/butterfly/src/server/push.rs
  components/butterfly/tests/rumor/election.rs
  components/hab/src/command/bldr/job/promote.rs
  components/sup/src/manager/mod.rs
  components/sup/src/manager/service_updater.rs
  test/denied_lints.txt
  test/lints_to_fix.txt
Labels: Expeditor: Exclude from Changelog

#6630 0.82.0 Post-release tasks
  Cargo.lock
  RUSTFMT_VERSION
  components/common/src/command/package/install.rs
  components/core/src/util/mod.rs
  components/hab/src/command/origin/key/download.rs
  components/hab/src/command/origin/key/upload.rs
  components/hab/src/command/pkg/upload.rs
  components/sup/Cargo.toml
Labels: Expeditor: Exclude from Changelog

#6642 Increase timing threshold for sync module tests
  components/common/src/lib.rs
Labels: Expeditor: Exclude from Changelog

#6539 Store configurable shutdown parameters
  components/butterfly/src/server/outbound.rs
  components/butterfly/src/swim.rs
  components/common/src/lib.rs
  components/common/src/templating/package.rs
  components/core/src/os/process/mod.rs
  components/core/src/package/install.rs
  components/core/src/package/metadata.rs
  components/core/src/package/target.rs
  components/core/src/util/mod.rs
  components/core/src/util/serde_string.rs
  components/hab/src/cli.rs
  components/hab/src/command/origin/delete.rs
  components/hab/src/main.rs
  components/hab/static/template_plan.ps1
  components/hab/static/template_plan.sh
  components/plan-build-ps1/bin/hab-plan-build.ps1
  components/plan-build/bin/hab-plan-build.sh
  components/plan-build/bin/shared.bash
  components/sup-protocol/protocols/ctl.proto
  components/sup-protocol/src/generated/sup.ctl.rs
  components/sup/src/main.rs
  components/sup/src/manager/action.rs
  components/sup/src/manager/commands.rs
  components/sup/src/manager/mod.rs
  components/sup/src/manager/service/mod.rs
  components/sup/src/manager/service/spawned_future.rs
  components/sup/src/manager/service/spec.rs
  components/sup/src/manager/service/supervisor.rs
  components/sup/src/manager/service/terminator.rs
  components/sup/src/subscriber.rs
  components/sup/src/sys/unix/service.rs
  components/sup/src/sys/windows/service.rs
  www/source/docs/habitat-cli.html.md
  www/source/partials/docs/_reference-basic-settings.html.md.erb
  www/source/partials/docs/_reference-plan-settings.html.md.erb
Labels: X-feature

#6654 spell check
  www/source/docs/habitat-and-other-software.html.md.erb
  www/source/docs/using-builder.html.md.erb
Labels: A-documentation

#6622 Switch to log4rs in the Supervisor
  Cargo.lock
  components/core/src/env.rs
  components/sup/Cargo.toml
  components/sup/src/lib.rs
  components/sup/src/logger.rs
  components/sup/src/logger/env_logger_compatibility.rs
  components/sup/src/main.rs
  components/sup/src/manager/mod.rs
  components/sup/src/manager/service_updater.rs
  components/sup/src/manager/spec_watcher.rs
Labels: A-supervisor, X-feature

#6652 Update README.md for serving docs
  www/README.md
Labels: A-documentation

#6656 6345 danielhertenstein
  components/hab/src/command/studio/docker.rs
Labels: T-DO-NOT-MERGE

#6641 correct documentation to reflect removal of --windows arg from plan init
  www/source/demo/windows/steps/2.html.slim
  www/source/partials/docs/_dev-pkgs-write-plans.html.md.erb
Labels: A-documentation

#6655 Qubitrenegade 6644
  components/hab/src/command/studio/enter.rs
Labels: T-DO-NOT-MERGE

#6183 Key docs
  components/hab/src/cli.rs
  components/hab/src/command/cli/setup.rs
  www/config.rb
  www/data/docs_sidebar.yml
  www/source/blog/2017-05-23-Scaffolding-App-From-Scratch.html.md
  www/source/docs/glossary.html.md.erb
  www/source/docs/using-builder.html.md.erb
  www/source/images/screenshots/environment_variable.png
  www/source/images/screenshots/environment_variable_echo.png
  www/source/images/screenshots/environment_variable_new.png
  www/source/images/screenshots/environment_variable_new_var.png
  www/source/images/screenshots/environment_variable_set.png
  www/source/images/screenshots/origin-key-download.png
  www/source/images/screenshots/origin-keys.png
  www/source/partials/demo/_set_up_habitat.html.slim
  www/source/partials/docs/_bp-planwriting-guide.html.md.erb
  www/source/partials/docs/_bp-robust-supervisor-networks.md.erb
  www/source/partials/docs/_bp-running-habitat-linux-containers.md.erb
  www/source/partials/docs/_dev-pkgs-binding.html.md.erb
  www/source/partials/docs/_dev-pkgs-plan-builds.html.md.erb
  www/source/partials/docs/_dev-pkgs-share.html.md.erb
  www/source/partials/docs/_dev-pkgs-write-plans.html.md.erb
  www/source/partials/docs/_glossary-artifacts.html.md.erb
  www/source/partials/docs/_glossary-builder.html.md.erb
  www/source/partials/docs/_glossary-keys.html.md.erb
  www/source/partials/docs/_glossary-packages.html.md.erb
  www/source/partials/docs/_glossary-supervisor.html.md.erb
  www/source/partials/docs/_internals-supervisor.html.md.erb
  www/source/partials/docs/_reference-package-contents.html.md.erb
  www/source/partials/docs/_using-builder-access-tokens.html.md.erb
  www/source/partials/docs/_using-builder-create-origin.html.md.erb
  www/source/partials/docs/_using-builder-origin-keys.html.md.erb
  www/source/partials/docs/_using-builder-origin-secrets.html.md.erb
  www/source/partials/docs/_using-hab-encryption.html.md.erb
  www/source/partials/docs/_using-hab-using.html.md.erb.old
Labels: A-documentation, Expeditor: Exclude from Changelog

#6664 Add end to end test pipeline shape
  .expeditor/config.yml
  .expeditor/end_to_end.pipeline.yml
Labels: Expeditor: Exclude from Changelog

#6648 allow windows service to set arbitrary environment variables
  components/windows-service/App.config
  components/windows-service/HabService.cs
  components/windows-service/plan.ps1
Labels: A-supervisor, C-bug, E-easy, I-windows, X-fix

#6643 allow windows docker studio and exported images to run on kernels later than 2016ltsc
  .buildkite/scripts/build_docker_image.ps1
  .buildkite/scripts/publish_docker_studio.ps1
  BUILDING.md
  Cargo.lock
  components/core/Cargo.toml
  components/core/src/error.rs
  components/core/src/util/docker.rs
  components/core/src/util/mod.rs
  components/hab/src/command/pkg/export/cf.rs
  components/hab/src/command/pkg/export/docker.rs
  components/hab/src/command/pkg/export/export_common.rs
  components/hab/src/command/pkg/export/helm.rs
  components/hab/src/command/pkg/export/kubernetes.rs
  components/hab/src/command/studio/docker.rs
  components/pkg-export-docker/build.rs
  components/pkg-export-docker/defaults/Dockerfile.hbs
  components/pkg-export-docker/defaults/Dockerfile_win.hbs
  components/pkg-export-docker/habitat/plan.sh
  components/pkg-export-docker/src/build.rs
  components/pkg-export-docker/src/cli.rs
  components/pkg-export-docker/src/docker.rs
  components/pkg-export-docker/src/lib.rs
Labels: A-cli, A-exporter, C-feature, E-less-easy, I-windows, L-rust, L-shell, X-feature

#6662 Remove recusive memberlist locking
  .expeditor/verify.pipeline.yml
  components/butterfly/src/main.rs
  components/butterfly/src/member.rs
  components/butterfly/src/rumor/dat_file.rs
  components/butterfly/src/server/expire.rs
  components/butterfly/src/server/inbound.rs
  components/butterfly/src/server/mod.rs
  components/butterfly/src/server/outbound.rs
  components/butterfly/src/server/pull.rs
  components/butterfly/src/server/push.rs
  components/butterfly/tests/common/mod.rs
  components/butterfly/tests/encryption/mod.rs
  components/butterfly/tests/integration.rs
  components/butterfly/tests/rumor/departure.rs
  components/butterfly/tests/rumor/election.rs
  components/core/src/os/process/windows_child.rs
  components/sup/src/census.rs
  components/sup/src/main.rs
  components/sup/src/manager/mod.rs
Labels: X-fix

#6676 use explicit version of powershell
  POWERSHELL_VERSION
  components/studio/habitat/plan.ps1
  components/sup/habitat/plan.ps1
  components/windows-service/plan.ps1
Labels: A-studio, A-supervisor, C-chore, E-easy

#6670 cross platform binstubs with package environment
  components/hab/src/command/pkg/binlink.rs
  components/hab/static/template_binstub.bat
  components/hab/static/template_binstub.sh
  components/pkg-export-docker/src/build.rs
  test/shellcheck.sh
Labels: A-cli, C-feature, E-less-easy, L-rust, L-shell, X-feature

#6619 Add rst-reader back again
  .expeditor/verify.pipeline.yml
  Cargo.lock
  Cargo.toml
  components/butterfly/src/member.rs
  components/butterfly/src/protocol/mod.rs
  components/butterfly/src/rumor/dat_file.rs
  components/butterfly/src/rumor/departure.rs
  components/butterfly/src/rumor/election.rs
  components/butterfly/src/rumor/heat.rs
  components/butterfly/src/rumor/mod.rs
  components/butterfly/src/rumor/service.rs
  components/butterfly/src/rumor/service_config.rs
  components/butterfly/src/rumor/service_file.rs
  components/butterfly/src/server/mod.rs
  components/butterfly/src/swim.rs
  components/rst-reader/Cargo.toml
  components/rst-reader/README.md
  components/rst-reader/src/error.rs
  components/rst-reader/src/main.rs
Labels: X-change, X-feature

#6686 Add locking annotations that were overlooked
  components/butterfly/src/main.rs
  components/butterfly/src/rumor/dat_file.rs
  components/butterfly/src/server/inbound.rs
  components/butterfly/src/server/mod.rs
  components/butterfly/src/server/outbound.rs
  components/butterfly/src/server/pull.rs
  components/butterfly/src/server/push.rs
  components/butterfly/tests/common/mod.rs
  components/sup/src/census.rs
  components/sup/src/manager/mod.rs
  components/sup/src/manager/service/hooks.rs
  components/sup/src/manager/service_updater.rs
Labels: Expeditor: Exclude from Changelog

#6688 Fix `bare_trait_object` and `before_exec` warnings
  components/common/src/output.rs
  components/common/src/templating/hooks.rs
  components/common/src/ui.rs
Labels: Expeditor: Exclude from Changelog

#6689 Revert "cross platform binstubs with package environment"
  components/hab/src/command/pkg/binlink.rs
  components/hab/static/template_binstub.bat
  components/hab/static/template_binstub.sh
  components/pkg-export-docker/src/build.rs
  test/shellcheck.sh
Labels: Expeditor: Exclude from Changelog

#6684 provide a better error when no value is passed to Set-BuildtimeEnv or Set-RuntimeEnv
  components/plan-build-ps1/bin/hab-plan-build.ps1
Labels: A-plan-build, C-bug, E-easy, I-windows, L-shell, X-fix

#6685 add a invoke-after function for powershell plans
  components/plan-build-ps1/bin/hab-plan-build.ps1
  www/source/partials/docs/_reference-callbacks.html.md.erb
Labels: A-plan-build, C-feature, E-easy, I-windows, L-shell, X-feature

#6697 do not overwrite PSModulePath when setting up build environment
  components/plan-build-ps1/bin/hab-plan-build.ps1
  components/studio/bin/hab-studio.ps1
Labels: A-plan-build, A-studio, C-bug, E-easy, I-windows, L-shell, X-fix

#6698 Add license acceptance for studio test and run clippy in docker on linux
  .expeditor/verify.pipeline.yml
  test/run_studio_test.sh
Labels: Expeditor: Exclude from Changelog
