Repository habitat-sh/habitat, pull requests merged in 2019-09, with the labels that each got.

#6928 Remove unused locks and consolidate test helpers.
  components/common/src/templating/test_helpers.rs
  components/hab/src/command/bldr/job/promote.rs
  components/hab/src/command/pkg/binlink.rs
  components/pkg-export-docker/src/build.rs
Labels: Expeditor: Exclude from Changelog

#6909 Copy SSL_CERT_FILE to studio internal and persist env var
  .buildkite/release_pipeline.yaml
  Cargo.lock
  components/hab/Cargo.toml
  components/hab/src/command/studio/docker.rs
  components/hab/src/command/studio/enter.rs
  components/hab/src/error.rs
  components/studio/bin/hab-studio.ps1
  components/studio/bin/hab-studio.sh
Labels: A-studio

#6934 Fix typo in 'type' parameter for command 'hab origin key export'
  components/hab/src/cli.rs
Labels: A-cli, A-documentation

#6937 Audit GatewayState locking
  components/sup/src/ctl_gateway/server.rs
  components/sup/src/http_gateway.rs
  components/sup/src/main.rs
  components/sup/src/manager.rs
  components/sup/src/manager/commands.rs
  components/sup/src/manager/service.rs
  components/sup/src/manager/service/health.rs
  docs/dev/design_documents/locking.md
Labels: C-refactoring, Expeditor: Exclude from Changelog

#6939 Prep for 0.85.0 release
  CHANGELOG.md
Labels: Expeditor: Exclude from Changelog, Expeditor: Skip All

#6966 Add HAB_BLDR_URL environment variable to other pipeline files
  .buildkite/abort_release_pipeline.yaml
  .buildkite/finish_release_pipeline.yaml
Labels: Expeditor: Exclude from Changelog, Expeditor: Skip Version Bump

#6941 Redo the locks inside the butterfly::server module.
  components/butterfly/src/error.rs
  components/butterfly/src/main.rs
  components/butterfly/src/server.rs
  components/butterfly/src/server/inbound.rs
  components/butterfly/src/server/incarnation_store.rs
  components/butterfly/src/server/outbound.rs
  components/butterfly/src/server/pull.rs
  components/butterfly/src/server/push.rs
  components/butterfly/tests/common/mod.rs
  components/butterfly/tests/encryption/mod.rs
  components/butterfly/tests/integration.rs
  components/butterfly/tests/rumor/departure.rs
  components/butterfly/tests/rumor/election.rs
  components/butterfly/tests/rumor/service.rs
  components/butterfly/tests/rumor/service_config.rs
  components/butterfly/tests/rumor/service_file.rs
  components/common/src/lib.rs
  components/core/src/package/install.rs
  components/sup/src/main.rs
  components/sup/src/manager.rs
  docs/dev/design_documents/locking.md
Labels: C-refactoring, Expeditor: Exclude from Changelog

#6940 Audit `habitat_sup::manager::Manager` locking
  components/sup/src/manager.rs
  components/sup/src/manager/user_config_watcher.rs
Labels: C-refactoring, Expeditor: Exclude from Changelog

#6957 Convert RwLocks in the rumor::heat module to habitat_common::sync::Lock
  components/butterfly/src/main.rs
  components/butterfly/src/rumor/dat_file.rs
  components/butterfly/src/rumor/heat.rs
  components/butterfly/src/server.rs
  components/butterfly/src/server/expire.rs
  components/butterfly/src/server/inbound.rs
  components/butterfly/src/server/outbound.rs
  components/butterfly/src/server/pull.rs
  components/butterfly/src/server/push.rs
  components/butterfly/tests/common/mod.rs
  components/butterfly/tests/encryption/mod.rs
  components/butterfly/tests/integration.rs
  components/butterfly/tests/rumor/departure.rs
  components/butterfly/tests/rumor/election.rs
  components/butterfly/tests/rumor/service.rs
  components/butterfly/tests/rumor/service_config.rs
  components/butterfly/tests/rumor/service_file.rs
  components/sup/src/main.rs
  components/sup/src/manager.rs
  components/sup/src/manager/service_updater.rs
  docs/dev/design_documents/locking.md
Labels: C-refactoring, Expeditor: Exclude from Changelog, T-DO-NOT-MERGE

#6968 Bump VERSION to 0.87.0-dev
  VERSION
  VERSION_FAKE
Labels: Expeditor: Exclude from Changelog

#6956 Audit `habitat_sup::manager::ManagerServices` locking
  components/butterfly/src/main.rs
  components/butterfly/src/rumor/dat_file.rs
  components/butterfly/src/server.rs
  components/butterfly/src/server/pull.rs
  components/butterfly/tests/common/mod.rs
  components/butterfly/tests/rumor/election.rs
  components/sup/src/ctl_gateway/server.rs
  components/sup/src/http_gateway.rs
  components/sup/src/main.rs
  components/sup/src/manager.rs
  components/sup/src/manager/commands.rs
  docs/dev/design_documents/locking.md
Labels: C-refactoring, Expeditor: Exclude from Changelog

#6970 Allow Windows studio tests to soft-fail
  .expeditor/verify.pipeline.yml
  components/studio/test/shared/studio-enter.ps1
Labels: Expeditor: Exclude from Changelog
