Repository habitat-sh/habitat, pull requests merged in 2020-05, with the labels that each got.

#7658 Config file support for `hab sup run`
  Cargo.lock
  components/common/src/cli.rs
  components/common/src/command/package/install.rs
  components/common/src/lib.rs
  components/common/src/types.rs
  components/core/src/crypto.rs
  components/core/src/crypto/keys.rs
  components/core/src/fs.rs
  components/core/src/os/process.rs
  components/hab/src/cli.rs
  components/hab/src/cli/hab.rs
  components/hab/src/cli/hab/sup.rs
  components/hab/src/cli/hab/svc.rs
  components/hab/src/cli/hab/tests.rs
  components/hab/src/cli/hab/util.rs
  components/hab/src/command/studio/docker.rs
  components/hab/src/command/studio/enter.rs
  components/hab/src/main.rs
  components/pkg-export-docker/src/build.rs
  components/pkg-export-tar/src/build.rs
  components/sup/Cargo.toml
  components/sup/src/census.rs
  components/sup/src/cli.rs
  components/sup/src/event.rs
  components/sup/src/main.rs
  components/sup/src/manager.rs
  components/sup/src/manager/service/hooks.rs
Labels: A-supervisor, X-feature

#7674 `hab pkg export docker` is now `hab pkg export container`
  .bldr.toml
  .expeditor/end_to_end.pipeline.yml
  .expeditor/release_habitat.pipeline.yml
  .expeditor/scripts/end_to_end/setup_environment.ps1
  .expeditor/scripts/end_to_end/setup_environment.sh
  .expeditor/scripts/finish_release/sync_acceptance.toml
  .expeditor/verify.pipeline.yml
  Cargo.lock
  Cargo.toml
  Makefile
  components/hab/src/cli.rs
  components/hab/src/cli/hab/pkg.rs
  components/hab/src/command/pkg/export.rs
  components/hab/src/command/pkg/export/container.rs
  components/hab/src/main.rs
  components/pkg-cfize/bin/hab-pkg-cfize.sh
  components/pkg-cfize/habitat/plan.sh
  components/pkg-export-container/Cargo.toml
  components/pkg-export-container/build.rs
  components/pkg-export-container/defaults/Dockerfile.hbs
  components/pkg-export-container/defaults/Dockerfile_win.hbs
  components/pkg-export-container/defaults/etc/group
  components/pkg-export-container/defaults/etc/nsswitch.conf
  components/pkg-export-container/defaults/etc/passwd
  components/pkg-export-container/defaults/etc/resolv.conf
  components/pkg-export-container/defaults/init.sh.hbs
  components/pkg-export-container/defaults/last_container_export.env.hbs
  components/pkg-export-container/habitat/plan.ps1
  components/pkg-export-container/habitat/plan.sh
  components/pkg-export-container/src/accounts.rs
  components/pkg-export-container/src/build.rs
  components/pkg-export-container/src/cli.rs
  components/pkg-export-container/src/container.rs
  components/pkg-export-container/src/error.rs
  components/pkg-export-container/src/graph.rs
  components/pkg-export-container/src/lib.rs
  components/pkg-export-container/src/main.rs
  components/pkg-export-container/src/naming.rs
  components/pkg-export-container/src/os.rs
  components/pkg-export-container/src/os/check.rs
  components/pkg-export-container/src/os/check/windows.rs
  components/pkg-export-container/src/rootfs.rs
  components/pkg-export-container/src/util.rs
  test/end-to-end/test_container_exporter.ps1
Labels: X-change

#7685 Add Bulidah as an engine for unprivileged container builds
  components/pkg-export-container/habitat/plan.sh
  components/pkg-export-container/src/cli.rs
  components/pkg-export-container/src/container.rs
  components/pkg-export-container/src/engine.rs
  components/pkg-export-container/src/engine/buildah.rs
  components/pkg-export-container/src/engine/docker.rs
  components/pkg-export-container/src/lib.rs
  test/end-to-end/test_container_exporter.ps1
Labels: X-feature

#7675 supervisor config doc
  www/data/docs_sidebar.yml
  www/source/docs/reference.html.md.erb
Labels: A-documentation, Documentation
