Repository habitat-sh/habitat, pull requests merged in 2020-07, with the labels that each got.

#7778 Fix reading root certs
  Cargo.lock
  components/http-client/Cargo.toml
  components/http-client/src/api_client.rs
Labels: X-fix

#7781 Add `hab svc update` command
  .expeditor/scripts/verify/run_psscriptanalyzer.ps1
  .expeditor/verify.pipeline.yml
  components/common/src/error.rs
  components/common/src/types.rs
  components/hab/src/cli.rs
  components/hab/src/cli/gateway_util.rs
  components/hab/src/cli/hab/svc.rs
  components/hab/src/cli/hab/util.rs
  components/hab/src/error.rs
  components/hab/src/main.rs
  components/sup-protocol/protocols/ctl.proto
  components/sup-protocol/src/ctl.rs
  components/sup-protocol/src/types.rs
  components/sup/src/ctl_gateway/server.rs
  components/sup/src/main.rs
  components/sup/src/manager.rs
  components/sup/src/manager/action.rs
  components/sup/src/manager/commands.rs
  components/sup/src/manager/service/spec.rs
  test-services/test-probe/habitat/x86_64-linux/hooks/health-check
  test-services/test-probe/habitat/x86_64-linux/hooks/init
  test-services/test-probe/habitat/x86_64-linux/hooks/post-run
  test-services/test-probe/habitat/x86_64-linux/hooks/post-stop
  test-services/test-probe/habitat/x86_64-linux/hooks/run
  test-services/test-probe/habitat/x86_64-linux/plan.sh
  test-services/test-probe/habitat/x86_64-windows/hooks/health-check.ps1
  test-services/test-probe/habitat/x86_64-windows/hooks/init.ps1
  test-services/test-probe/habitat/x86_64-windows/hooks/post-run.ps1
  test-services/test-probe/habitat/x86_64-windows/hooks/post-stop.ps1
  test-services/test-probe/habitat/x86_64-windows/hooks/run.ps1
  test-services/test-probe/habitat/x86_64-windows/plan.ps1
  test/end-to-end/test_dynamic_channel_update.ps1
  test/end-to-end/test_svc_update.ps1
Labels: X-feature

#7799 Write all service files when a service is loaded
  components/sup/src/census.rs
  components/sup/src/manager.rs
  components/sup/src/manager/service.rs
  test/end-to-end/multi-supervisor/testcases/service_files_are_written_to_disk_when_service_is_loaded/Dockerfile
  test/end-to-end/multi-supervisor/testcases/service_files_are_written_to_disk_when_service_is_loaded/docker-compose.override.yml
  test/end-to-end/multi-supervisor/testcases/service_files_are_written_to_disk_when_service_is_loaded/run_test.ps1
Labels: X-fix

#7821 remove link to kubernetes operator and cloud foundary exporter
  www/source/docs/index.html.slim
Labels: Documentation

#7824 Use the new downloads site where appropriate.
  www/source/docs/install-habitat.html.md.erb
  www/source/partials/global/_download-and-install.slim
Labels: A-documentation, Documentation

#7827 [Fix] Cli completions by conditionally hiding bulkload subcommand
  components/hab/src/cli.rs
  components/hab/src/cli/hab/svc.rs
  components/hab/src/main.rs
Labels: X-fix

#7814 hab pkg info extended metadata
  components/core/src/package.rs
  components/core/src/package/archive.rs
  components/core/src/package/ident.rs
  components/hab/src/cli.rs
  components/hab/src/cli/hab/pkg.rs
  components/hab/src/command/pkg/info.rs
Labels: X-feature

#7832 Ignore unreadable keys when exporting (among other uses)
  components/core/src/crypto/keys.rs
  components/core/src/crypto/keys/box_key_pair.rs
  components/core/src/crypto/keys/sig_key_pair.rs
  components/core/src/crypto/keys/sym_key.rs
  components/hab/src/command/origin/key/export.rs
  components/hab/src/main.rs
Labels: X-fix

#7823 Add supplemental groups to Linux hook processes
  .bldr.toml
  .expeditor/end_to_end.pipeline.yml
  .expeditor/scripts/shared.sh
  Cargo.lock
  Cargo.toml
  components/common/Cargo.toml
  components/common/src/templating/config.rs
  components/common/src/templating/hooks.rs
  components/core/Cargo.toml
  components/core/src/fs.rs
  components/core/src/os/process.rs
  components/core/src/os/process/exec.rs
  components/core/src/os/process/exec/unix.rs
  components/core/src/os/process/unix.rs
  components/core/src/os/process/windows.rs
  components/core/src/os/users.rs
  components/core/src/os/users/unix.rs
  components/core/src/os/users/windows.rs
  components/hab/src/command/studio/enter.rs
  components/launcher/Cargo.toml
  components/launcher/src/sys/unix/service.rs
  components/sup/src/manager/service.rs
  components/sup/src/manager/service/supervisor.rs
  test-services/supplemental-group-tester/README.md
  test-services/supplemental-group-tester/hooks/init
  test-services/supplemental-group-tester/hooks/run
  test-services/supplemental-group-tester/plan.sh
  test/end-to-end/test_supplemental_groups.ps1
Labels: X-fix
