Repository habitat-sh/habitat, pull requests merged in 2020-08, with the labels that each got.

#7820 modernize windows tutorial
  www/source/demo/windows/steps/1.html.slim
  www/source/demo/windows/steps/10.html.slim
  www/source/demo/windows/steps/2.html.slim
  www/source/demo/windows/steps/3.html.slim
  www/source/demo/windows/steps/4.html.slim
  www/source/demo/windows/steps/6.html.slim
  www/source/demo/windows/steps/7.html.slim
  www/source/demo/windows/steps/8.html.slim
  www/source/demo/windows/steps/9.html.slim
Labels: A-documentation

#7850 Add splay to health check execution
  components/core/src/service.rs
  components/habitat-chef-io/content/habitat/application-lifecycle-hooks.md
  components/sup/src/manager/service/health.rs
  www/source/docs/reference.html.md.erb
Labels: Changelog: Behavioral Change

#7841 builder origin rbac subcommand
  components/builder-api-client/Cargo.toml
  components/builder-api-client/src/builder.rs
  components/builder-api-client/src/lib.rs
  components/common/src/ui.rs
  components/core/Cargo.toml
  components/core/src/error.rs
  components/core/src/lib.rs
  components/core/src/origin.rs
  components/core/src/util.rs
  components/core/src/util/text_render.rs
  components/hab/src/cli.rs
  components/hab/src/cli/hab.rs
  components/hab/src/cli/hab/origin.rs
  components/hab/src/cli/hab/util.rs
  components/hab/src/command/origin.rs
  components/hab/src/command/origin/info.rs
  components/hab/src/command/origin/invitations/list_pending_origin.rs
  components/hab/src/command/origin/invitations/list_user.rs
  components/hab/src/command/origin/rbac.rs
  components/hab/src/command/origin/rbac/set_role.rs
  components/hab/src/command/origin/rbac/show_role.rs
  components/hab/src/command/pkg/info.rs
  components/hab/src/error.rs
  components/hab/src/main.rs
Labels: Changelog: New Feature

#7872 Deprecate CLI aliases
  Cargo.lock
  components/hab/src/main.rs
Labels: Changelog: Behavioral Change

#7871 Pull packages from the `--channel` argument on `hab sup run`
  components/hab/src/cli/hab.rs
  components/hab/src/cli/hab/sup.rs
  components/hab/src/command/launcher.rs
  components/hab/src/command/sup.rs
  components/hab/src/exec.rs
  components/hab/src/main.rs
Labels: Changelog: Behavioral Change

#7878 Add `hab sup restart` command
  .expeditor/end_to_end.pipeline.yml
  components/hab/src/cli/hab/sup.rs
  components/hab/src/main.rs
  components/sup-protocol/protocols/ctl.proto
  components/sup-protocol/src/ctl.rs
  components/sup/src/ctl_gateway/server.rs
  components/sup/src/manager.rs
  components/sup/src/manager/commands.rs
  test/end-to-end/test_launcher_restarts_supervisor.ps1
  test/end-to-end/test_supervisor_restarts.ps1
Labels: Changelog: New Feature

#7790 1. Builder Intro
  www/data/docs_sidebar.yml
  www/source/docs/using-builder.html.md.erb
Labels: Documentation

#7804 3. Builder profile
  www/data/docs_sidebar.yml
  www/source/docs/using-builder.html.md.erb
  www/source/images/screenshots/builder_profile.png
  www/source/images/screenshots/builder_profile_user.png
  www/source/images/screenshots/copy-token.png
  www/source/images/screenshots/environment_variable.png
  www/source/images/screenshots/environment_variable_new.png
  www/source/images/screenshots/environment_variable_new_var.png
  www/source/images/screenshots/generate-token.png
Labels: Documentation

#7809 4. Create Origin
  www/source/docs/using-builder.html.md.erb
  www/source/images/screenshots/2020-08-17_12-18-08.png
  www/source/images/screenshots/create-origin-done.png
  www/source/images/screenshots/create-origin-form.png
  www/source/images/screenshots/create-origin.png
Labels: Documentation

#7810 5. Origin Keys
  www/data/docs_sidebar.yml
  www/source/docs/using-builder.html.md.erb
  www/source/images/screenshots/builder-key-upload.png
  www/source/images/screenshots/origin-key-download.png
  www/source/images/screenshots/origin-keys.png
Labels: Documentation

#7811 6. Origin Secrets
  www/source/docs/developing-packages.html.md.erb
  www/source/docs/using-builder.html.md.erb
  www/source/images/screenshots/origin-secrets.png
Labels: Documentation

#7812 7. Origin Members
  www/data/docs_sidebar.yml
  www/source/docs/using-builder.html.md.erb
  www/source/images/screenshots/builder_origin_members.png
  www/source/images/screenshots/origin_members.png
Labels: Documentation
