Repository habitat-sh/habitat, pull requests merged in 2020-01, with the labels that each got.

#7319 do not attempt to set binlink path if not in an elevated console
  components/hab/src/command/cli/setup.rs
Labels: A-cli, X-fix

#7293 Update event stream to use rants client library
  .expeditor/scripts/end_to_end/SupervisorRunner.cs
  .expeditor/scripts/end_to_end/run_e2e_test_core.ps1
  CHANGELOG.md
  Cargo.lock
  components/hab/Cargo.toml
  components/hab/src/cli.rs
  components/sup/Cargo.toml
  components/sup/src/event.rs
  components/sup/src/event/error.rs
  components/sup/src/event/nats_message_stream.rs
  components/sup/src/event/stream.rs
  components/sup/src/manager.rs
  test/end-to-end/test_event_stream.ps1
  test/fixtures/plans/nats-event-stream-test/hooks/health-check
  test/fixtures/plans/nats-event-stream-test/hooks/run
  test/fixtures/plans/nats-event-stream-test/plan.sh
Labels: A-supervisor, C-bug, C-feature, L-rust

#7167 Fix rolling updates after the death of group members
  .expeditor/scripts/end_to_end/SupervisorRunner.cs
  .expeditor/scripts/end_to_end/run_e2e_test_core.ps1
  components/sup/src/manager/service_updater.rs
  test/end-to-end/multi-supervisor/testcases/rolling_update/Dockerfile
  test/end-to-end/multi-supervisor/testcases/rolling_update/docker-compose.override.yml
  test/end-to-end/multi-supervisor/testcases/rolling_update/run_test.ps1
  test/end-to-end/multi-supervisor/testcases/rolling_update_remove_follower_keep_quorum/Dockerfile
  test/end-to-end/multi-supervisor/testcases/rolling_update_remove_follower_keep_quorum/docker-compose.override.yml
  test/end-to-end/multi-supervisor/testcases/rolling_update_remove_follower_keep_quorum/run_test.ps1
  test/end-to-end/multi-supervisor/testcases/rolling_update_remove_leader_keep_quorum/Dockerfile
  test/end-to-end/multi-supervisor/testcases/rolling_update_remove_leader_keep_quorum/docker-compose.override.yml
  test/end-to-end/multi-supervisor/testcases/rolling_update_remove_leader_keep_quorum/run_test.ps1
  test/end-to-end/multi-supervisor/testcases/rolling_update_remove_leader_lose_quorum/Dockerfile
  test/end-to-end/multi-supervisor/testcases/rolling_update_remove_leader_lose_quorum/docker-compose.override.yml
  test/end-to-end/multi-supervisor/testcases/rolling_update_remove_leader_lose_quorum/run_test.ps1
Labels: A-supervisor, C-bug, T-emergent, X-fix

#7304 Best Practice Reorg
  www/data/docs_sidebar.yml
  www/source/blog/2018-07-18-habitat-gcr-and-gke.html.md
  www/source/docs/best-practices/aks-and-habitat.html.md.erb
  www/source/docs/best-practices/best-practices.html.md.erb
  www/source/docs/best-practices/binary-wrapper.html.md.erb
  www/source/docs/best-practices/container-orchestration.html.md.erb
  www/source/docs/best-practices/ecs-and-habitat.html.md.erb
  www/source/docs/best-practices/gke-and-habitat.html.md.erb
  www/source/docs/best-practices/iterative-development.html.md.erb
  www/source/docs/best-practices/kubernetes.html.md.erb
  www/source/docs/best-practices/mesos-dcos.html.md.erb
  www/source/docs/best-practices/planwriting-guide.html.md.erb
  www/source/docs/best-practices/robust-supervisor-networks.html.md.erb
  www/source/docs/best-practices/running-habitat-linux-containers.html.md.erb
  www/source/docs/best-practices/running-habitat-servers.html.md.erb
  www/source/docs/best-practices/running-habitat-windows-containers.html.md.erb
  www/source/docs/developing-packages/developing-packages.html.md.erb
  www/source/docs/habitat-and-other-software/habitat-and-other-software.html.md.erb
  www/source/docs/using-habitat/using-habitat.html.md.erb
  www/source/get-started/kubernetes/index.html.slim
Labels: A-documentation

#7305 Diagrams Reorg
  www/data/docs_sidebar.yml
  www/source/docs/diagrams/application-rebuild-flow.html.md.erb
  www/source/docs/diagrams/architecture-overview.html.md.erb
  www/source/docs/diagrams/builder-architecture.html.md.erb
  www/source/docs/diagrams/dependency-update-flow.html.md.erb
  www/source/docs/diagrams/diagrams.html.md.erb
  www/source/docs/diagrams/docker-automated-flow.html.md.erb
  www/source/docs/diagrams/docker-flow.html.md.erb
  www/source/docs/diagrams/kubernetes-flow.html.md.erb
  www/source/docs/diagrams/on-prem-flow.html.md.erb
  www/source/docs/diagrams/package-build-flow.html.md.erb
  www/source/docs/diagrams/promote-packages.html.md.erb
  www/source/docs/diagrams/runtime-binding.html.md.erb
Labels: A-documentation

#7306 Glossary reorg
  www/config.rb
  www/data/docs_sidebar.yml
  www/source/blog/2019-03-13-0.78.0-release.html.md
  www/source/demo/packaging-system/steps/4.html.slim
  www/source/docs/best-practices/best-practices.html.md.erb
  www/source/docs/developing-packages/developing-packages.html.md.erb
  www/source/docs/glossary/artifact-export-format.html.md.erb
  www/source/docs/glossary/glossary-artifacts.html.md.erb
  www/source/docs/glossary/glossary-builder.html.md.erb
  www/source/docs/glossary/glossary-hab.html.md.erb
  www/source/docs/glossary/glossary-hooks.html.md.erb
  www/source/docs/glossary/glossary-keys.html.md.erb
  www/source/docs/glossary/glossary-launcher.html.md.erb
  www/source/docs/glossary/glossary-plan.html.md.erb
  www/source/docs/glossary/glossary-scaffolding.html.md.erb
  www/source/docs/glossary/glossary-services.html.md.erb
  www/source/docs/glossary/glossary-studio.html.md.erb
  www/source/docs/glossary/glossary-supervisor.html.md.erb
  www/source/docs/glossary/glossary.html.md.erb
  www/source/docs/internals/internals.html.md.erb
  www/source/docs/reference/reference.html.md.erb
  www/source/partials/demo/_set_up_habitat.html.slim
Labels: A-documentation

#7309 Install Habitat Reorg
  www/data/docs_sidebar.yml
  www/source/docs/install-habitat/accept-the-license.html.md.erb
  www/source/docs/install-habitat/configure-workstation.html.md.erb
  www/source/docs/install-habitat/install-faq.html.md.erb
  www/source/docs/install-habitat/install-habitat.html.md.erb
  www/source/docs/install-habitat/installing-packages.html.md.erb
Labels: A-documentation

#7311 Reference Reorg
  www/config.rb
  www/data/docs_sidebar.yml
  www/scripts/generate-template-reference.js
  www/source/blog/2017-05-23-Scaffolding.html.md
  www/source/blog/2017-06-28-Happy-Birthday-Habitat.html.md
  www/source/blog/2018-02-20-0540Release.html.md
  www/source/blog/2018-05-29-0560-Release.html.md
  www/source/demo/packaging-system/steps/6.html.slim
  www/source/demo/windows/steps/2.html.slim
  www/source/demo/windows/steps/3.html.slim
  www/source/demo/windows/steps/4.html.slim
  www/source/demo/windows/steps/6.html.slim
  www/source/demo/windows/steps/7.html.slim
  www/source/demo/windows/steps/8.html.slim
  www/source/docs/best-practices/best-practices.html.md.erb
  www/source/docs/developing-packages/developing-packages.html.md.erb
  www/source/docs/glossary/glossary.html.md.erb
  www/source/docs/reference/application-lifecycle-hooks.html.md.erb
  www/source/docs/reference/build-helpers.html.md.erb
  www/source/docs/reference/build-phase-callbacks.html.md.erb
  www/source/docs/reference/environment-variables.html.md.erb
  www/source/docs/reference/package-contents.html.md.erb
  www/source/docs/reference/plan-helpers.html.md.erb
  www/source/docs/reference/plan-settings.html.md.erb
  www/source/docs/reference/plan-variables.html.md.erb
  www/source/docs/reference/reference.html.md.erb
  www/source/docs/reference/sup-log-configuration.html.md.erb
  www/source/docs/reference/sup-log-keys.html.md.erb
  www/source/docs/reference/template-data.html.md.erb
  www/source/docs/using-builder/using-builder.html.md.erb
  www/source/partials/global/_helpers.html.md.erb
  www/source/partials/global/_versioning_concepts.html.md.erb
Labels: A-documentation

#7331 origin ownership transfer subcommand
  components/builder-api-client/src/builder.rs
  components/builder-api-client/src/lib.rs
  components/common/src/ui.rs
  components/hab/src/cli.rs
  components/hab/src/command/origin.rs
  components/hab/src/command/origin/transfer.rs
  components/hab/src/main.rs
Labels: X-feature

#7347 Removes duplicate content in best-practices
  www/source/docs/best-practices/best-practices.html.md.erb
Labels: A-documentation

#7356 Ensure that signal handlers are installed first
  components/launcher/src/main.rs
  components/sup/src/main.rs
Labels: X-fix

#7345 Fix merge conflicts
  www/source/docs/internals/internals.html.md.erb
  www/source/docs/using-builder/using-builder.html.md.erb
Labels: A-documentation

#7342 Update to Windows Server 2012
  www/source/docs/habitat-and-other-software/habitat-and-other-software.html.md.erb
  www/source/partials/global/_download-and-install.slim
  www/source/partials/global/_package_platform_support.html.md.erb
Labels: A-documentation

#7349 hab origin invitations subcommand
  Cargo.lock
  components/builder-api-client/Cargo.toml
  components/builder-api-client/src/builder.rs
  components/builder-api-client/src/lib.rs
  components/common/src/ui.rs
  components/hab/src/cli.rs
  components/hab/src/command/origin.rs
  components/hab/src/command/origin/invitations.rs
  components/hab/src/command/origin/invitations/accept.rs
  components/hab/src/command/origin/invitations/ignore.rs
  components/hab/src/command/origin/invitations/list_pending_origin.rs
  components/hab/src/command/origin/invitations/list_user.rs
  components/hab/src/command/origin/invitations/rescind.rs
  components/hab/src/command/origin/invitations/send.rs
  components/hab/src/main.rs
Labels: X-feature
