Repository habitat-sh/habitat, pull requests merged in 2020-04, with the labels that each got.

#7582 Automatic package cleanup with the `--keep-latest-packages` flag
  .expeditor/end_to_end.pipeline.yml
  .expeditor/scripts/end_to_end/run_e2e_test.sh
  .expeditor/scripts/end_to_end/run_e2e_test_core.ps1
  .expeditor/scripts/verify/run_psscriptanalyzer.ps1
  components/core/src/package/ident.rs
  components/hab/src/cli.rs
  components/hab/src/cli/hab/sup.rs
  components/hab/src/command/pkg/list.rs
  components/hab/src/command/pkg/uninstall_impl.rs
  components/hab/src/main.rs
  components/sup/src/main.rs
  components/sup/src/manager.rs
  components/sup/src/manager/self_updater.rs
  components/sup/src/util/pkg.rs
  e2e_local.sh
  test/end-to-end/test_at_once_service_updater.ps1
  test/end-to-end/test_self_keep_latest_packages.ps1
Labels: A-supervisor, C-feature, L-rust, X-feature

#7589 Fixes truncated CLI spaces
  www/source/docs/developing-packages.html.md.erb
Labels: A-documentation, Documentation

#7595 Add `--keep-latest` to `hab pkg uninstall`
  .expeditor/end_to_end.pipeline.yml
  components/hab/src/cli.rs
  components/hab/src/cli/hab/pkg.rs
  components/hab/src/command/pkg/uninstall.rs
  components/hab/src/command/pkg/uninstall_impl.rs
  components/hab/src/main.rs
  components/sup/src/util/pkg.rs
  test/end-to-end/test_pkg_uninstall.ps1
Labels: A-supervisor, C-feature, L-rust, X-feature

#7588 Prepare e2e tests for powershell 7.0
  .expeditor/scripts/end_to_end/run_e2e_test_core.ps1
  test/end-to-end/test_event_stream.ps1
  test/end-to-end/test_fresh_install_can_communicate_with_builder.ps1
  test/end-to-end/test_service_pids_come_from_new_launcher.ps1
  test/end-to-end/test_service_pids_written_to_file_using_old_launcher.ps1
  test/end-to-end/test_simple_hooks.ps1
  test/end-to-end/test_supervisor_binds.ps1
Labels: T-DO-NOT-MERGE

#7616 Prevent infinite loop on Windows after losing connection to Automate
  Cargo.lock
Labels: X-fix

#7596 Layered images from `hab pkg export docker`
  .expeditor/end_to_end.pipeline.yml
  .expeditor/scripts/end_to_end/setup_environment.ps1
  .expeditor/scripts/end_to_end/setup_environment.sh
  Cargo.lock
  components/common/src/package_graph.rs
  components/pkg-export-docker/Cargo.toml
  components/pkg-export-docker/defaults/Dockerfile.hbs
  components/pkg-export-docker/defaults/Dockerfile_win.hbs
  components/pkg-export-docker/src/build.rs
  components/pkg-export-docker/src/chmod.rs
  components/pkg-export-docker/src/cli.rs
  components/pkg-export-docker/src/docker.rs
  components/pkg-export-docker/src/graph.rs
  components/pkg-export-docker/src/lib.rs
  components/pkg-export-docker/src/main.rs
  components/pkg-export-docker/src/rootfs.rs
  components/pkg-export-docker/src/util.rs
  e2e_local.sh
  test/end-to-end/test_docker_exporter.ps1
Labels: X-feature

#7618 source studio_profile.ps1 in studio enter if present
  .expeditor/end_to_end.pipeline.yml
  .expeditor/scripts/end_to_end/run_e2e_test_core.ps1
  components/hab/src/command/studio/docker.rs
  components/studio/bin/hab-studio.ps1
  test/end-to-end/test_studio_profile.ps1
  www/source/docs/reference.html.md.erb
Labels: C-feature

#7648 Post-refresh cleanup
  .expeditor/verify.pipeline.yml
  components/pkg-cfize/habitat/plan.sh
  components/pkg-dockerize/README.md
  components/pkg-dockerize/bin/hab-pkg-dockerize.sh
  components/pkg-dockerize/habitat/plan.sh
Labels: C-chore
