Repository habitat-sh/habitat, pull requests merged in 2020-03, with the labels that each got.

#7513 Add service `--update-condition` enabling service rollback
  .expeditor/scripts/end_to_end/run_e2e_test_core.ps1
  components/hab/src/cli.rs
  components/hab/src/cli/hab/sup.rs
  components/hab/src/cli/hab/svc.rs
  components/hab/src/command/pkg.rs
  components/hab/src/command/pkg/uninstall.rs
  components/hab/src/command/pkg/uninstall_impl.rs
  components/hab/src/config.rs
  components/hab/src/main.rs
  components/sup-protocol/protocols/ctl.proto
  components/sup-protocol/protocols/types.proto
  components/sup-protocol/src/types.rs
  components/sup/src/main.rs
  components/sup/src/manager.rs
  components/sup/src/manager/service.rs
  components/sup/src/manager/service/spec.rs
  components/sup/src/manager/service_updater.rs
  components/sup/src/manager/service_updater/package_update_worker.rs
  components/sup/src/util/pkg.rs
  test/end-to-end/multi-supervisor/testcases/rolling_update/run_test.ps1
  test/end-to-end/test_at_once_service_updater.ps1
Labels: A-supervisor, C-feature, V-sup, X-feature

#7533 Make better use of `Instant::elapsed()` for safer timing operations
  components/butterfly/src/server/outbound.rs
  components/butterfly/src/server/push.rs
  components/butterfly/src/server/timing.rs
  components/butterfly/tests/common/mod.rs
  components/launcher-client/src/client.rs
  components/launcher/src/sys/unix/service.rs
  components/launcher/src/sys/windows/service.rs
  components/sup/src/manager.rs
  components/sup/src/manager/periodic.rs
  components/sup/src/sys/unix/service.rs
  components/sup/src/sys/windows/service.rs
Labels: X-fix

#6729 Habitat API docs
  www/config.rb
  www/data/docs_sidebar.yml
  www/source/data/docs/builder-api.json
  www/source/data/docs/sup-api.json
  www/source/docs/api/builder-api.html.md.erb
  www/source/docs/api/supervisor.html.md.erb
  www/source/layouts/api_builder.slim
  www/source/layouts/api_sup.slim
  www/source/stylesheets/_global.scss
Labels: A-documentation

#7559 Update links to docs.chef.io
  www/source/docs/install-habitat.html.md.erb
  www/source/docs/reference.html.md.erb
  www/source/legal/terms-and-conditions.html.slim
  www/source/partials/demo/_install_the_tools.html.slim
Labels: A-documentation, Documentation

#7527 Fixes broken links in the docs
  www/source/docs/best-practices.html.md.erb
  www/source/docs/developing-packages.html.md.erb
  www/source/docs/glossary.html.md.erb
  www/source/docs/reference.html.md.erb
Labels: A-documentation, Documentation

#7585 Error if using `-d` when entering Windows studio
  components/studio/bin/hab-studio.ps1
Labels: A-studio, C-bug, L-shell
