Repository habitat-sh/habitat, pull requests merged in 2020-06, with the labels that each got.

#7755 CtlGateway handshake fix
  components/sup-client/src/lib.rs
  components/sup-protocol/src/codec.rs
  components/sup/src/ctl_gateway/server.rs
  test/end-to-end/multi-supervisor/testcases/bad_secret_key/Dockerfile
  test/end-to-end/multi-supervisor/testcases/bad_secret_key/docker-compose.override.yml
  test/end-to-end/multi-supervisor/testcases/bad_secret_key/run_test.ps1
Labels: C-bug

#7772 [FIX] Ensure `toToml` helper works properly for tables
  Cargo.lock
  components/builder-api-client/Cargo.toml
  components/butterfly/Cargo.toml
  components/common/Cargo.toml
  components/common/src/templating/helpers/to_toml.rs
  components/core/Cargo.toml
  components/hab/Cargo.toml
  components/http-client/Cargo.toml
  components/pkg-export-container/Cargo.toml
  components/pkg-export-tar/Cargo.toml
  components/sup-protocol/Cargo.toml
  components/sup/Cargo.toml
Labels: X-fix

#7770 Allow dynamic changes to updater-related config for services
  .expeditor/end_to_end.pipeline.yml
  components/sup/src/manager.rs
  components/sup/src/manager/service.rs
  components/sup/src/manager/service/spec.rs
  components/sup/src/manager/service_updater.rs
  test/end-to-end/test_dynamic_channel_update.ps1
Labels: X-feature
