Repository habitat-sh/habitat, pull requests merged in 2020-02, with the labels that each got.

#7406 Correct Middleman file structure
  www/data/docs_sidebar.yml
  www/source/docs/about-analytics.html.md.erb
  www/source/docs/best-practices.html.md.erb
  www/source/docs/contribute.html.md.erb
  www/source/docs/developing-packages.html.md.erb
  www/source/docs/developing-plans.html.md.erb
  www/source/docs/diagrams.html.md.erb
  www/source/docs/glossary.html.md.erb
  www/source/docs/habitat-and-other-software.html.md.erb
  www/source/docs/habitat-cli.html.md.erb
  www/source/docs/install-habitat.html.md.erb
  www/source/docs/internals.html.md.erb
  www/source/docs/reference.html.md.erb
  www/source/docs/under-construction.html.md.erb
  www/source/docs/using-builder.html.md.erb
  www/source/docs/using-habitat.html.md.erb
Labels: A-documentation

#7419 Add LCR Button
  www/source/images/rally-logo.png
  www/source/learn/index.html.slim
  www/source/stylesheets/_global.scss
  www/source/stylesheets/_mixins.scss
Labels: A-documentation

#7313 Using Habitat Reorg
  www/config.rb
  www/data/docs_sidebar.yml
  www/source/blog/2017-04-12-Multi-Service-Supervision.html.md
  www/source/blog/2017-05-23-Scaffolding-App-From-Scratch.html.md
  www/source/blog/2017-12-06-Kubecon-Habitat-Kubernetes.html.md
  www/source/blog/2018-02-05-Habitat-0.53.0-Released.html.md
  www/source/blog/2018-02-20-0540Release.html.md
  www/source/blog/2018-03-21-0550-Release.html.md
  www/source/blog/2018-05-29-0560-Release.html.md
  www/source/blog/2018-06-15-Habitat-0.57.0-Released.html.md
  www/source/blog/2018-07-02-Habitat-0.58.0-Released.html.md
  www/source/blog/2018-07-12-Habitat-0.59.0-Released.html.md
  www/source/blog/2018-08-13-1348Release.html.md
  www/source/blog/2018-08-31-0620Release.html.md
  www/source/blog/2018-09-10-Habitat-0.63.0-Release.html.md
  www/source/blog/2018-09-27-0.64.0-release.html.md
  www/source/blog/2018-09-28-0.64.1-release.html.md
  www/source/blog/2018-10-05-0.65.0-release.html.md
  www/source/blog/2018-10-22-0.66.0-release.html.md
  www/source/blog/2018-10-30-0.67.0-release.html.md
  www/source/blog/2018-11-07-0.68.0-release.html.md
  www/source/blog/2018-11-27-0.69.0-release.html.md
  www/source/blog/2018-12-19-0.71.0-release.html.md
  www/source/blog/2019-01-04-0.72.0-release.html.md
  www/source/blog/2019-01-15-0.73.0-release.html.md
  www/source/blog/2019-02-06-0.74.0-release.html.md
  www/source/blog/2019-02-20-0.75.0-release.html.md
  www/source/blog/2019-02-28-0.76.0-release.html.md
  www/source/blog/2019-03-01-0.77.0-release.html.md
  www/source/blog/2019-03-13-0.78.0-release.html.md
  www/source/blog/2019-04-09-0.79.0-release.html.md
  www/source/demo/windows/steps/1.html.slim
  www/source/docs/about-analytics.html.md
  www/source/docs/best-practices/running-habitat-servers.html.md.erb
  www/source/docs/developing-packages/developing-packages.html.md.erb
  www/source/docs/habitat-and-other-software/habitat-and-continuous-integration.html.md.erb
  www/source/docs/habitat-and-other-software/habitat-and-other-software.html.md.erb
  www/source/docs/habitat-and-other-software/habitat-and-others.html.md.erb
  www/source/docs/index.html.slim
  www/source/docs/install-habitat/install-cli.html.md.erb
  www/source/docs/install-habitat/installing-packages.html.md.erb
  www/source/docs/using-builder/sharing-pkgs.html.md.erb
  www/source/docs/using-habitat/config-updates.html.md.erb
  www/source/docs/using-habitat/continuous-deployment.html.md.erb
  www/source/docs/using-habitat/file-uploads.html.md.erb
  www/source/docs/using-habitat/monitor-services.html.md.erb
  www/source/docs/using-habitat/remote-control.html.md.erb
  www/source/docs/using-habitat/service-groups.html.md.erb
  www/source/docs/using-habitat/setting-up-a-ring.html.md.erb
  www/source/docs/using-habitat/topologies.html.md.erb
  www/source/docs/using-habitat/using-encryption.html.md.erb
  www/source/docs/using-habitat/using-habitat.html.md.erb
  www/source/docs/using-habitat/using-packages.html.md.erb
  www/source/docs/using-habitat/using-updates.html.md.erb
  www/source/layouts/_nav.slim
  www/source/layouts/sidebar.slim
  www/source/learn/index.html.slim
  www/source/partials/demo/_install_the_tools.html.slim
  www/source/partials/docs/_bp-continuous-deployment.html.md.erb
Labels: A-documentation

#7344 Habitat Pattern Library
  www/data/docs_sidebar.yml
  www/source/docs/best-practices.html.md.erb
  www/source/docs/pattern-library.html.md.erb
  www/source/partials/docs/examples/kubernetes_hab_bastion/hab-bastion-consumer.yaml
  www/source/partials/docs/examples/kubernetes_hab_bastion/hab-bastion.yaml
  www/source/partials/docs/examples/kubernetes_hab_bastion/plan.sh
Labels: A-documentation

#7360 Experimental config file support behind `HAB_FEAT_CONFIG_FILE` feature flag
  Cargo.lock
  components/common/src/lib.rs
  components/core/Cargo.toml
  components/core/src/service.rs
  components/hab/Cargo.toml
  components/hab/src/cli.rs
  components/hab/src/cli/structs.rs
  components/sup-protocol/Cargo.toml
  components/sup-protocol/src/types.rs
Labels: X-feature

#7445 adds hab origin info subcommand
  components/builder-api-client/src/builder.rs
  components/builder-api-client/src/lib.rs
  components/core/src/error.rs
  components/hab/src/cli.rs
  components/hab/src/command/origin.rs
  components/hab/src/command/origin/info.rs
  components/hab/src/command/origin/invitations/list_pending_origin.rs
  components/hab/src/command/origin/invitations/list_user.rs
  components/hab/src/main.rs
Labels: X-feature

#7457 [Docs] Add basic `hab pkg download` file docs
  www/data/docs_sidebar.yml
  www/source/docs/pattern-library.html.md.erb
Labels: Documentation

#7462 Remove ACI exporter
  .bldr.toml
  .expeditor/release_habitat.pipeline.yml
  .expeditor/verify.pipeline.yml
  components/hab/src/command/pkg/export.rs
  components/pkg-aci/bin/hab-pkg-aci.sh
  components/pkg-aci/habitat/plan.sh
  www/source/about/habitat-and-workload-placement.html.slim
  www/source/docs/best-practices.html.md.erb
  www/source/docs/developing-packages.html.md.erb
  www/source/index.html.slim
Labels: X-change

#7463 Remove Kubernetes and Helm exporters
  .bldr.toml
  .expeditor/release_habitat.pipeline.yml
  .expeditor/verify.pipeline.yml
  Cargo.lock
  Cargo.toml
  Makefile
  README.md
  RELEASE.md
  components/hab/src/cli.rs
  components/hab/src/cli/hab/pkg.rs
  components/hab/src/command/pkg/export.rs
  components/hab/src/command/pkg/export/helm.rs
  components/hab/src/command/pkg/export/kubernetes.rs
  components/hab/src/main.rs
  components/pkg-export-helm/Cargo.toml
  components/pkg-export-helm/defaults/HelmChartFile.hbs
  components/pkg-export-helm/defaults/HelmDeps.hbs
  components/pkg-export-helm/habitat/plan.sh
  components/pkg-export-helm/src/chart.rs
  components/pkg-export-helm/src/chartfile.rs
  components/pkg-export-helm/src/deps.rs
  components/pkg-export-helm/src/error.rs
  components/pkg-export-helm/src/main.rs
  components/pkg-export-helm/src/maintainer.rs
  components/pkg-export-helm/src/values.rs
  components/pkg-export-kubernetes/Cargo.toml
  components/pkg-export-kubernetes/defaults/KubernetesManifest.hbs
  components/pkg-export-kubernetes/habitat/plan.sh
  components/pkg-export-kubernetes/src/cli.rs
  components/pkg-export-kubernetes/src/env.rs
  components/pkg-export-kubernetes/src/error.rs
  components/pkg-export-kubernetes/src/hb.rs
  components/pkg-export-kubernetes/src/lib.rs
  components/pkg-export-kubernetes/src/main.rs
  components/pkg-export-kubernetes/src/manifest.rs
  components/pkg-export-kubernetes/src/manifestjson.rs
  components/pkg-export-kubernetes/src/service_bind.rs
  components/pkg-export-kubernetes/src/storage.rs
  components/pkg-export-kubernetes/src/topology.rs
  components/pkg-export-kubernetes/tests/KubernetesManifestTest.yaml
  components/pkg-export-kubernetes/tests/KubernetesManifestTestBinds.yaml
  components/pkg-export-kubernetes/tests/KubernetesManifestTestEnvironment.yaml
  components/pkg-export-kubernetes/tests/KubernetesManifestTestPersistentStorage.yaml
  www/data/docs_sidebar.yml
  www/source/docs/best-practices.html.md.erb
  www/source/docs/habitat-and-other-software.html.md.erb
  www/source/get-started/index.html.slim
  www/source/get-started/kubernetes/index.html.slim
Labels: X-change

#7500 Allow dev environment setup script to work locally or in Vagrant
  Vagrantfile
  support/linux/install_dev_9_linux.sh
Labels: X-fix
