Repository habitat-sh/habitat, changes with the owners that CODEOWNERS names for each.
All owners: @fnichol, @baumanj, @christophermaier, @reset, @raskchanky, @chefsalim, @eeyun, @cnunciato, @mgamini

CODEOWNERS:

components/backline @fnichol @baumanj
components/butterfly* @christophermaier @reset
components/common @fnichol @baumanj
components/eventsrv* @reset @raskchanky
components/hab* @reset @fnichol @christophermaier @baumanj
components/launcher* @reset @baumanj
components/net @reset @baumanj
components/pkg-* @fnichol
components/plan-build @fnichol @christophermaier
components/studio @fnichol @baumanj
components/sup @christophermaier @reset @fnichol @baumanj
support @fnichol @baumanj
tools @baumanj @chefsalim @christophermaier @eeyun
www @cnunciato @mgamini

Encrypt and upload secrets. Todo: Delete, list
  Cargo.lock
  components/builder-depot-client/src/lib.rs
  components/common/src/ui.rs
  components/hab/src/cli.rs
  components/hab/src/command/origin/key/download.rs
  components/hab/src/command/origin/secret/delete.rs
  components/hab/src/command/origin/secret/list.rs
  components/hab/src/command/origin/secret/mod.rs
  components/hab/src/command/origin/secret/upload.rs
  components/hab/src/main.rs
Owners: @fnichol, @baumanj, @reset, @christophermaier

fixes pkg_svc_run when FS_ROOT is set
  components/plan-build-ps1/bin/hab-plan-build.ps1
Owners: none

Added some summary copy so it's clearer why we have this page.
  www/source/get-started/cloudfoundry/index.html.slim
Owners: @cnunciato, @mgamini

Exposes members from group struct via new fn
  src/os/users/linux.rs
Owners: none

Added some summary copy so it's clearer why we have this page.
  www/config.rb
  www/source/get-started/cloudfoundry/index.html.slim
Owners: @cnunciato, @mgamini

Add Kubernetes deployment flow infographic under Reference in Doc
  www/source/images/infographics/deploy-services-to-kubernetes-with-habitat-flow.png
  www/source/partials/docs/_reference-infographics.html.md.erb
Owners: @cnunciato, @mgamini

Ignores sudo requirement for docker studio if user is member of "docker"
  Cargo.lock
  components/hab/src/command/studio/enter.rs
Owners: @reset, @fnichol, @christophermaier, @baumanj

pkg-export-helm: Update URL to habitat-operator
  components/pkg-export-helm/src/deps.rs
Owners: @fnichol

pkg-export-helm: Disable addition of operator dep into charts
  components/pkg-export-helm/src/deps.rs
Owners: @fnichol

Add CodeTriage badge to habitat-sh/habitat
  README.md
Owners: none

add note about running private packages from builder
  www/source/partials/docs/_dev-pkgs-share.html.md.erb
Owners: @cnunciato, @mgamini

moving build system demo note in doc
  www/source/docs/using-builder.html.md.erb
  www/source/partials/docs/_using-builder-automated-builds.html.md.erb
Owners: @cnunciato, @mgamini

s/export/add to avoid confusion
  www/source/partials/docs/_dev-pkgs-share.html.md.erb
Owners: @cnunciato, @mgamini

[www] Update the Install docs to use Personal Access Tokens
  www/source/docs/using-habitat.html.md.erb
  www/source/partials/docs/_quickstart.html.md.erb
  www/source/partials/docs/_using-hab-config-workstation.html.md.erb
  www/source/partials/global/_configure-workstation.html.slim
Owners: @cnunciato, @mgamini

errant slash
  www/source/get-started/cloudfoundry/index.html.slim
Owners: @cnunciato, @mgamini

errant slash (#4757)
  www/source/get-started/cloudfoundry/index.html.slim
Owners: @cnunciato, @mgamini

clarification on root filesystem
  www/source/partials/docs/_dev-pkgs-share.html.md.erb
Owners: @cnunciato, @mgamini

Complete documentation coverage of all templating variables
  components/sup/src/census.rs
  components/sup/src/manager/service/package.rs
  components/sup/src/manager/sys.rs
  components/sup/src/templating/context.rs
  www/source/partials/docs/_reference-template-data.html.md.erb
Owners: @christophermaier, @reset, @fnichol, @baumanj, @cnunciato, @mgamini

add note to release doc about killing non release builds after tag push
  RELEASE.md
Owners: none

[studio] Update stage1 tarball.
  components/studio/libexec/hab-studio-type-stage1.sh
Owners: @fnichol, @baumanj

Document how to evaluate a release candidate
  RELEASE.md
Owners: none

[core] Implement `Cow<'a, PackageIdent>` for `PackageIdent`.
  src/package/ident.rs
Owners: none

Add idea files to .gitignore
  .gitignore
Owners: none

use link to access token documentation
  www/source/partials/docs/_using-hab-config-workstation.html.md.erb
Owners: @cnunciato, @mgamini

add curlbash to linux install options + cleanup faq
  www/source/partials/docs/_using-hab-install-faq.html.md.erb
  www/source/partials/global/_download-and-install.slim
Owners: @cnunciato, @mgamini

add heading to bring this in line with the look of other install sections
  www/source/partials/global/_download-and-install.slim
Owners: @cnunciato, @mgamini

correct capitalization stuff
  www/source/partials/docs/_using-hab-install-faq.html.md.erb
Owners: @cnunciato, @mgamini

Link to /learn and /install-habitat from the README
  README.md
Owners: none

more capitalization + wording fixes
  www/source/partials/docs/_using-hab-install-faq.html.md.erb
Owners: @cnunciato, @mgamini
