Repository habitat-sh/habitat, changes with the owners that CODEOWNERS names for each.
All owners: @reset, @fnichol, @christophermaier, @raskchanky, @scotthain, @baumanj, @chefsalim, @apriofrost, @elliott-davis, @eeyun, @cnunciato, @mgamini, @kagarmoe, @mjingle

CODEOWNERS:

* @reset @fnichol @christophermaier @raskchanky
.buildkite @christophermaier @fnichol @scotthain
components/backline @fnichol @baumanj
components/builder* @chefsalim @raskchanky
components/butterfly* @christophermaier @reset @baumanj @fnichol @raskchanky
components/common/src/command @apriofrost
components/common @fnichol @baumanj @raskchanky
components/eventsrv/src/main.rs @apriofrost
components/eventsrv* @reset @raskchanky
components/hab/src/analytics.rs @apriofrost
components/hab/src/cli.rs @apriofrost
components/hab/src/main.rs @apriofrost
components/hab/src/command @apriofrost
components/hab* @reset @fnichol @christophermaier @chefsalim @baumanj @elliott-davis @raskchanky @eeyun
components/launcher/src/main.rs @apriofrost
components/launcher* @christophermaier @reset @baumanj @raskchanky
components/pkg-export-docker/src/cli.rs @apriofrost
components/pkg-export-docker/src/lib.rs @apriofrost
components/pkg-export-helm/src/chart.rs @apriofrost
components/pkg-export-helm/src/chartfile.rs @apriofrost
components/pkg-export-helm/src/deps.rs @apriofrost
components/pkg-export-helm/src/main.rs @apriofrost
components/pkg-export-helm/src/maintainer.rs @apriofrost
components/pkg-export-kubernetes/src/cli.rs @apriofrost
components/pkg-export-kubernetes/src/env.rs @apriofrost
components/pkg-export-kubernetes/src/lib.rs @apriofrost
components/pkg-export-kubernetes/src/main.rs @apriofrost
components/pkg-export-kubernetes/src/manifest.rs @apriofrost
components/pkg-export-kubernetes/src/service_bind.rs @apriofrost
components/pkg-export-kubernetes/src/storage.rs @apriofrost
components/pkg-export-tar/src/build.rs @apriofrost
components/pkg-export-tar/src/cli.rs @apriofrost
components/pkg-export-tar/src/lib.rs @apriofrost
components/pkg-export-tar/src/main.rs @apriofrost
components/pkg-* @fnichol @christophermaier @eeyun
components/plan-build/bin/hab-plan-build.sh @apriofrost
components/plan-build-ps1/bin/hab-plan-build.ps1 @apriofrost
components/plan-build @fnichol @christophermaier @elliott-davis @scotthain
components/rootless_studio @elliott-davis
components/studio/bin/hab-studio.sh @apriofrost
components/studio @fnichol @baumanj @elliott-davis @eeyun
components/sup/src/main.rs @apriofrost
components/sup/src/command @apriofrost
components/sup* @christophermaier @reset @fnichol @baumanj @raskchanky
support @fnichol @baumanj @elliott-davis @raskchanky
tools @baumanj @chefsalim @christophermaier @eeyun @raskchanky @fnichol
www @cnunciato @mgamini @raskchanky @kagarmoe @mjingle
UX_PRINCIPLES.md @apriofrost

Grow the swim messages buffer to 4kb
  components/butterfly/src/server/inbound.rs
Owners: @christophermaier, @reset, @baumanj, @fnichol, @raskchanky

Update census generation
  components/sup/src/census.rs
  components/sup/src/manager/mod.rs
  components/sup/src/manager/service/hooks.rs
Owners: @christophermaier, @reset, @fnichol, @baumanj, @raskchanky

Raise the limit of open file descriptors to the hard limit
  Cargo.lock
  components/butterfly-test/Cargo.toml
  components/butterfly-test/src/lib.rs
Owners: @reset, @fnichol, @christophermaier, @raskchanky, @baumanj

Use BfUuid to generate id strings
  components/butterfly/src/member.rs
  components/butterfly/src/rumor/heat.rs
  components/butterfly/src/rumor/mod.rs
Owners: @christophermaier, @reset, @baumanj, @fnichol, @raskchanky

Add a simple file watcher
  components/sup/src/manager/mod.rs
  components/sup/src/manager/simple_file_watcher.rs
Owners: @christophermaier, @reset, @fnichol, @baumanj, @raskchanky

Extend service rumor with additional ports information
  components/butterfly-test/src/lib.rs
  components/butterfly/protocols/newscast.proto
  components/butterfly/src/generated/butterfly.newscast.rs
  components/butterfly/src/rumor/service.rs
  components/butterfly/src/server/mod.rs
  components/butterfly/src/zone.rs
  components/sup/src/census.rs
  components/sup/src/manager/service/hooks.rs
  components/sup/src/manager/service/mod.rs
Owners: @christophermaier, @reset, @baumanj, @fnichol, @raskchanky

Add network abstraction for butterfly
  components/butterfly/src/lib.rs
  components/butterfly/src/network.rs
Owners: @christophermaier, @reset, @baumanj, @fnichol, @raskchanky

Add additional addresses file watcher
  components/sup/src/manager/extra_data.rs
Owners: @christophermaier, @reset, @fnichol, @baumanj, @raskchanky

Use the new network abstraction in the butterfly server
  components/butterfly-test/src/lib.rs
  components/butterfly/src/main.rs
  components/butterfly/src/member.rs
  components/butterfly/src/rumor/dat_file.rs
  components/butterfly/src/server/expire.rs
  components/butterfly/src/server/inbound.rs
  components/butterfly/src/server/mod.rs
  components/butterfly/src/server/outbound.rs
  components/butterfly/src/server/pull.rs
  components/butterfly/src/server/push.rs
  components/butterfly/src/trace.rs
  components/sup/src/manager/mod.rs
  components/sup/src/manager/service_updater.rs
Owners: @christophermaier, @reset, @baumanj, @fnichol, @raskchanky

Fix butterfly server serialization
  components/butterfly/src/server/mod.rs
Owners: @christophermaier, @reset, @baumanj, @fnichol, @raskchanky

Make gossip and swim port fields in Member u16
  Cargo.lock
  components/butterfly-test/src/lib.rs
  components/butterfly/Cargo.toml
  components/butterfly/src/lib.rs
  components/butterfly/src/main.rs
  components/butterfly/src/member.rs
  components/butterfly/src/server/mod.rs
  components/sup/src/manager/mod.rs
  components/sup/src/manager/peer_watcher.rs
Owners: @reset, @fnichol, @christophermaier, @raskchanky, @baumanj

Avoid repetition of the messages about poisoned services lock
  components/sup/src/manager/mod.rs
Owners: @christophermaier, @reset, @fnichol, @baumanj, @raskchanky

Fill tagged ports in supervisor service with data taken from watcher
  components/hab/src/cli.rs
  components/sup/src/main.rs
  components/sup/src/manager/mod.rs
Owners: @reset, @fnichol, @christophermaier, @chefsalim, @baumanj, @elliott-davis, @raskchanky, @eeyun

Add a BfUuid struct
  components/butterfly/src/message.rs
Owners: @christophermaier, @reset, @baumanj, @fnichol, @raskchanky

Use Into trait for service in newscast wrapper
  components/butterfly/src/protocol/newscast.rs
Owners: @christophermaier, @reset, @baumanj, @fnichol, @raskchanky

Avoid constant repetition of messages about poisoned member lock
  components/butterfly-test/src/lib.rs
  components/butterfly/src/server/mod.rs
  components/butterfly/src/server/outbound.rs
  components/butterfly/tests/integration.rs
  components/butterfly/tests/rumor/election.rs
Owners: @christophermaier, @reset, @baumanj, @fnichol, @raskchanky

Raise gossip rounds, hopefully not needed
  components/butterfly-test/src/lib.rs
Owners: @christophermaier, @reset, @baumanj, @fnichol, @raskchanky

Add network switchboard
  components/butterfly/tests/integration.rs
  components/butterfly/tests/nat/mod.rs
Owners: @christophermaier, @reset, @baumanj, @fnichol, @raskchanky

Add tagged ports to service data structure used by supervisor
  components/sup/src/manager/mod.rs
  components/sup/src/manager/service/mod.rs
Owners: @christophermaier, @reset, @fnichol, @baumanj, @raskchanky

Partially revert "Miscellaneous code removal"
  components/butterfly/src/member.rs
Owners: @christophermaier, @reset, @baumanj, @fnichol, @raskchanky

Discover host address of a member immediately
  components/butterfly-test/src/lib.rs
  components/butterfly/src/main.rs
  components/butterfly/src/server/mod.rs
  components/sup/src/manager/mod.rs
Owners: @christophermaier, @reset, @baumanj, @fnichol, @raskchanky

Add an error for an invalid field in the protocol message
  components/butterfly/src/error.rs
Owners: @christophermaier, @reset, @baumanj, @fnichol, @raskchanky

Port peer watcher to simple file watcher
  components/sup/src/manager/peer_watcher.rs
Owners: @christophermaier, @reset, @fnichol, @baumanj, @raskchanky

Add zones
  components/butterfly-test/src/lib.rs
  components/butterfly/protocols/newscast.proto
  components/butterfly/protocols/swim.proto
  components/butterfly/src/generated/butterfly.newscast.rs
  components/butterfly/src/generated/butterfly.swim.rs
  components/butterfly/src/lib.rs
  components/butterfly/src/member.rs
  components/butterfly/src/rumor/mod.rs
  components/butterfly/src/server/inbound.rs
  components/butterfly/src/server/mod.rs
  components/butterfly/src/server/outbound.rs
  components/butterfly/src/server/pull.rs
  components/butterfly/src/server/push.rs
  components/butterfly/src/server/zones.rs
  components/butterfly/src/swim.rs
  components/butterfly/src/trace.rs
  components/butterfly/src/zone.rs
Owners: @christophermaier, @reset, @baumanj, @fnichol, @raskchanky

Drop unused errors
  components/butterfly/src/error.rs
Owners: @christophermaier, @reset, @baumanj, @fnichol, @raskchanky

Add a network implementation for real-world usage
  components/butterfly/src/error.rs
  components/butterfly/src/network.rs
Owners: @christophermaier, @reset, @baumanj, @fnichol, @raskchanky

Drop unused code and deps
  Cargo.lock
  components/butterfly/Cargo.toml
  components/butterfly/src/lib.rs
  components/butterfly/src/network.rs
Owners: @reset, @fnichol, @christophermaier, @raskchanky, @baumanj

Use the new network abstraction in butterfly client
  components/butterfly-test/src/lib.rs
  components/butterfly/src/client.rs
  components/butterfly/tests/rumor/departure.rs
  components/butterfly/tests/rumor/service_config.rs
  components/butterfly/tests/rumor/service_file.rs
  components/sup/src/manager/mod.rs
  components/sup/tests/utils/test_butterfly.rs
Owners: @christophermaier, @reset, @baumanj, @fnichol, @raskchanky

Add some tests
  components/butterfly/tests/nat/mod.rs
  components/butterfly/tests/nat/nat.rs
Owners: @christophermaier, @reset, @baumanj, @fnichol, @raskchanky

Drop public access to private structs
  components/butterfly/src/server/zones.rs
Owners: @christophermaier, @reset, @baumanj, @fnichol, @raskchanky

Force sending pings from the initial members list
  components/butterfly/src/server/outbound.rs
Owners: @christophermaier, @reset, @baumanj, @fnichol, @raskchanky

Drop uuid from variable names
  components/butterfly/src/server/inbound.rs
  components/butterfly/src/server/mod.rs
  components/butterfly/src/server/outbound.rs
  components/butterfly/src/server/push.rs
  components/butterfly/src/server/zones.rs
  components/butterfly/src/zone.rs
  components/butterfly/tests/nat/mod.rs
Owners: @christophermaier, @reset, @baumanj, @fnichol, @raskchanky

Come up with some better names
  components/butterfly/src/server/inbound.rs
  components/butterfly/src/server/zones.rs
Owners: @christophermaier, @reset, @baumanj, @fnichol, @raskchanky

Refactor zone handling
  components/butterfly/src/zone.rs
Owners: @christophermaier, @reset, @baumanj, @fnichol, @raskchanky

Make debug info about zones a bit more useful
  components/butterfly/src/server/inbound.rs
  components/butterfly/src/server/zones.rs
Owners: @christophermaier, @reset, @baumanj, @fnichol, @raskchanky

Fix pingreq in multizone setup
  components/butterfly/src/member.rs
  components/butterfly/src/server/outbound.rs
Owners: @christophermaier, @reset, @baumanj, @fnichol, @raskchanky

Drop unused function
  components/butterfly/src/zone.rs
Owners: @christophermaier, @reset, @baumanj, @fnichol, @raskchanky

Fix an infrequent panic in zone handling
  components/butterfly/src/zone.rs
Owners: @christophermaier, @reset, @baumanj, @fnichol, @raskchanky

Make some types and functions private
  components/butterfly/src/server/zones.rs
Owners: @christophermaier, @reset, @baumanj, @fnichol, @raskchanky

Add some tests for the zone handling
  components/butterfly/src/zone.rs
Owners: @christophermaier, @reset, @baumanj, @fnichol, @raskchanky
