Repository habitat-sh/habitat, changes with the owners that CODEOWNERS names for each.
All owners: @fnichol, @cnunciato, @raskchanky, @mgamini, @chefsalim, @reset, @christophermaier

CODEOWNERS:

components/backline @fnichol
components/builder-web @cnunciato @raskchanky @mgamini
components/builder-* @chefsalim @raskchanky @reset
components/butterfly* @christophermaier @reset
components/common @fnichol
components/core @reset @fnichol
components/eventsrv* @reset
components/hab* @reset @fnichol
components/http-client @fnichol
components/launcher* @reset
components/net @reset
components/pkg-* @fnichol
components/plan-build @fnichol
components/studio @fnichol
components/sup @christophermaier @reset @fnichol
support @fnichol
www @cnunciato @mgamini

removing login requirement for build output screen
  components/builder-web/app/package-builds/package-builds.component.spec.ts
  components/builder-web/app/package-builds/package-builds.component.ts
Owners: @chefsalim, @raskchanky, @reset

allowing build outputs to be publicly viewable
  components/builder-web/app/build/build.component.spec.ts
  components/builder-web/app/build/build.component.ts
  components/builder-web/app/package-builds/package-builds.component.ts
  components/builder-web/app/package-page/PackagePageComponent.ts
  components/builder-web/app/packages-page/packages-page.component.ts
Owners: @chefsalim, @raskchanky, @reset

Resolve symlinks when searching for keys
  components/core/src/crypto/keys/mod.rs
Owners: @reset, @fnichol

Resolve symlinks when searching for keys
  src/crypto/keys/mod.rs
Owners: none

Fix Supervisor re-attaching to processes after update & service update
  components/sup/src/manager/mod.rs
  components/sup/src/manager/service/mod.rs
  components/sup/src/manager/service/supervisor.rs
  components/sup/src/manager/service_updater.rs
Owners: @christophermaier, @reset, @fnichol

removing restriction for builds in progress
  components/builder-web/app/build-page/build-page.component.ts
  components/builder-web/app/package-builds/package-builds.component.spec.ts
  components/builder-web/app/package-builds/package-builds.component.ts
Owners: @chefsalim, @raskchanky, @reset

whitespace
  components/builder-web/app/build-page/build-page.component.ts
Owners: @chefsalim, @raskchanky, @reset

removing restriction for builds in progress (#2970)
  components/builder-web/app/build-page/build-page.component.ts
  components/builder-web/app/package-builds/package-builds.component.spec.ts
  components/builder-web/app/package-builds/package-builds.component.ts
Owners: @chefsalim, @raskchanky, @reset

Add sealed box encryption support
  components/butterfly/src/rumor/service_config.rs
  components/butterfly/src/rumor/service_file.rs
  components/core/src/crypto/keys/box_key_pair.rs
  components/core/src/crypto/mod.rs
  components/hab-butterfly/src/command/config.rs
  components/hab-butterfly/src/command/file.rs
Owners: @christophermaier, @reset, @fnichol

Add sealed box encryption support
  src/crypto/keys/box_key_pair.rs
  src/crypto/mod.rs
Owners: none

Write out a pre_build.env file before a build happens.
  components/builder-api/src/http/handlers.rs
  components/builder-worker/src/runner/mod.rs
  components/builder-worker/src/runner/workspace.rs
  components/plan-build-ps1/bin/hab-plan-build.ps1
  components/plan-build/bin/hab-plan-build.sh
Owners: @chefsalim, @raskchanky, @reset, @fnichol
